<title>TinyFugue: display attributes</title>
<!--"@hilites"-->
<!--"@gags"-->
<!--"@underline"-->
<!--"@reverse"-->
<!--"@flash"-->
<!--"@dim"-->
<!--"@bell"-->
<!--"@bold"-->
<!--"@attributes"-->
<!--"@display attributes"-->
<!--"@attribute"-->
<h1>display attributes</h1>

<p>
  Many TF commands take an argument to specify an
  <a href="../topics/attributes.html">attribute</a> list,
  containing one or more of:
  n, x, g, G, u, r, f, d, B, b, h, C<i>color</i>.
  The attribute codes stand for:
  none, exclusive, <a href="../topics/attributes.html">gag</a>, norecord,
  underline, reverse, flash, dim, Bold, bell,
  <a href="../topics/attributes.html">hilite</a>, and
  <a href="../topics/colors.html">Color</a>.  These
  <a href="../topics/attributes.html">attributes</a> are used to display text
  associated with the command.
  Use commas to separate attributes within an attribute list; commas may be
  omitted between single-letter attributes.  For example,
  "<code>BuCred,Cbgyellow</code>" means bold underlined red text on a yellow
  background.

<p>
  "None" ("n") is useful only for finding macros without attributes, e.g.
  "<code><a href="../commands/list.html">list</a> -an</code>".

<p>
  Normally, new attributes are combined with the pre-existing attributes.
  But if the new attributes include "x" (exclusive), the pre-existing
  display attributes are turned off first.

  So, for example, if one trigger with
  <a href="../commands/def.html#-a">-a</a>u and another trigger with
  <a href="../commands/def.html#-P">-P</a>r match the same line, the whole
  line will be underlined and part of it will also be reversed; but if the
  second trigger had <a href="../commands/def.html#-P">-P</a>xr instead,
  then most of the line would be underlined, and part would be reversed but
  not underlined.

<p>
  "G" (norecord) prevents the line from being recorded in
  <a href="../topics/history.html">history</a> (however, if
  <a href="../commands/log.html">logging</a> is enabled, the line will be
  <a href="../commands/log.html">logged</a>).

<p>
  "C<i>name</i>" (<a href="../topics/colors.html">Color</a>) allows you to
  specify black, red, green, yellow, blue, magenta, cyan, white, 8 thru 15,
  bgblack, bgred, bggreen, bgyellow, bgblue, bgmagenta, bgcyan, or bgwhite.
  The "C" must be followed by the <i>name</i> of the color; a comma after
  the <i>name</i> can be used to separate it from attributes that follow it.
  See: <a href="../topics/colors.html">color</a>.

<p>
  "h" (<a href="../topics/attributes.html">hilite</a>)
  <a href="../topics/attributes.html">attribute</a> is special.  If
  specified, the <a href="../topics/attributes.html">attributes</a> listed in
  the <a href="../topics/special_variables.html#hiliteattr">%{hiliteattr}</a>
  <a href="../topics/variables.html">variable</a> will be combined with the
  other <a href="../topics/attributes.html">attributes</a> listed.  For
  example, the commands
<pre>
      <a href="../commands/set.html">/set</a> <a href="../topics/special_variables.html#hiliteattr">hiliteattr</a>=r
      <a href="../commands/echo.html">/echo</a> -ahu foobar
</pre>
  will display the word "foobar" with reverse and underline
  <a href="../topics/attributes.html">attributes</a>.
  <a href="../topics/special_variables.html#hiliteattr">%{hiliteattr}</a>
  makes it easy to change the meaning of all your hilite macros at once,
  without editing each one individually.

<p>
  All <a href="../topics/attributes.html">attributes</a> except 'n' may be
  combined usefully.  (Even <a href="../topics/attributes.html">gag</a>s can
  be combined with other <a href="../topics/attributes.html">attributes</a>:
  combining 'g' and 'B', for example, will
  <a href="../topics/attributes.html">gag</a> the text initially, but will
  display it as bold if it is recalled with
  <a href="../commands/recall.html">/recall</a> -ag.)

<p>
  It is possible to apply
  <a href="../topics/attributes.html">attributes</a> to a part of a line,
  using <a href="../commands/partial.html">/partial</a> or the
  <a href="../commands/def.html#-P">-P</a> option of
  <a href="../commands/def.html">/def</a>.  If two or more partial 
  <a href="../topics/attributes.html">attributes</a> overlap, their
  effects will be combined (unless the "x" attribute is used).  For example,
  overlapping bold and reverse will appear bold and reverse;
  overlapping blue and red will appear magenta.

<p>
  Ansi <a href="../topics/attributes.html">attribute</a> codes sent by the
  server will be interpreted by tf if
  <a href="../topics/special_variables.html#emulation">%{emulation}</a> is
  set to "ansi_attr".  See:
  <a href="../topics/special_variables.html#emulation">%emulation</a>.

<p>
  <a href="../topics/attributes.html">Attributes</a> not supported by your
  terminal type will be ignored.

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
