<title>TinyFugue: %catch_ctrls</title>
<!--"@%catch_ctrls"-->
<h1>%catch_ctrls</h1>
  See: <a href="../topics/special_variables.html#emulation">%emulation</a>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
