<title>TinyFugue: copyright</title>
<!--"@copy"-->
<!--"@warranty"-->
<!--"@copying"-->
<!--"@copyright"-->
<h1>copyright</h1>

<p>
  TinyFugue - programmable mud client<br>
  Copyright &copy; 1993 - 1999 Ken Keys

<p>
  Regexp package is Copyright &copy; 1986 by University of Toronto.

<p>
  For bug reports, questions, suggestions, etc., I can be reached by email at
  hawkeye@tf.tcp.com.  For problems specific to the OS/2 version, contact
  Andreas Sahlbach at asa@stardiv.de.  Please see
  "<a href="../topics/problems.html">problems</a>"
  before sending a bug report.

<p>
  This program is free software; you can redistribute it and/or modify it
  under the terms of the
  <a href="../COPYING">GNU General Public License</a>
  as published by the Free
  Software Foundation; either version 2 of the
  <a href="../COPYING">License</a>, or (at your option)
  any later version.

<p>
  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  FITNESS FOR A PARTICULAR PURPOSE.  See the
  <a href="../COPYING">GNU General Public License</a> for more details.

<p>
  You should have received a copy of the
  <a href="../COPYING">GNU General Public License</a> along
  with this program; if not, write to the Free Software Foundation, Inc., 675
  Mass Ave, Cambridge, MA 02139, USA.

<p>
<a name="sites"></a>
<a name="find"></a>
<a name="where"></a>
<a name="www"></a>
<a name="ftp"></a> The latest version of TinyFugue can be found at:
  <ul>
  <li><a href="ftp://tf.tcp.com/pub/tinyfugue/">
  ftp://tf.tcp.com/pub/tinyfugue/</a>
  <li><a href="http://ftp.tcp.com/pub/mud/Clients/tinyfugue/">
  http://ftp.tcp.com/pub/mud/Clients/tinyfugue/</a>
  <li>Australia: <a href="ftp://ftp.progsoc.uts.edu.au/pub/tinyfugue/">
  ftp://ftp.progsoc.uts.edu.au/pub/tinyfugue/</a>
  </ul>

<p>
  Other ftp sites may not have the latest version.

<p>
  Also see
  <a href="http://tf.tcp.com/~hawkeye/tf/">http://tf.tcp.com/~hawkeye/tf/</a>
  for the latest info on TF.

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
