<title>TinyFugue: expressions</title>
<!--"@logic"-->
<!--"@math"-->
<!--"@strings"-->
<!--"@arithmetic"-->
<!--"@expression"-->
<!--"@expressions"-->
<h1>expressions</h1>

<p>
  <a href="../topics/expressions.html">Expressions</a> apply operators
  to numeric and string operands, and return a result.
  They can be used in
  <a href="../topics/substitution.html#$[">$[...] expression subs</a>,
  the condition of
  <a href="../commands/if.html">/if</a> and
  <a href="../commands/while.html">/while</a> statements,
  the condition of <a href="../commands/def.html#-E">/def -E</a>,
  and as arguments to <a href="../commands/return.html">/return</a>,
  <a href="../commands/return.html">/result</a>, and
  <a href="../commands/test.html">/test</a> commands.

<p>
<a name="float"></a>
<a name="integer"></a>
<a name="string"></a>
<a name="hours:minutes:seconds"></a>
<a name="hours:minutes"></a>
<a name="hh:mm"></a>
<a name="hh:mm:ss"></a>
<a name="operands"></a>
<h2>Operands</h2>
  Operands can be any of:
  <ul>
  <li>Integer constants like <code>42</code>.
  <li>Floating point constants ("floats", for short) containing a decimal
      point (<code>12.3</code>) or exponent (<code>1e-2</code>) or both
      (<code>1.2e3</code>).
  <li>Time values of the form <i>hours</i>:<i>minutes</i> or
      <i>hours</i>:<i>minutes</i>:<i>seconds</i> (will be converted to
      integer seconds, and can be used anywhere integers are expected).
  <li>Strings of characters, surrounded with quotes (", ', or `, with the
      same kind of quote on each end), like <code>"hello world"</code>.
  <li><a href="../topics/variables.html">Variable</a> references (see below)
      like <code>wrapsize</code>.
  <li><a href="../topics/substitution.html#%{">Variable substitutions</a>
      (see below) like <code>{wrapsize}</code> and <code>{1}</code>.
  <li><a href="../topics/substitution.html#${">Macro substitutions</a>
      like <code>${COMPRESS_SUFFIX}</code>.
  <li><a href="../topics/substitution.html#$(">Command substitutions</a>
      like <code>$(<a href="../commands/listworlds.html">/listworlds</a>
      -s)</code>.
  </ul>

<p>
  Named <a href="../topics/variables.html">variables</a> may be accessed by
  simply using their name (with no leading '%').  This is called a
  <a href="../topics/variables.html">variable</a> reference, and is the
  preferred way of using a
  <a href="../topics/variables.html">variable</a> in an expression.
  The special substitutions
  (<a href="../topics/substitution.html#%*">*</a>,
  <a href="../topics/substitution.html#%?">?</a>,
  <a href="../topics/substitution.html#%#">#</a>,
  <a href="../topics/substitution.html#%n"><i>n</i></a>,
  <a href="../topics/substitution.html#%L">L<i>n</i></a>,
  <a href="../topics/substitution.html#%P">P<i>n</i></a>,
  <a href="../topics/substitution.html#%R">R</a>)
  may not be used this way.

<p>
  <a href="../topics/substitution.html#%{">Variable substitutions</a> of the
  form "<a href="../topics/substitution.html#%{">{selector}</a>" and
  "<a href="../topics/substitution.html#%{">{selector-default}</a>" may be
  used.  They follow the same rules as 
  <a href="../topics/substitution.html#%{">variable substitution</a> in
  macros, except that there is no leading
  '%', and the '{' and '}' are required.
  The special substitutions
  (<a href="../topics/substitution.html#%*">*</a>,
  <a href="../topics/substitution.html#%?">?</a>,
  <a href="../topics/substitution.html#%#">#</a>,
  <a href="../topics/substitution.html#%n"><i>n</i></a>,
  <a href="../topics/substitution.html#%L">L<i>n</i></a>,
  <a href="../topics/substitution.html#%P">P<i>n</i></a>,
  <a href="../topics/substitution.html#%R">R</a>)
  are allowed.

<p>
  Macro-style
  <a href="../topics/substitution.html#%{">variable substitutions</a>
  beginning with '%' may also be used, but are not
  recommended, since the multiple '%'s required in nested
  <a href="../topics/macros.html">macros</a> can quickly get confusing.  It
  always easier to use one of the above methods.


<p>
<a name="operators"></a>
<h2>Operators</h2>
  In the following list, operators are listed in groups, from highest to
  lowest precedence.  Operators listed together have equal precedence.  The
  letters in the table below correspond to the type of objects acted on by
  the operators:
  <var>n</var> and <var>m</var> for numeric (integer or float),
  <var>s</var> and <var>t</var> for string.
  All operators group left-to-right except assignment,
  which groups right-to-left.
  If any binary numeric operator is applied to two integers, the result
  will be an integer; but if either operand is a float, the other will
  be converted to float if it is not already a float, and the result will be
  a float.

<p>
  <dl>
  <dt>(<var>expression</var>)
          <dd>Parentheses, for grouping.

<p>
  <dt><var>fn</var>(<var>args</var>)
          <dd>Perform <a href="../topics/functions.html">function</a>
          <i>fn</i> on <i>args</i> (see:
          <a href="../topics/functions.html">functions</a>).

<p>
  <dt>!<var>n</var>
          <dd>Boolean NOT (1 if <var>n</var>==0, otherwise 0).
  <dt>+<var>n</var>
          <dd>Unary positive (useful for converting a string to a number).
  <dt>-<var>n</var>
          <dd>Unary negative.
  <dt>++<var>v</var>
          <dd>Adds 1 to variable <var>v</var> and returns its new value.
  <dt>--<var>v</var>
          <dd>Subtracts 1 from variable <var>v</var> and returns its new value.

<p>
  <dt><var>n</var> * <var>m</var>
          <dd>Numeric multiplication.
  <dt><var>n</var> / <var>m</var>
          <dd>Numeric division.

<p>
  <dt><var>n</var> + <var>m</var>
          <dd>Numeric addition.
  <dt><var>n</var> - <var>m</var>
          <dd>Numeric subtraction.

<p>
  <dt><var>n</var> = <var>m</var>
          <dd>Numeric equality.
  <dt><var>n</var> == <var>m</var>
          <dd>Numeric equality.
  <dt><var>n</var> != <var>m</var>
          <dd>Numeric inequality.
  <dt><var>s</var> =~ <var>t</var>
          <dd>String equality (case sensitive).
  <dt><var>s</var> !~ <var>t</var>
          <dd>String inequality (case sensitive).
  <dt><var>s</var> =/ <var>t</var>
          <dd>String <var>s</var> matches
          <a href="../topics/patterns.html#glob">glob</a> pattern <var>t</var>.
  <dt><var>s</var> !/ <var>t</var>
          <dd>String <var>s</var> does not match
          <a href="../topics/patterns.html#glob">glob</a> pattern <var>t</var>.
  <dt><var>n</var> &lt; <var>m</var>
          <dd>Numeric less than.
  <dt><var>n</var> &lt;= <var>m</var>
          <dd>Numeric less than or equal.
  <dt><var>n</var> &gt; <var>m</var>
          <dd>Numeric greater than.
  <dt><var>n</var> &gt;= <var>m</var>
          <dd>Numeric greater than or equal.

<p>
  <dt><var>n</var> &amp; <var>m</var>
          <dd>Boolean AND.  <var>m</var> will be evaluated if and only if
          <var>n</var> is true.

<p>
  <dt><var>n</var> | <var>m</var>
          <dd>Boolean OR.  <var>m</var> will be evaluated if and only if
          <var>n</var> is false.

<p>
  <dt><var>n</var> ? <var>a</var> : <var>b</var>
  <dt><var>n</var> ? : <var>b</var>
          <dd>Conditional.  If <var>n</var> is nonzero, the result is the
          value of <a href="../topics/expressions.html">expression</a>
          <var>a</var>; otherwise it is the value of
          <a href="../topics/expressions.html">expression</a> <var>b</var>.
          If <var>a</var> is omitted, the value of <var>n</var> is used in
          its place.

<p>
  <dt><var>v</var> := <var>s</var>
          <dd>Assignment.  The identifier "<var>v</var>" refers to the
          <a href="../topics/variables.html">variable</a> in the nearest scope.
          If not found, a new <a href="../topics/variables.html">variable</a>
          is created at the global level, as if by
          <a href="../commands/set.html">/set</a>.

<p>
  <dt><var>a</var> , <var>b</var>
          <dd>Comma.  <a href="../topics/expressions.html">Expressions</a>
          <var>a</var> and <var>b</var> are evaluated; the result is the
          value of <var>b</var>.  Only useful if <var>a</var> has some side
          effect.
  </dl>

<p>
  The comparison operators return 0 for false, nonzero for true.  The boolean
  operators (&amp; and |) stop evaluating as soon as the value of the
  <a href="../topics/expressions.html">expression</a> is known
  ("short-circuit"), and return the value of the last operand evaluated.
  This does not affect the value of the
  <a href="../topics/expressions.html">expression</a>, but is important when
  the second operand performs side effects.

<a name=""></a>
<p>
  All operands will be automatically converted to the type expected by the
  operator.
  <ul>
  <li>Integer to boolean:  0 is false, nonzero is true.
  <li>Other to boolean:  converted to integer, then to boolean.
  <li>String to numeric:  leading signs, digits, and exponents are interpreted
      as a numeric value; e.g., "12abc" becomes 12, "12.3junk" becomes 12.3,
      and "xyz" becomes 0.
  <li>Integer to float:  straightforward.
  <li>Integer to string:  straightforward.
  <li>Float to integer:  the fractional part is truncated.
  <li>Float to string:  decimal notation if the exponent
      is greater than -5 and less than 10, otherwise exponential notation.
  <li><a href="../topics/special_variables.html">Enumerated variable</a> to
      string:  straightforward string value.
  <li><a href="../topics/special_variables.html">Enumerated variable</a> to
      integer:  one integer stands for each of the allowed values.
      "Off" is always 0, "on" is always 1, etc.
      This makes <code>(!<a href="../topics/mode.html">visual</a>)</code>
      and <code>(<a href="../topics/mode.html">visual</a> == 0)</code> the same
      as <code>(<a href="../topics/mode.html">visual</a> =~ 'off')</code>.
  <li>Other (non-enumerated) <a href="../topics/variables.html">variables</a>
      are treated as strings, which are converted to another type if needed.
  </ul>

<p>
<h2>Examples</h2>
  Given the <a href="../topics/variables.html">variables</a>
<pre>
    <a href="../commands/set.html">/set</a> X=5
    <a href="../commands/set.html">/set</a> name=Hawkeye
    <a href="../commands/set.html">/set</a> <a href="../topics/mode.html">visual</a>=1
</pre>
  here are some <a href="../topics/expressions.html">expressions</a> and
  their values:
<pre>
    <a href="../topics/expressions.html">Expression</a>		   Value   Comments
    ----		   -----   --------
    3 + X * 2		      13   3 + (5 * 2) = 13.
    "foo" =~ "bar"	       0   "foo" is not identical to "bar".
    name =/ 'hawk*'	       1   "Hawkeye" matches the <a href="../topics/patterns.html#glob">glob</a> "hawk*".
    X =~ "+5"		       0   X is interpreted as string "5".
    X == "+5"		       1   string "+5" is converted to integer 5.
    visual &amp; (X &gt; 0)	       1   visual is nonzero, AND %X is positive.
</pre>

<p>
  See: <a href="../topics/functions.html">functions</a>,
  <a href="../commands/test.html">/test</a>,
  <a href="../topics/evaluation.html">evaluation</a>,
  <a href="../topics/patterns.html">patterns</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
