<title>TinyFugue: functions</title>
<!--"@function"-->
<!--"@functions"-->
<h1>functions</h1>

<p>
  In an <a href="../topics/expressions.html">expression</a>, a function
  operates on 0 or more arguments and returns a result.
  A function call is made with a function name, followed by a parenthesized
  list of comma-separated arguments.

<p>
  In the following list of builtin functions, arguments <i>s</i> and
  <i>t</i> are any string value, <i>i</i> and <i>j</i> are any integer value,
  <i>x</i> and <i>y</i> are any float value, and <i>f</i> is a flag value
  (0 or "off"; or, 1 or "on").

<p>
<h2>Mathematical functions</h2>
Angles are in radians.
<dl>

<a name="abs"></a>
<a name="abs()"></a>
  <dt><b>abs</b>(<var>i</var>)
          <dd> (int) Absolute value of <i>i</i>.
  <dt><b>abs</b>(<var>x</var>)
          <dd> (float) Absolute value of <i>x</i>.

<a name="sin"></a>
<a name="sin()"></a>
  <dt><b>sin</b>(<var>x</var>)
          <dd> (float) Sine of <i>x</i>.

<a name="cos"></a>
<a name="cos()"></a>
  <dt><b>cos</b>(<var>x</var>)
          <dd> (float) Cosine of <i>x</i>.

<a name="tan"></a>
<a name="tan()"></a>
  <dt><b>tan</b>(<var>x</var>)
          <dd> (float) Tangent of <i>x</i>.

<a name="asin"></a>
<a name="asin()"></a>
  <dt><b>asin</b>(<var>x</var>)
          <dd> (float) Arcsine of <i>x</i>, in the range [-pi/2, pi/2].
          <i>x</i> must be in the domain [-1, 1].

<a name="acos"></a>
<a name="acos()"></a>
  <dt><b>acos</b>(<var>x</var>)
          <dd> (float) Arccosine of <i>x</i>, in the range [0, pi].
          <i>x</i> must be in the domain [-1, 1].

<a name="atan"></a>
<a name="atan()"></a>
  <dt><b>atan</b>(<var>x</var>)
          <dd> (float) Arctangent of <i>x</i>, in the range [-pi/2, pi/2].

<a name="exp"></a>
<a name="exp()"></a>
  <dt><b>exp</b>(<var>x</var>)
          <dd> (float) <var>e</var> raised to the power <i>x</i>.

<a name="pow"></a>
<a name="pow()"></a>
  <dt><b>pow</b>(<var>x</var>, <var>y</var>)
          <dd> (float) <i>x</i> raised to the power <i>y</i>.
          If <i>x</i> is negative, <i>y</i> must be an integer.

<a name="sqrt"></a>
<a name="sqrt()"></a>
  <dt><b>sqrt</b>(<var>x</var>)
          <dd> (float) Square root of <i>x</i>
          (same as <code><a href="#pow">pow</a>(<i>x</i>, 0.5)</code>).

<a name="log"></a>
<a name="log()"></a>
<a name="log10"></a>
<a name="log10()"></a>
  <dt><b>log</b>(<var>x</var>)
          <dd> (float) Natural logarithm of <i>x</i>.
          <i>x</i> must be positive.
          The base B logarithm of any number N can be found with the expression
          <code><a href="#log">log</a>(N) / <a href="#log">log</a>(B)</code>.

  <dt><b>log10</b>(<var>x</var>)
          <dd> (float) Base 10 logarithm of <i>x</i>.
          <i>x</i> must be positive.

<a name="mod"></a>
<a name="mod()"></a>
  <dt><b>mod</b>(<var>i</var>,<var>j</var>)
          <dd> (int) Remainder of <i>i</i> divided by <i>j</i>.

<a name="trunc"></a>
<a name="trunc()"></a>
  <dt><b>trunc</b>(<var>x</var>)
          <dd> (int) Integer part of <i>x</i>.

<a name="rand"></a>
<a name="rand()"></a>
  <dt><b>rand</b>()
          <dd> (int) Random number in the range [0, system maximum].
  <dt><b>rand</b>(<var>j</var>)
          <dd> (int) Random number in the range [0, <i>j</i> - 1].
  <dt><b>rand</b>(<var>i</var>,<var>j</var>)
          <dd> (int) Random number in the range [<i>i</i>, <i>j</i>].
<a name=""></a>

</dl>

<p>
<h2>Input/output functions</h2>
<dl>

<a name=""></a><!-- there is a separate file for this topic -->
  <dt><b>echo</b>(<var>s</var> [,<var>attrs</var> [,<var>dest</var>
  [,<var>inline</var>]]])
          <dd> (int) Echoes <i>s</i> to the screen or <i>dest</i> with
          <a href="../topics/attributes.html">attributes</a> <i>attrs</i>,
          interpreting inline <a href="../topics/attributes.html">attribute</a>
          codes if the flag <i>inline</i> is 1 or "on".
          See: "<a href="../commands/echo.html">echo()</a>".

<a name="send"></a>
<a name="send()"></a>
  <dt><b>send</b>(<var>s</var>, <var>t</var>, <var>f</var>)
          <dd> (int) Sends string <i>s</i> to world <i>t</i>, or the
          <a href="../topics/sockets.html#current">current</a> world
          if <i>world</i> is blank.
          An end-of-line will be appended if <i>f</i> is 1 or "on".
  <dt><b>send</b>(<var>s</var>, <var>t</var>)
          <dd> Equivalent to 
          <a href="../topics/functions.html#send">send</a>(<var>s</var>,
          <i>t</i>, 1).
  <dt><b>send</b>(<var>s</var>)
          <dd> Equivalent to 
          <a href="../topics/functions.html#send">send</a>(<i>s</i>, "", 1).

<a name="fwrite"></a>
<a name="fwrite()"></a>
  <dt><b>fwrite</b>(<var>s</var>,<var>t</var>)
          <dd>Writes string <i>t</i> to the end of file <i>s</i>.
          <a href="../topics/functions.html#fwrite">fwrite()</a> is good
          for writing a single line, but when writing multiple lines it is
          more efficient to use
          <a href="../topics/functions.html#tfopen">tfopen()</a>, a series
          of <a href="../topics/functions.html#tfwrite">tfwrite()</a>,
          and a <a href="../topics/functions.html#tfclose">tfclose()</a>.

<a name="tfopen"></a>
<a name="tfopen()"></a>
  <dt><b>tfopen</b>(<var>s</var>, <var>t</var>)
  <dt><b>tfopen</b>()
          <dd> (int) Open a <a href="../topics/tfio.html">tfio stream</a>
          using file <i>s</i> and mode <i>t</i>.
          See <a href="../topics/tfio.html">tfio</a>.

<a name="tfclose"></a>
<a name="tfclose()"></a>
  <dt><b>tfclose</b>(<var>i</var>)
          <dd> (int) Close the <a href="../topics/tfio.html">stream</a>
          indicated by handle <i>i</i>.
          See <a href="../topics/tfio.html">tfio</a>.

<a name="tfread"></a>
<a name="tfread()"></a>
  <dt><b>tfread</b>(<var>i</var>, <var>v</var>)
  <dt><b>tfread</b>(<var>v</var>)
          <dd> (int) Read into variable <i>v</i> from the
          <a href="../topics/tfio.html">stream</a> indicated by
          handle <i>i</i>.
          See <a href="../topics/tfio.html">tfio</a>.

<a name="tfwrite"></a>
<a name="tfwrite()"></a>
  <dt><b>tfwrite</b>(<var>i</var>, <var>s</var>)
  <dt><b>tfwrite</b>(<var>s</var>)
          <dd> (int) Write <i>s</i> to the
          <a href="../topics/tfio.html">stream</a> indicated by
          handle <i>i</i>.
          See <a href="../topics/tfio.html">tfio</a>.

<a name="tfflush"></a>
<a name="tfflush()"></a>
  <dt><b>tfflush</b>(<var>i</var>)
          <dd> Flushes the <a href="../topics/tfio.html">stream</a>
          indicated by handle <i>i</i>.
  <dt><b>tfflush</b>(<var>i</var>, <var>f</var>)
          <dd> Disables (if <i>f</i> is 0 or "off") or
          enables (if <i>f</i> is 1 or "on") automatic flushing for the
          <a href="../topics/tfio.html">stream</a> indicated by handle
          <i>i</i>.
          See <a href="../topics/tfio.html">tfio</a>.

<a name="read"></a>
<a name="read()"></a>
  <dt><b>read</b>()
          <dd> Obsolete.  Use
          <a href="../topics/functions.html#tfread">tfread()</a> instead.
<a name=""></a>

</dl>

<p>
<h2>String functions</h2>

<p>
  String positions are always counted from 0.  Therefore the first character
  of a string <i>s</i> is
  <code><a href="../topics/functions.html#substr">substr</a>(s, 0, 1)</code>,
  and the last character is
  <code><a href="../topics/functions.html#substr">substr</a>(s,
  <a href="../topics/functions.html#strlen">strlen</a>(s)-1)</code>.

<p>
  Range checking is done on string positions.  Any position given outside the
  allowed range will be silently forced to the closest value that is in the
  range.

<dl>
<a name="ascii"></a>
<a name="ascii()"></a>
  <dt><b>ascii</b>(<var>s</var>)
          <dd> (int) Integer code of the first character of <i>s</i>,
          The character does not have to be ASCII, but may be any character
          allowed by your <a href="../topics/locale.html">locale</a>.

<a name="char"></a>
<a name="char()"></a>
  <dt><b>char</b>(<var>i</var>)
          <dd> (str) character with integer code <i>i</i>.  If
          <i>i</i> is outside the range allowed by your
          <a href="../topics/locale.html">locale</a>,
          it will be silently forced into the allowed range.

<a name="tolower"></a>
<a name="tolower()"></a>
  <dt><b>tolower</b>(<var>s</var>)
          <dd> (str) Convert all characters in <i>s</i> to lower case.

<a name="toupper"></a>
<a name="toupper()"></a>
  <dt><b>toupper</b>(<var>s</var>)
          <dd> (str) Convert all characters in <i>s</i> to upper case.

<a name="pad"></a>
<a name="pad()"></a>
  <dt><b>pad</b>([<var>s</var>, <var>i</var>]...)
          <dd> (str) There may be any number of (<i>s</i>, <i>i</i>) pairs.
          For each pair, <i>s</i> is padded with spaces to a length equal to
          the absolute value of <i>i</i>.
          If <i>i</i> is positive, <i>s</i> is right-justified (left-padded);
          If <i>i</i> is negative, <i>s</i> is left-justified (right-padded).
          The result is the concatenation of all the padded strings.

<a name="regmatch"></a>
<a name="regmatch()"></a>
  <dt><b>regmatch</b>(<var>s</var>, <var>t</var>)
          <dd> (int) Returns 1 if string <i>t</i> matches
          <a href="../topics/patterns.html#regexp">regexp</a> <i>s</i>,
          otherwise returns 0.
          Subexpressions can later be extracted using the P<var>n</var>
          <a href="../topics/variables.html">variables</a> or
          <a href="../topics/substitution.html#%Pn">%P<var>n</var></a>
          substitutions.  Warning:
          <a href="../topics/functions.html#regmatch">regmatch()</a>
          is much less efficient than the =/
          <a href="../topics/expressions.html#operators">operator</a>
          (their difference in efficiency is even greater than that between
          <a href="../topics/patterns.html#regexp">regexp</a> and
          <a href="../topics/patterns.html#glob">glob</a>
          <a href="../topics/triggers.html">triggers</a>).
          (See also: <a href="../topics/patterns.html#regexp">regexp</a>)

<a name="strcat"></a>
<a name="strcat()"></a>
  <dt><b>strcat</b>(...)
          <dd> (str) Join strings (takes any number of string arguments).

<a name="strchr"></a>
<a name="strchr()"></a>
  <dt><b>strchr</b>(<var>s</var>, <var>t</var>)
          <dd> (int) First position within <i>s</i> of any character
          contained in <i>t</i>,
          or -1 if <i>s</i> does not contain any characters from <i>t</i>.

<a name="strcmp"></a>
<a name="strcmp()"></a>
  <dt><b>strcmp</b>(<var>s</var>, <var>t</var>)
          <dd> (int) Returns a number less than, equal to, or greater than 0
          if <i>s</i> is lexicographically less than, equal to, or greater
          than <i>t</i>, respectively.

<a name="strlen"></a>
<a name="strlen()"></a>
  <dt><b>strlen</b>(<var>s</var>)
          <dd> (int) Length of string <i>s</i>.

<a name="strncmp"></a>
<a name="strncmp()"></a>
  <dt><b>strncmp</b>(<var>s</var>, <var>t</var>, <var>i</var>)
          <dd> (int) Like
          <a href="../topics/functions.html#strcmp">strcmp()</a>, but
          compares only the first <i>i</i> characters of <i>s</i> and
          <i>t</i>.

<a name="strrchr"></a>
<a name="strrchr()"></a>
  <dt><b>strrchr</b>(<var>s</var>, <var>t</var>)
          <dd> (int) Last position within <i>s</i> of any character contained
          in <i>t</i>,
          or -1 if <i>s</i> does not contain any characters from <i>t</i>.

<a name="strrep"></a>
<a name="strrep()"></a>
  <dt><b>strrep</b>(<var>s</var>, <var>i</var>)
          <dd> (str) Returns a string containing <i>i</i> repetitions of
          <i>s</i>.

<a name="strstr"></a>
<a name="strstr()"></a>
  <dt><b>strstr</b>(<var>s</var>, <var>t</var>)
          <dd> (int) First position of <i>t</i> within <i>s</i>, or -1 if
          <i>s</i> does not contain <i>t</i>.

<a name="substr"></a>
<a name="substr()"></a>
  <dt><b>substr</b>(<var>s</var>, <var>i</var>)
  <dt><b>substr</b>(<var>s</var>, <var>i</var>, <var>j</var>)
          <dd> (str) Substring of <i>s</i>, starting at position <i>i</i>,
          with length <i>j</i>.  If <i>j</i> is omitted, it defaults to
          the remaining length of <i>s</i>.  If <i>i</i> or <i>j</i> is
          negative, they are counted as absolute values from the end of
          <i>s</i>.
<a name=""></a>

</dl>

<p>
<h2>Keyboard buffer functions</h2>
<dl>

<a name="kbdel"></a>
<a name="kbdel()"></a>
  <dt><b>kbdel</b>(<var>i</var>)
          <dd> (int) Delete from the cursor to position <i>i</i> in the input
          buffer.  Returns the new position.

<a name="kbgoto"></a>
<a name="kbgoto()"></a>
  <dt><b>kbgoto</b>(<var>i</var>)
          <dd> (int) Move the cursor to position <i>i</i> in the input
          buffer.  Returns the new position (which may be different than
          <i>i</i> if <i>i</i> would put the cursor outside the buffer).

<a name="kbhead"></a>
<a name="kbhead()"></a>
  <dt><b>kbhead</b>()
          <dd> (str) Return the current input up to the cursor.

<a name="kblen"></a>
<a name="kblen()"></a>
  <dt><b>kblen</b>()
          <dd> (int) Length of current input line.

<a name="kbmatch"></a>
<a name="kbmatch()"></a>
  <dt><b>kbmatch</b>()
  <dt><b>kbmatch</b>(<var>i</var>)
          <dd> (int) Finds one of "()[]{}" under or to the right of the
          position <i>i</i> (default: cursor position), and returns the
          position of its match, or -1 if not found.
          (See also: <a href="../topics/keybindings.html">keybindings</a>)

<a name="kbpoint"></a>
<a name="kbpoint()"></a>
  <dt><b>kbpoint</b>()
          <dd> (int) Return the current position of the cursor in input.

<a name="kbtail"></a>
<a name="kbtail()"></a>
  <dt><b>kbtail</b>()
          <dd> (str) Return the current input after the cursor.

<a name="kbwordleft"></a>
<a name="kbwordleft()"></a>
  <dt><b>kbwordleft</b>()
  <dt><b>kbwordleft</b>(<var>i</var>)
          <dd> (int) Position of the beginning of the word left of <i>i</i>
          within the input buffer.  <i>i</i> defaults to the current cursor
          position.  (See also:
          <a href="../topics/special_variables.html#wordpunct">%wordpunct</a>)

<a name="kbwordright"></a>
<a name="kbwordright()"></a>
  <dt><b>kbwordright</b>()
  <dt><b>kbwordright</b>(<var>i</var>)
          <dd> (int) Position just past the end of the word right of <i>i</i>
          within the input buffer.  <i>i</i> defaults to the current cursor
          position.  (See also:
          <a href="../topics/special_variables.html#wordpunct">%wordpunct</a>)

<a name="keycode"></a>
<a name="keycode()"></a>
  <dt><b>keycode</b>(<var>s</var>)
          <dd> (str) String generated by typing the key labeled <i>s</i>,
          as defined in the termcap entry corresponding to the value of
          <a href="../topics/special_variables.html#TERM">%TERM</a>.
          See also:
          <a href="../topics/keybindings.html">keybindings</a>.
<a name=""></a>

</dl>

<p>
<h2>Information functions</h2>
<dl>

<a name="time"></a>
<a name="time()"></a>
  <dt><b>time</b>()
          <dd> (int) System time (typically seconds since 1970-01-01
          00:00:00 UTC).  See also:
          <a href="../commands/time.html">/time</a>,
          <a href="../commands/ftime.html">ftime()</a>.

<a name="columns"></a>
<a name="columns()"></a>
  <dt><b>columns</b>()
          <dd> (int) Number of columns on the screen.
          See also: <a href="../topics/hooks.html#RESIZE">hooks (RESIZE)</a>,
          <a href="../topics/functions.html#lines()">lines()</a>,
          <a href="../topics/special_variables.html#COLUMNS">%COLUMNS</a>.

<a name="lines"></a>
<a name="lines()"></a>
  <dt><b>lines</b>()
          <dd> (int) Number of lines on the screen.
          To get the number of lines in the output window, use the expression
          (<a href="../topics/functions.html#lines">lines()</a> -
          (<a href="../topics/special_variables.html#visual">visual</a> ?
          <a href="../topics/special_variables.html#isize">isize</a>+1 : 0)).
          See also: <a href="../topics/hooks.html#RESIZE">hooks (RESIZE)</a>,
          <a href="../topics/functions.html#columns()">columns()</a>,
          <a href="../topics/special_variables.html#LINES">%LINES</a>.

<a name="morescroll"></a>
<a name="morescroll()"></a>
  <dt><b>morescroll</b>(<var>i</var>)
          <dd> (int) If at a <a href="../commands/more.html">more</a> prompt,
          this function displays up to the next <i>i</i> lines of text, and
          returns 1.  Otherwise, it does nothing, and returns 0.

<a name="moresize"></a>
<a name="moresize()"></a>
  <dt><b>moresize</b>()
          <dd> (int) Number of lines queued at a
          <a href="../commands/more.html">more</a> prompt.

<a name="world_info"></a>
<a name="world_info()"></a>
  <dt><b>world_info</b>(<var>s</var>, <var>t</var>)
          <dd> (str) Return the value of field <i>t</i> of world <i>s</i>,
  <dt><b>world_info</b>(<var>t</var>)
          <dd> (str) Return the value of field <i>t</i> of the
          <a href="../topics/sockets.html#current">current world</a>.
  <dt><b>world_info</b>()
          <dd> (str) Return the name of the
          <a href="../topics/sockets.html#current">current world</a>.
          See <a href="../topics/worlds.html">worlds</a>.

<a name="fg_world"></a>
<a name="fg_world()"></a>
  <dt><b>fg_world</b>()
          <dd> (str) Returns the name of the
          <a href="../topics/worlds.html">world</a> associated with the
          <a href="../topics/sockets.html#foreground">foreground</a>
          <a href="../topics/sockets.html">socket</a>.

<a name="idle"></a>
<a name="idle()"></a>
  <dt><b>idle</b>()
          <dd> (int) Number of seconds since the last keypress.
  <dt><b>idle</b>(<var>s</var>)
          <dd> (int) Number of seconds since the last text was received on the
          <a href="../topics/sockets.html">socket</a> connected to
          <a href="../topics/worlds.html">world</a>
          <i>s</i>, or -1 on error.

<a name="sidle"></a>
<a name="sidle()"></a>
  <dt><b>sidle</b>()
  <dt><b>sidle</b>(<var>s</var>)
          <dd> (int) Number of seconds since the last text was sent on the
          <a href="../topics/sockets.html#current">current socket</a> or the
          <a href="../topics/sockets.html">socket</a> connected to
          <a href="../topics/worlds.html">world</a>
          <i>s</i>, or -1 on error.

<a name="nactive"></a>
<a name="nactive()"></a>
  <dt><b>nactive</b>()
          <dd> (int) Number of active worlds (ie, worlds with unseen text).
  <dt><b>nactive</b>(<var>s</var>)
          <dd> (int) Number of unseen lines in world <i>s</i>.
          <br>Note:  when
          <a href="../topics/functions.html#nactive">nactive()</a>
          (with or without arguments)
          is called from a <a href="../topics/triggers.html">trigger</a>, the
          line that caused the <a href="../topics/triggers.html">trigger</a>
          is not counted by
          <a href="../topics/functions.html#nactive">nactive()</a>
          because it has not yet been fully processed (for example, a lower
          <a href="../topics/priority.html">priority</a>
          <a href="../topics/trigger.html">trigger</a> might
          <a href="../topics/attributes.html">gag</a> the line).

<a name="nlog"></a>
<a name="nlog()"></a>
  <dt><b>nlog</b>()
          <dd> (int) Number of open log files.

<a name="nmail"></a>
<a name="nmail()"></a>
  <dt><b>nmail</b>()
          <dd> (int) Number of monitored mail files containing unread mail.
          See <a href="../topics/mail.html">mail</a>.

<a name="nread"></a>
<a name="nread()"></a>
  <dt><b>nread</b>()
          <dd> (int) Returns a positive number if a
          <a href="../topics/functions.html#tfread">read</a>
          from the keyboard is in progress, 0 otherwise.

<a name="getpid"></a>
<a name="getpid()"></a>
  <dt><b>getpid</b>()
          <dd> (int) The operating system's process id for tf.

<a name="systype"></a>
<a name="systype()"></a>
  <dt><b>systype</b>()
          <dd> (str) System type: "unix", "os/2", or "cygwin32".
<a name=""></a>
</dl>

<p>
<h2>Other functions</h2>
<dl>

<a name=""></a><!-- there is a separate file for this topic -->
  <dt><b>addworld</b>(<var>name</var>, <var>type</var>, <var>host</var>, <var>port</var>, <var>char</var>, <var>pass</var>, <var>file</var>, <var>use_proxy</var>)
          <dd> Defines or redefines a
          <a href="../topics/worlds.html">world</a>.
          See "<a href="../commands/addworld.html">addworld()</a>".

<a name="filename"></a>
<a name="filename()"></a>
  <dt><b>filename</b>(<var>s</var>)
          <dd> (str) Performs filename expansion on <i>s</i> as described
          under "<a href="../topics/filenames.html">filenames</a>".

<!-- this topic has its own page -->
  <dt><b>ftime</b>(<var>s</var>,<var>i</var>)
          <dd> (str) Formats a system time <i>i</i> (obtained from
          <a href="../topics/functions.html#time">time()</a>) according to
          format <i>s</i>.
          See: <a href="../commands/ftime.html">ftime()</a>.

<a name=""></a><!-- there is a separate file for this topic -->
  <dt><b>getopts</b>(<var>s</var>, <var>t</var>)
          <dd> (int) Parse macro options according to format <i>s</i>.
          See "<a href="../topics/getopts.html">getopts()</a>".

<a name=""></a><!-- there is a separate file for this topic -->
  <dt><b>substitute</b>(<var>s</var> [,<var>attrs</var> [,<var>inline</var>]])
          <dd> (int) Replaces trigger text.
          See "<a href="../commands/substitute.html">/substitute</a>".

<a name=""></a>
  </dl>

<a name="macro">
<a name="function syntax">
<p>
  <a href="../topics/macros.html">Macros</a> and builtin commands can be
  called using function syntax, unless there is a builtin function with the
  same name.  The syntax is
  "<code><var>name</var>(<var>arg1</var>, <var>arg2</var>, ... <var>argN</var>)</code>".
  A builtin command called as a function can have 0 or 1 arguments; the
  argument is treated as a command line.
  For example, the function call
  <pre><code>def("-t'{*} has arrived.' greet = :waves.")</code></pre>
  is the same as the command invocation
  <pre><code>/def -t'{*} has arrived.' greet = :waves."</code></pre>
  A macro called as a function can be called with any number of arguments;
  each argument corresponds to a
  <a href="../topics/substitution.html#%n">positional parameter</a>
  (<a href="../topics/substitution.html#%n">%1</a>,
  <a href="../topics/substitution.html#%n">%2</a>, etc.).
  For example, assuming "<code>spam</code>" is a macro, the function call
  <pre><code>spam("foo", "bar", "baz")</code></pre>
  is the same as the command invocation
  <pre><code>/spam foo bar baz</code></pre>
  The function call syntax allows
  <a href="../topics/substitution.html#%n">positional parameters</a>
  to contain spaces, which is not possible in the command syntax.
  (Note: prior to version 4.0, a macro called as a function could only take
  0 or 1 arguments, and a single argument was broken into positional parameters
  at whitespace.)
  A macro can set its return value using
  <a href="../commands/return.html">/return</a> or
  <a href="../commands/return.html">/result</a>.

<a name="">
<p>
  To evaluate a function for its "side effect" only, you can call it from
  <a href="../commands/test.html">/test</a> and ignore the return value
  (e.g., "<code><a href="../commands/test.html">/test</a>
  <a href="../topics/functions.html#kbdel">kbdel</a>(0)</code>").

<p>
  Examples:

<p>
  Capitalize first letter of string <i>s</i>:
<pre>
      <a href="../topics/functions.html#strcat">strcat</a>(<a href="../topics/functions.html#toupper">toupper</a>(<a href="../topics/functions.html#substr">substr</a>(s, 0, 1)), <a href="../topics/functions.html#substr">substr</a>(s, 1))
</pre>

<p>
  Extract the number from a string <i>dbref</i> of the form "(#123PML)":
<pre>
      0 + <a href="../topics/functions.html#substr">substr</a>(dbref, <a href="../topics/functions.html#strchr">strchr</a>(dbref, "#") + 1)
</pre>

<p>
  See: <a href="../topics/expressions.html">expressions</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
