<title>TinyFugue: hooks</title>
<!--"@hook"-->
<!--"@hooks"-->
<h1>hooks</h1>

<p>
  Associated commands:
  <dl>
  <dt><a href="../commands/def.html">/def</a>
          <dd>define a <a href="../topics/macros.html">macro</a> with any
          fields
  <dt><a href="../commands/hook.html">/hook</a>
          <dd>define a <a href="../topics/hooks.html">hook</a>
          <a href="../topics/macros.html">macro</a>
  <dt><a href="../commands/unhook.html">/unhook</a>
          <dd>undefine a <a href="../topics/hooks.html">hook</a>
          <a href="../topics/macros.html">macro</a>
  <dt><a href="../commands/trigger.html">/trigger -h</a>
          <dd>call a <a href="../topics/hooks.html">hook</a>
          <a href="../topics/macros.html">macro</a>
  </dl>

<p>
  <a href="../topics/hooks.html">Hooks</a> are a method of calling a
  <a href="../topics/macros.html">macro</a> based on special events within
  TF, in much the same way as <a href="../topics/triggers.html">triggers</a>
  call <a href="../topics/macros.html">macros</a> based on
  <a href="../topics/sockets.html">socket</a> text.
  <a href="../topics/hooks.html">Hooks</a> allow the user to customize the
  behavior of TinyFugue and automate special functions.

<p>
  A <a href="../topics/hooks.html">hook</a> definition has two parts: an
  <i>event</i> and a <i>pattern</i>.  When the event occurs, the
  <a href="../topics/macros.html">macro</a> will be executed if the arguments
  supplied by the event match the <a href="../topics/macros.html">macro</a>'s
  <i>pattern</i> (see the section on
  "<a href="../topics/patterns.html">patterns</a>").

<p>
  If multiple <a href="../topics/hooks.html">hooks</a> match the same event
  and pattern, one or more are selected as described under
  "<a href="../topics/priority.html">priority</a>".

<p>
  Most <a href="../topics/hooks.html">hooks</a> have a default message
  associated with them, which will be displayed to
  the <a href="../topics/tfio.html">tferr stream</a> (i.e., the screen)
  with the
  <a href="../topics/attributes.html">attributes</a> of the
  <a href="../topics/hooks.html">hook</a> if one is defined.  Thus a
  <a href="../topics/hooks.html">hook</a> with a
  <a href="../topics/attributes.html">gag</a>
  <a href="../topics/attributes.html">attribute</a> will suppress the display
  of the message.

<p>
  <a href="../topics/hooks.html">Hook</a> may have
  <a href="../topics/priority.html">multi-shots</a>, in which case it and the
  <a href="../topics/macros.html">macro</a> it is associated with is removed
  after executing a specified number of times.
<pre>
    Event Name	Arguments	Default Message or Action
    ----------	---------	-------------------------
<a name="ACTIVITY"></a><!--
------->    ACTIVITY	world		'% Activity in world <i>world</i>'
				(called only the first time activity
				occurs on a given <a href="../topics/sockets.html">socket</a>.)
<a name="BACKGROUND"></a><!--
------->    BACKGROUND	world		'% <a href="../topics/triggers.html">Trigger</a> in world <i>world</i>'
<a name="BAMF"></a><!--
------->    BAMF	world		'% <a href="../commands/bamf.html">Bamfing</a> to <i>world</i>'
<a name="CONFAIL"></a><!--
------->    CONFAIL	world, reason	'% <a href="../commands/connect.html">Connection</a> to <i>world</i> failed: <i>reason</i>'
<a name="CONFLICT"></a><!--
------->    CONFLICT	<a href="../topics/macros.html">macro</a>		'% <i>macro</i> conflicts with builtin command.'
<a name="CONNECT"></a><!--
------->    CONNECT	world		'% <a href="../commands/connect.html">Connection</a> to <i>world</i> established.'
<a name="DISCONNECT"></a><!--
------->    DISCONNECT	world, reason	'% <a href="../commands/connect.html">Connection</a> to <i>world</i> closed: <i>reason</i>.'
				(Called if you send the server's disconnect
				command (e.g., "QUIT") or <a href="../topics/sockets.html">socket</a> closes, but
				not if you use <a href="../commands/dc.html">/dc</a>.)
<a name="KILL"></a><!--
------->    KILL	pid		(<a href="../topics/processes.html">process</a> ends)
<a name="LOAD"></a><!--
------->    LOAD	file		'% <a href="../commands/load.html">Loading</a> commands from file <i>file</i>'
<a name="LOADFAIL"></a><!--
------->    LOADFAIL	file, reason	'% <i>file</i>: <i>reason</i>'
<a name="LOG"></a><!--
------->    LOG		file		'% <a href="../commands/log.html">Logging</a> to file <i>file</i>'
<a name="LOGIN"></a><!--
------->    LOGIN	world           (<a href="../topics/login.html">automatic login</a>)
<a name="MAIL"></a><!--
------->    MAIL	file		'% You have new mail in <i>file</i>.'
<a name="MORE"></a><!--
------->    MORE			'<a href="../commands/more.html">--More--</a>' (reverse bold)
<a name="NOMACRO"></a><!--
------->    NOMACRO	name		'% <i>name</i>: No such command or macro'
<a name="PENDING"></a><!--
------->    PENDING	world		'% Hostname resolution for <i>world</i> in progress'
    PENDING	world		'% <a href="../commands/connect.html">Connection</a> to <i>world</i> in progress'
<a name="PROCESS"></a><!--
------->    PROCESS	pid		<a href="../topics/processes.html">process</a> starts
<a name="PROMPT"></a><!--
------->    PROMPT	text		<i>text</i> is a partial (unterminated) line
				from the server.  See "<a href="../topics/prompts.html">prompts</a>"
<a name="PROXY"></a><!--
------->    PROXY	world		(<a href="../topics/proxy.html">proxy</a> connection to <i>world</i> has completed)
<a name="REDEF"></a><!--
------->    REDEF	obj_type, name	'% Redefined <i>obj_type</i> <i>name</i>'
<a name="SIGWINCH"></a><!--
-------><a name="RESIZE"></a><!--
------->    RESIZE	columns, lines	(window was resized)
				(see also: <a href="../topics/functions.html#columns">columns()</a>, <a href="../topics/functions.html#lines">lines()</a>)
<a name="RESUME"></a><!--
------->    RESUME			'% Resuming TinyFugue'
<a name="SEND"></a><!--
------->    SEND	text	   	(text sent to <a href="../topics/sockets.html#current">current</a> <a href="../topics/sockets.html">socket</a>)
				(see note below ("<a href="../topics/hooks.html">hooks</a>"))
<a name="SHADOW"></a><!--
------->    SHADOW	var_name	'% Variable <i>var_name</i> overshadows global'
<a name="SHELL"></a><!--
------->    SHELL	type, command	'% Executing <i>type</i>: <i>command</i>'
<a name="SIGHUP"></a><!--
------->    SIGHUP			(SIGHUP <a href="../topics/signals.html">signal</a> caught; tf terminates)
<a name="SIGTERM"></a><!--
------->    SIGTERM			(SIGTERM <a href="../topics/signals.html">signal</a> caught; tf terminates)
<a name="SIGUSR1"></a><!--
------->    SIGUSR1			(SIGUSR1 <a href="../topics/signals.html">signal</a> caught; no effect)
<a name="SIGUSR2"></a><!--
------->    SIGUSR2			(SIGUSR2 <a href="../topics/signals.html">signal</a> caught; no effect)
<a name="WORLD"></a><!--
------->    WORLD	world		'---- World <i>world</i> ----'
<a name=""></a>
</pre>
  Notes:

<p>
  The -w and -T options to <a href="../commands/def.html">/def</a> can be
  used to restrict <a href="../topics/hooks.html">hooks</a> to matching
  only when the <a href="../topics/sockets.html#current">current</a>
  world matches the world or world type.

<p>
  BACKGROUND's "% Trigger in world <world>" message can be quieted for
  individual triggers by defining them with
  <a href="../commands/def.html">/def</a>
  <a href="../commands/def.html#-q">-q</a>,
  or for all triggers with "/def -ag -hBACKGROUND".

<p>
  The SEND <a href="../topics/hooks.html">hook</a> is called whenever text
  would be sent to the <a href="../topics/sockets.html#current">current</a>
  <a href="../topics/sockets.html">socket</a>.
  If a SEND <a href="../topics/hooks.html">hook</a> matches the text that
  would be sent, the text is not sent (unless the hook was defined with
  <a href="../commands/def.html#-q">/def -q</a>),
  and the <a href="../topics/hooks.html">hook</a> is executed instead.  SEND
  <a href="../topics/hooks.html">hooks</a> are never called from 
  <a href="../topics/functions.html#send">send()</a>, but they can be called
  from any <a href="../topics/macros.html">macro</a> or command line that
  sends plain text.

<p>
  When successfully connected to a new
  <a href="../topics/sockets.html">socket</a>, these events occur:
  1) If this is a <a href="../topics/proxy.html">proxy</a> connection,
     the PROXY <a href="../topics/hooks.html">hook</a> is called;
  2) If this is not a <a href="../topics/proxy.html">proxy</a> connection,
     the CONNECT <a href="../topics/hooks.html">hook</a> is called;
  3) If <a href="../topics/special_variables.html#login">%{login}</a> is on,
     a character and password are defined, and this is not a
     <a href="../topics/proxy.html">proxy</a> connection,
     the <a href="../topics/login.html">LOGIN</a>
     <a href="../topics/hooks.html">hook</a> is called.
  4) If there is a file associated with the world, the file will be
     loaded (and the LOAD <a href="../topics/hooks.html">hook</a> will be
     called).

<p>
  The message for the CONNECT <a href="../topics/hooks.html">hook</a> is
  displayed only if the connection was pending.  The standard library defines
  a default CONNECT <a href="../topics/hooks.html">hook</a> to
  <a href="../commands/fg.html">/fg</a> the
  <a href="../topics/sockets.html">socket</a>, which in turn calls the WORLD
  <a href="../topics/hooks.html">hook</a>; define your own CONNECT
  <a href="../topics/hooks.html">hook</a> if you want to override this
  automatic <a href="../commands/fg.html">/fg</a>.

<p>
  The SIGHUP, SIGTERM, SIGUSR1, and SIGUSR2
  <a href="../topics/hooks.html">hooks</a> are called when the corresponding
  <a href="../topics/signals.html">signal</a> is received.
  For SIGHUP and SIGTERM, TF will terminate immediately
  after executing the <a href="../topics/hooks.html">hook</a>; if the
  <a href="../topics/hooks.html">hook</a> calls any commands with delayed
  effects (a <a href="../commands/repeat.html">/repeat</a> or
  <a href="../commands/quote.html">/quote</a> without -S, a nonblocking
  <a href="../commands/connect.html">/connect</a>, etc), those effects will
  not occur before termination.

<p>
  Examples:

<p>
<pre>
    <a href="../commands/hook.html">/hook</a> ACTIVITY|DISCONNECT {TT|SM}* = <a href="../commands/world.html">/world</a> <a href="../topics/substitution.html#%n">%1</a>
</pre>
  will cause TF to automatically switch to TT or SM if either becomes active
  or disconnected.
<pre>
    <a href="../commands/def.html">/def</a> -T'tiny.mush' -hSEND mush_escape = <a href="../commands/send.html">/send</a> - $(<a href="../commands/escape.html">/escape</a> \%[ <a href="../topics/substitution.html#%*">%*</a>)
</pre>
  will catch any line sent to a world of type 'tiny.mush', escape all
  occurrences of '%', '[' and '\' within that line, and send the new line
  instead of the original.  This is useful for avoiding unwanted
  interpretation of '%', '[', and '\' on TinyMUSH servers.
<pre>
    <a href="../commands/hook.html">/hook</a> SIGHUP = <a href="../commands/log.html">/log</a> on%; <a href="../commands/recall.html">/recall</a> /10
</pre>
  will <a href="../commands/log.html">log</a> the last 10 lines of output if
  you are unexpectedly disconnected from your tf session.

<p>
  See also: <a href="../topics/macros.html">macros</a>,
  <a href="../topics/triggers.html">triggers</a>,
  <a href="../topics/patterns.html">patterns</a>,
  <a href="../topics/priority.html">priority</a>,
  <a href="../topics/signals.html">signals</a>.

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
