<title>TinyFugue: topics</title>
<!--"@topics"-->
<h1>topics</h1>

<p>
  Topics marked with + are new; those marked with * have changed since the
  last version.  Many topics also have subtopics that are not listed here
  (e.g., individual <a href="../topics/variables.html">variables</a>,
  <a href="../topics/hooks.html">hooks</a>, and functions).

<p>
  <pre>
  <a href="../topics/copyright.html">copying</a>	copyright; no warranty
  <a href="../topics/intro.html">intro</a>		introduction to tf
  <a href="../topics/tf.html">startup</a>	how to start tf
  <a href="../topics/interface.html">interface</a>	how input works
  <a href="../topics/tfrc.html">tfrc</a>		personal config file
 *<a href="../topics/mode.html">visual</a>	split-screen mode
  <a href="../commands/index.html">commands</a>	list of commands
 *<a href="../topics/worlds.html">worlds</a>	defining worlds
  <a href="../topics/patterns.html">patterns</a>	pattern matching
 *<a href="../topics/variables.html">variables</a>	state and environment
 *<a href="../topics/special_variables.html">globals</a>	special tf variables
  <a href="../topics/attributes.html">attributes</a>	special text display
  <a href="../topics/prompts.html">prompts</a>	using LP/Diku prompts
  <a href="../topics/problems.html">problems</a>	bugs, core dumps, etc.
 *<a href="../topics/evaluation.html">evaluation</a>	macro body execution
  <a href="../topics/macros.html">macros</a>	user-defined commands
 *<a href="../topics/sockets.html">sockets</a>	world connections
  <a href="../topics/history.html">history</a>	recall and logging
  <a href="../topics/priority.html">priority</a>	trigger/hook selection
  <a href="../topics/keybindings.html">keybindings</a>	keyboard operations
  <a href="../topics/colors.html">color</a>		terminal color codes
  <a href="../topics/prompt_protocol.html">protocol</a>	LP/Diku prompt protocol
  <a href="../topics/expressions.html">expressions</a>	math and string operations
  <a href="../topics/triggers.html">triggers</a>	automatic command execution based on incoming text
  <a href="../topics/hooks.html">hooks</a>		automatic command execution based on tf events
 +<a href="../topics/mail.html">mail</a>		mail checking
  <a href="../topics/library.html">library</a>	macros and variables in stdlib.tf
 *<a href="../topics/tools.html">tools</a>		extra commands in tools.tf
  <a href="../topics/utilities.html">utilities</a>	useful extra command files
  <a href="../topics/processes.html">processes</a>	timed commands and command quoting
 *<a href="../topics/substitution.html">subs</a>		arithmetic, command, <a href="../topics/macros.html">macro</a>, and variable substitutions
 *<a href="../topics/functions.html">functions</a>	special <a href="../topics/expressions.html">expression</a> operations
  <a href="../topics/hints.html">hints</a>		some hints and style tips for <a href="../topics/macros.html">macro</a> programming
 *<a href="../topics/tfio.html">tfio</a>		output, error, and world streams
  <a href="../topics/proxy.html">proxy</a>		connecting to outside hosts via a proxy server (firewall)
 +<a href="../topics/locale.html">locale</a>	multi-language support
  </pre>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
