<title>TinyFugue: login</title>
<!--"@autologin"-->
<!--"@login"-->
<h1>login</h1>

<p>
  If the <a href="../topics/special_variables.html#login">%{login}</a> flag
  is on when you <a href="../commands/connect.html">connect</a>
  to a world, and that world was
  <a href="../commands/addworld.html">defined</a> with a
  character, password, and optional worldtype, TF will attempt to
  automatically <a href="../topics/login.html">login</a> to that world.

<p>
  <a href="../topics/login.html">Autologin</a>
  is done by a <a href="../topics/hooks.html">hook</a> defined in
  the <a href="../topics/library.html">standard library</a>.
  The <a href="../topics/hooks.html">hook</a> for the default
  worldtype uses TinyMUD <a href="../topics/login.html">login</a> format;
  there are also
  <a href="../topics/hooks.html">hooks</a> for "tiny", "lp", "lpp", and
  "telnet" worldtypes.  You can also define your own LOGIN
  <a href="../topics/hooks.html">hooks</a>.

<p>
  See: <a href="../topics/hooks.html">hooks</a>,
  <a href="../topics/variables.html">variables</a>,
  <a href="../commands/addworld.html">/addworld</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
