<title>TinyFugue: mail checking</title>
<!--"@mail"-->
<!--"@mail check"-->
<!--"@mail checking"-->
<h1>mail checking</h1>

<p>
If <a href="../topics/special_variables.html#maildelay">%{maildelay}</a>
is nonzero, TF will check for mail every
<a href="../topics/special_variables.html#maildelay">%{maildelay}</a> seconds.
TF checks for mail in each file in the space-separated list of files in
the <a href="../topics/special_variables.html#TFMAILPATH">%{TFMAILPATH}</a>
<a href="../topics/variables.html">variable</a>.
If <a href="../topics/special_variables.html#TFMAILPATH">%{TFMAILPATH}</a>
is not set, TF will check in the single file named by the
<a href="../topics/special_variables.html#MAIL">%{MAIL}</a>
<a href="../topics/variables.html">variable</a>.

<p>
TF considers a mailfile to have unread mail if the file has been written more
recently than it has been read.  When this changes for any of the monitored
files, TF updates the mail indicator on the
<a href="../topics/status_line.html">status line</a>
(actually, the "<code>@mail</code>"
<a href="../topics/status_line.html">status</a>).

When TF determines that a mailfile contains
new mail, it calls the <a href="../topics/hooks.html#MAIL">MAIL hook</a>,
which by default prints "<code>You have new mail</code>".
If a mailfile is not empty the <em>first</em> time TF checks it,
TF just prints "<code>You have mail</code>" without calling the
<a href="../topics/hooks.html#MAIL">MAIL hook</a>.

<p>
If an error occurs while checking any file, an error message will be displayed
only once, until that error clears up (or changes to a different error), but
TF will continue to check that file.  To disable checking, even after an
error, you must remove the file from 
<a href="../topics/special_variables.html#TFMAILPATH">%{TFMAILPATH}</a> or
<a href="../topics/special_variables.html#MAIL">%{MAIL}</a>.

<p>
The <a href="../topics/functions.html#nmail()">nmail()</a>
<a href="../topics/functions.html">function</a> returns
the number of monitored mail files containing unread mail.

<p>
MAIL and/or MAILPATH variables are usually set in the environment before
<a href="../topics/tf.html">TF</a> starts.
If <a href="../topics/special_variables.html#MAIL">%{MAIL}</a> is not
set when TF starts, TF will try to set it to the name of the system mail
directory plus your user name (if the system mail directory was defined
when TF was installed).  If MAILPATH (which uses ":" as a delimiter)
is set when TF starts, it is transferred to
<a href="../topics/special_variables.html#TFMAILPATH">%{TFMAILPATH}</a>
(which uses space as a delimiter).

<p>
  See:
  <a href="../topics/functions.html#nmail">nmail()</a>,
  <a href="../topics/variables.html">variables</a>,
  <a href="../topics/special_variables.html">special variables</a>,
  <a href="../commands/set.html">/set</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1998 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
