<title>TinyFugue: mailing list</title>
<!--"@mailing list"-->
<!--"@mail list"-->
<h1>mailing list</h1>

<p>
  The TinyFugue mailing list is an email forum for discussion of topics
  related to TinyFugue.  To subscribe, send email to
  <a href="mailto://majordomo@tcp.com">majordomo@tcp.com</a>
  with a body of "<code>subscribe tinyfugue</code>".

<p>
  Also see
  <a href="http://tf.tcp.com/~hawkeye/tf/">http://tf.tcp.com/~hawkeye/tf/</a>
  for the latest info on TF.

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
