<title>TinyFugue: options</title>
<!--"@-"-->
<!--"@--"-->
<!-- -- -->
<!--"@options"-->
<h1>options</h1>

<p>
  Many commands take options to modify their behavior, following these rules
  (similar to UNIX conventions, but not identical):
  <ul>
  <li> All options must be immediately preceded by '-'.
  <li> Options may be grouped after a single '-'.
  <li> Some options may take string, numeric, or time arguments.  There must
  be no space between the option and the argument.
  <li> String option-arguments may be delimited by a space, double quotes,
  single quotes, or backquotes.
  <li>A literal delimiter character or '\' within a delimited string must
  be escaped by preceding it with '\'.
  <li> All options must precede normal arguments.
  <li> A '-' or '--' by itself may be used to mark the end of the options.
  This is useful when the first regular argument begins with '-'.
  <li> A '-?' or invalid option will produce a list of valid options.
  </ul>

<p>
  See also: <a href="../topics/getopts.html">getopts()</a>.

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
