<title>TinyFugue: processes</title>
<!--"@tinyprocesses"-->
<!--"@process"-->
<!--"@proc"-->
<!--"@processes"-->
<h1>processes</h1>

<p>
  Associated topics:

<p>
  <a href="../commands/quote.html">/quote</a><br>
  <a href="../commands/repeat.html">/repeat</a><br>
  <a href="../commands/ps.html">/ps</a><br>
  <a href="../commands/kill.html">/kill</a><br>
  <a href="../topics/special_variables.html#ptime">%ptime</a><br>
  <a href="../topics/special_variables.html#lpquote">%lpquote</a><br>

<p>
  The <a href="../commands/quote.html">/quote</a> and
  <a href="../commands/repeat.html">/repeat</a> commands in Fugue are done by
  setting up internal <a href="../topics/processes.html">processes</a> that
  run concurrently with normal input and output.

<p>
  <a href="../commands/ps.html">/ps</a> can be used to get a listing of the
  currently running <a href="../topics/processes.html">processes</a> and
  their process ID's (for use with <a href="../commands/kill.html">/kill</a>).

<p>
  <a href="../commands/kill.html">/kill</a> can be used to terminate a
  <a href="../topics/processes.html">process</a>.

<p>
  <a href="../topics/processes.html">Processes</a> can be either synchronous or
  asynchronous.  Synchronous <a href="../topics/processes.html">processes</a>
  run immediately when they are started, and run to completion before any
  other commands are executed.  Synchronous
  <a href="../topics/processes.html">processes</a> are new in version 3.3
  beta 10.

<p>
  Asynchronous <a href="../topics/processes.html">processes</a>
  are merely scheduled to be run by a
  <a href="../commands/quote.html">/quote</a> or
  <a href="../commands/repeat.html">/repeat</a> command; the actual execution
  occurs at some later time.  They can be run based on two different
  criteria:

<p>
  1.  Normally, <a href="../topics/processes.html">processes</a>
  run whenever a specific period of time has
  elapsed.  The delay can be specified when the
  <a href="../topics/processes.html">process</a> is started, or will
  default to the value of 
  <a href="../topics/special_variables.html#ptime">%{ptime}</a>.

<p>
  2.  If the
  <a href="../topics/special_variables.html#lpquote">%{lpquote}</a> flag is
  on, <a href="../topics/processes.html">processes</a>
  run whenever a <a href="../topics/prompts.html">prompt</a> is received
  from the server, indicating
  that the previous command as completed.  Example:
<pre>
        <a href="../topics/special_variables.html#lpquote">/lpquote</a> on
	<a href="../commands/quote.html">/quote</a> <a href="../commands/send.html">/send</a> !echo n; echo w; echo w; echo s
</pre>
  will send the commands "n", "w", "w", and "s", but will wait to send a
  command until the <a href="../topics/prompts.html">prompt</a> following
  the last command is seen.

<p>
  If an asynchronous <a href="../commands/quote.html">/quote</a> or
  <a href="../commands/repeat.html">/repeat</a> is followed immediately by
  another command, the other command will run first, because the asynchronous
  <a href="../topics/processes.html">process</a>
  was only scheduled, not actually executed.  Use a synchronous
  <a href="../commands/quote.html">/quote</a> or
  <a href="../commands/repeat.html">/repeat</a> to force the
  <a href="../topics/processes.html">process</a> to run
  before any other commands.

<p>
  Bodies of <a href="../commands/repeat.html">/repeat</a> undergo
  <a href="../topics/macros.html">macro</a> body
  <a href="../topics/evaluation.html">expansion</a> when they are executed;
  text generated by <a href="../commands/quote.html">/quote</a> does not.

<p>
  See also: <a href="../topics/utilities.html">utilities</a>
  (<a href="../commands/at.html">/at</a>,
  <a href="../topics/utilities.html">/tick</a>)

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
