<title>TinyFugue: prompt protocol</title>
<!--"@goahead"-->
<!--"@eor"-->
<!--"@end-of-record"-->
<!--"@protocol"-->
<!--"@prompt protocol"-->
<h1>prompt protocol</h1>

<p>
  TF will recognize the TELNET protocol commands GOAHEAD or END-OF-RECORD as
  the end of a <a href="../topics/prompts.html">prompt</a>.  If you are
  responsible for a server that has
  <a href="../topics/prompts.html">prompts</a>,
  and wish to make it more friendly to TF users, choose one of these options:

<p>
  GOAHEAD: Send IAC GA (\377 \371) after each
  <a href="../topics/prompts.html">prompt</a>.  This is the easier of
  the two options.  In many servers, this can be done at the beginning of the
  routine that reads user input.  Disadvantage: could possibly cause problems
  in clients that don't understand TELNET protocol (but usually, they will
  just pass it through to the terminal, which will usually ignore it).

<p>
  END-OF-RECORD: Send IAC WILL EOR (\377 \373 \031) when the user connects.
  If the client responds with IAC DO EOR, then you can send IAC END-OF-RECORD
  (\377 \357) after each
  <a href="../topics/prompts.html">prompt</a>; otherwise, do nothing special
  in <a href="../topics/prompts.html">prompts</a>.
  Disadvantage: requires extra state per descriptor and more understanding of
  telnet protocol.  Advantage: minimizes potential problems for clients that
  do not recognize telnet protocol.

<p>
  For more information on TELNET protocol, see RFCs 854, 855, 885, and 1123.
  RFCs can be obtained via FTP from
  <a href="ftp://NIS.NSF.NET/">NIS.NSF.NET</a>,
  <a href="ftp://NISC.JVNC.NET/">NISC.JVNC.NET</a>,
  <a href="ftp://VENERA.ISI.EDU/">VENERA.ISI.EDU</a>,
  <a href="http://WUARCHIVE.WUSTL.EDU/">WUARCHIVE.WUSTL.EDU</a>,
  <a href="ftp://SRC.DOC.IC.AC.UK/">SRC.DOC.IC.AC.UK</a>,
  <a href="ftp://FTP.CONCERT.NET/">FTP.CONCERT.NET</a>,
  <a href="ftp://DS.INTERNIC.NET/">DS.INTERNIC.NET</a>, or
  <a href="ftp://NIC.DDN.MIL/">NIC.DDN.MIL</a>.

<p>
  See also: <a href="../commands/telnet.html">/telnet</a>,
  <a href="../topics/prompts.html">prompts</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
