<title>TinyFugue: redirection</title>
<!--"@redirection"-->
<h1>redirection</h1>

<p>
  If TF is started with input or output redirected,
  <a href="../topics/special_variables.html#more">%more</a> will be ignored
  and SIGINT (^C) will kill TF without prompting.  TF will not exit when EOF
  is reached; the <a href="../commands/quit.html">/quit</a> command must be
  given explicitly.

<p>
  On UNIX systems, it is possible to write a tf script starting with the
  lines:
<pre>
    #!/bin/sh
    exec tf -n $* &lt;$0
</pre>
  and following with any tf commands.  The file can then be executed directly
  like a shell script.

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
