<title>TinyFugue: special variables</title>
<!--"@flags"-->
<!--"@globals"-->
<!--"@global variables"-->
<!--"@environment"-->
<!--"@enumerated variable"-->
<!--"@enumerated variables"-->
<!--"@special"-->
<!--"@special variable"-->
<!--"@special variables"-->
<h1>special variables</h1>

<p>
  Many options in TF can be controlled by setting special global
  <a href="../topics/variables.html">variables</a>.
  Many <a href="../topics/variables.html">variables</a> have a limited
  number of permitted values, with
  corresponding integer values; these are called enumerated 
  <a href="../topics/variables.html">variables</a>.
  All flags are enumerated <a href="../topics/variables.html">variables</a>
  which can have the values "off" (0)
  or "on" (1).  Numeric <a href="../topics/variables.html">variables</a>
  can have any integer value (within the
  range allowed by your system).  Attempting to unset numeric
  <a href="../topics/variables.html">variable</a> or
  give it a string value will force its value to 0.
  A variable's type (enumerated, numeric, or string) affects its behavior
  in <a href="../topics/expressions.html">expressions</a>.

<p>
<h2>Special substitute-only variables</h2>
  The following special <a href="../topics/variables.html">variables</a>
  may be used only in <a href="../topics/substitution.html">substitutions</a>,
  never as a variable
  <a href="../topics/expressions.html#operands">reference</a> in an
  <a href="../topics/expressions.html">expression</a>.
  <dl>
<a name="#"></a>
<a name="%#"></a>
  <dt><b>#</b>
      <dd> The number of words in a
      <a href="../topics/macros.html">macro</a>'s argument text.

<p>
<a name="?"></a>
<a name="%?"></a>
  <dt><b>?</b>
      <dd> The string return value of the most recently executed command
      (builtin or <a href="../topics/macros.html">macro</a>).

<p>
<a name=""></a>
  <dt><b>1,2...</b>
  <dt><b>L1,L2...</b>
  <dt><b>*</b>
  <dt><b>R</b>
      <dd>Positional parameters.  See
      "<a href="../topics/substitution.html">substitution</a>".

<p>
<a name=""></a>
  <dt><b>P<i>n</i></b>
  <dt><b>PL</b>
  <dt><b>PR</b>
      <dd> The text matched by the <i>n</i>th parenthesized subexpression,
      or the text to the left or right of the matched text,
      in the last successful
      <a href="../topics/patterns.html#regexp">regexp</a>
      comparison.  See
      <a href="../topics/substitution.html#%Pn">%Pn</a> for more details.
  </dl>

<p>
<a name=""></a>
<h2>Special global variables</h2>
  The following special global <a href="../topics/variables.html">variables</a>
  can be examined and set.  In the
  following list, a '=' following a
  <a href="../topics/variables.html">variable</a> name indicates its default
  value.  For <a href="../topics/variables.html">variables</a> that do not
  have defaults listed, the default is
  dependent on your system or configuration.
  <dl>

<a name="COLUMNS"></a>
<a name="%COLUMNS"></a>
  <dt><b>COLUMNS</b>
      <dd> If this variable is set in the environment when TF starts,
      TF will use its value instead of the value from the terminal driver.
      See <a href="../topics/special_variables.html#LINES">%LINES</a>,
      <a href="../topics/functions.html#columns()">columns()</a>.

<p>
<a name="HOME"></a>
<a name="%HOME"></a>
  <dt><b>HOME</b>
      <dd> Your home directory, used by
      <a href="../commands/lcd.html">/cd</a> and
      <a href="../topics/filenames.html">filename expansion</a>.
      This is usually inherited from the environment when tf starts.

<p>
<a name="LANG"></a>
<a name="%LANG"></a>
  <dt><b>LANG</b>
      <dd> The current locale.
      See <a href="../topics/locale.html">locale</a>.
      Automatically exported to the environment when set.

<p>
<a name="LC_ALL"></a>
<a name="%LC_ALL"></a>
  <dt><b>LC_ALL</b>
      <dd> The current locale.
      See <a href="../topics/locale.html">locale</a>.
      Automatically exported to the environment when set.

<p>
<a name="LC_CTYPE"></a>
<a name="%LC_CTYPE"></a>
  <dt><b>LC_CTYPE</b>
      <dd> The current locale for character classification.
      See <a href="../topics/locale.html">locale</a>.
      Automatically exported to the environment when set.

<p>
<a name="LC_TIME"></a>
<a name="%LC_TIME"></a>
  <dt><b>LC_TIME</b>
      <dd> The current locale for time formatting.
      See <a href="../topics/locale.html">locale</a>.
      Automatically exported to the environment when set.

<p>
<a name="LINES"></a>
<a name="%LINES"></a>
  <dt><b>LINES</b>
      <dd> If this variable is set in the environment when TF starts,
      TF will use its value instead of the value from the terminal driver.
      See <a href="../topics/special_variables.html#COLUMNS">%COLUMNS</a>,
      <a href="../topics/functions.html#lines()">lines()</a>.

<p>
<!-- the "MAIL" tag is used in hooks.html -->
<a name="%MAIL"></a>
  <dt><b>MAIL</b>
      <dd> The name of a file which TF may check for mail.
      See: <a href="../topics/mail.html">mail</a>.

<p>
<a name="SHELL"></a>
<a name="%SHELL"></a>
  <dt><b>SHELL</b>
      <dd> Shell used by
      <code><a href="../commands/sh.html">/sh</a></code> and
      <code><a href="../commands/quote.html">/quote</a> !</code>.
      This is usually inherited from the environment when tf starts.

<p>
<a name="terminal"></a>
<a name="term"></a>
<a name="TERM"></a>
<a name="%TERM"></a>
  <dt><b>TERM</b>
      <dd> Terminal type.  Changing the value of
      <a href="../topics/special_variables.html#TERM">%TERM</a> at any
      time will cause TF to re-initialize its display functions to use
      the new value.
      The value of <a href="../topics/special_variables.html#TERM">%TERM</a>
      should agree with your actual terminal or emulator.
      If your emulator supports multiple terminal types, the recommended
      type to use is vt220, vt100, or ansi (in that order).
      <a href="../topics/special_variables.html#TERM">%TERM</a>
      is usually inherited from the environment when tf starts.
      See also: <a href="../topics/mode.html">mode</a>.

<p>
<a name="TFHELP"></a>
<a name="%TFHELP"></a>
  <dt>
  <b>TFHELP</b>=<a href="../topics/special_variables.html#TFLIBDIR">%{TFLIBDIR}</a>/tf-help
      <dd> The name of the file used by
      <a href="../commands/help.html">/help</a>.

<p>
<a name="TFLIBDIR"></a>
<a name="%TFLIBDIR"></a>
  <dt><b>TFLIBDIR</b>
      <dd>The name of the TF library directory, which should contain the
      help file (tf-help), the standard library (stdlib.tf), the local
      library (local.tf), and many useful utility files.
      The default value of 
      <a href="../topics/special_variables.html#TFLIBDIR">TFLIBDIR</a>
      is set when TF is installed, but can be overridden by setting it
      in the environment before starting TF.
      This directory will be searched by
      <a href="../commands/load.html">/load</a> if
      <a href="../topics/special_variables.html#TFPATH">TFPATH</a> is
      blank or not set.
      See also: <a href="../commands/load.html">/load</a>.

<p>
<a name="TFLIBRARY"></a>
<a name="%TFLIBRARY"></a>
  <dt>
  <b>TFLIBRARY</b>=<a href="../topics/special_variables.html#TFLIBDIR">%{TFLIBDIR}</a>/stdlib.tf
      <dd> The name of the library file loaded at
      <a href="../topics/tf.html">startup</a>.  This can be
      set in the environment before starting tf, to load from an
      alternate library file.

<p>
<a name="MAILPATH"></a>
<a name="TFMAILPATH"></a>
<a name="%TFMAILPATH"></a>
  <dt><b>TFMAILPATH</b>
      <dd> A space-separated list of files which TF may check for mail.
      See: <a href="../topics/mail.html">mail</a>.

<p>
<a name="TFPATH"></a>
<a name="%TFPATH"></a>
  <dt><b>TFPATH</b>=
      <dd>A space-separated list of directories that will be searched
      by <a href="../commands/load.html">/load</a>.  If this is set,
      <a href="../topics/special_variables.html#TFLIBDIR">%{TFLIBDIR}</a>
      will be ignored by <a href="../commands/load.html">/load</a>, so be
      sure to include the value of 
      <a href="../topics/special_variables.html#TFLIBDIR">%{TFLIBDIR}</a> in
      <a href="../topics/special_variables.html#TFPATH">%{TFPATH}</a>
      if you want to be able to <a href="../commands/load.html">/load</a>
      files with relative names from the standard library directory.
      See also: <a href="../commands/load.html">/load</a>.

<p>
<a name="TZ"></a>
<a name="%TZ"></a>
  <dt><b>TZ</b>
      <dd> On most systems, the timezone used to display formatted times.
      In the United States,
      the value is usually the local timezone name, followed by the
      difference in hours from GMT, followed by an optional daylight
      saving timezone name; for example, "PST8PDT".  For details, see
      your system documentation for tzset(3) or environ(5).
      This is usually inherited from the environment when tf starts,
      and is automatically exported to the environment when set.

<p>
<a name="auto_fg"></a>
<a name="%auto_fg"></a>
  <dt><b>auto_fg</b>=on
      <dd> (flag) If on when the
      <a href="../topics/sockets.html#foreground">foreground</a>
      <a href="../topics/sockets.html">socket</a> disconnects,
      tf will automatically bring another
      <a href="../topics/sockets.html">socket</a> into the
      <a href="../topics/sockets.html#foreground">foreground</a>.

<p>
<a name="background"></a>
<a name="%background"></a>
  <dt><b>background</b>=on
      <dd> (flag) If on, text from
      <a href="../topics/sockets.html#background">background</a>
      worlds is processed and
      recorded immediately upon receipt.  Otherwise, the text is ignored
      until the <a href="../topics/sockets.html">socket</a> is brought
      into the <a href="../topics/sockets.html#foreground">foreground</a>.
      In either case, the text is not displayed
      until the <a href="../topics/sockets.html">socket</a> is brought
      into the <a href="../topics/sockets.html#foreground">foreground</a>
      (but see
      <a href="../topics/special_variables.html#bg_output">%{bg_output}</a>).

<p>
<a name="backslash"></a>
<a name="%backslash"></a>
  <dt><b>backslash</b>=on
      <dd> (flag) Enables use of '\' to quote the following character
      literally during <a href="../topics/macros.html">macro</a>
      <a href="../topics/evaluation.html">expansion</a>.  Generally, this
      should only be turned off if you are having problems with '\' in
      <a href="../topics/macros.html">macros</a> written before version
      3.0.

<p>
<a name="bamf"></a>
<a name="%bamf"></a>
  <dt><b>bamf</b>=off
      <dd>
      <dl compact>
      <dt>off
              <dd>(0): server "<a href="../commands/bamf.html">portals</a>"
              are ignored.
      <dt>on
              <dd>(1): Unter-style
              <a href="../commands/bamf.html">bamfing</a> is enabled
              (disconnect).
      <dt>old
              <dd>(2): Old-style
              <a href="../commands/bamf.html">bamfing</a>
              is enabled (no disconnect).
      </dl>
      See <a href="../commands/bamf.html">/bamf</a>.

<p>
<a name="bg_output"></a>
<a name="%bg_output"></a>
  <dt><b>bg_output</b>=on
      <dd> (flag) If on, output from a 
      <a href="../topics/sockets.html#background">background</a>
      world will be displayed
      when that world is brought into the
      <a href="../topics/sockets.html#foreground">foreground</a>.  If off,
      <a href="../topics/sockets.html#background">background</a>
      output will not be displayed, but it will go through all other
      normal processing, including
      <a href="../topics/triggers.html">triggers</a> and
      <a href="../topics/history.html">history</a> (so it can be accessed
      with <a href="../commands/recall.html">/recall</a>).  This flag is
      ignored if the
      <a href="../topics/special_variables.html#background">%{background}</a>
      flag is off.
      (The -q option of <a href="../commands/fg.html">/fg</a> is a more
      flexible way to do the same thing.)

<p>
<a name="binary_eol"></a>
<a name="%binary_eol"></a>
  <dt><b>binary_eol</b>=LF
      <dd> Determines what to send as end-of-line marker in
      <a href="../commands/telnet.html">TELNET</a> BINARY mode.
      Valid values are "LF", "CR", and "CRLF".
      (See: <a href="../commands/telnet.html">/telnet</a>)

<p>
<a name="borg"></a>
<a name="%borg"></a>
  <dt><b>borg</b>=on
      <dd> (flag) Enables <a href="../topics/triggers.html">trigger</a>
      bodies (<a href="../topics/attributes.html">attributes</a> are
      unaffected).  (See: <a href="../topics/triggers.html">triggers</a>)

<p>
<a name="clearfull"></a>
<a name="%clearfull"></a>
  <dt><b>clearfull</b>=off
      <dd> (flag) In <a href="../topics/mode.html">visual</a> mode, clear
      input window rather than scroll when full.  Always 1 if terminal
      can not scroll.

<p>
<a name="cleardone"></a>
<a name="%cleardone"></a>
  <dt><b>cleardone</b>=off
      <dd> (flag) In <a href="../topics/mode.html">visual</a> mode,
      enables clearing of input window when return is pressed.

<p>
<a name="clock"></a>
<a name="%clock"></a>
  <dt><b>clock</b>
      <dd>This variable is no longer supported.  To disable the clock,
      remove the "<code>@clock</code>" field from the
      <a href="../topics/status_line.html">%status_fields</a> variable, or
      <code>/set status_int_clock=''</code>.
      To make the clock display in 24-hour format,
      <code>/set
      status_int_clock=<a href="../commands/ftime.html">ftime</a>("%H:%M",
      <a href="../topics/functions.html#time">time</a>())</code>.

<p>
<a name="connect"></a>
<a name="%connect"></a>
  <dt><b>connect</b>=nonblocking
      <dd> Set to "blocking" or "nonblocking" to determine how
      <a href="../commands/connect.html">/connect</a> works.
      Default is "nonblocking" on platforms that support it.
      Nonblocking allows you to continue doing other things while tf
      tries to establish a new connection.
      See also <a href="#gethostbyname">%gethostbyname</a>.

<p>
<a name="%e"></a>
  <dt><b>e</b>=2.718281828
      <dd> Euler's number.

<p>
<a name="raw"></a>
<a name="canon"></a>
<a name="print"></a>
<a name="ansi"></a>
<a name="ansi_strip"></a>
<a name="ansi_attr"></a>
<a name="emulation"></a>
<a name="%emulation"></a>
  <dt><b>emulation</b>=ansi_attr
      <dd> Determines how special codes sent by the server should be
      interpreted by tf.
      The set of printable characters is determined by the current
      <a href="../topics/locale.html">locale</a>.  Valid values for
      <a href="../topics/special_variables.html#emulation">%emulation</a> are:
      <dl>
      <dt>raw:
              <dd> No processing done; lines not wrapped; all
              nonprintable characters are displayed, and their effect is
              undefined (depending mainly on your terminal).  TF's input
              display is not guaranteed correct; use at your own risk.
              This mode allows the
              server to have most of the control over the screen, but is
              not guaranteed to give the desired effect.  For best
              results,
              <a href="../topics/special_variables.html#visual">%visual</a>
              should be "off", and tf
              <a href="../topics/attributes.html">attributes</a> should
              not be used.
      <dt>print:
              <dd> Tabs expanded; backspaces interpreted; lines wrapped;
              nonprintable characters removed.
      <dt>ansi_strip:
              <dd> Like "print", but ansi-like display codes (i.e., a
              sequence consisting of ESC, '[', 0 or more digits and ';'s,
              and a letter) are also removed.
      <dt>ansi_attr:
              <dd> Like "ansi_strip", but ansi-like
              <a href="../topics/attributes.html">display attribute</a>
              codes (i.e., ansi codes ending with 'm')
              will be converted to tf's internal format and
              displayed correctly (on any terminal).  Other ansi-like
              codes (e.g., cursor motion) will be removed.  Recommended
              for servers that send vt100/ansi display
              <a href="../topics/attributes.html">attribute</a> codes.
      <dt>debug:
              <dd> converts nonprinting characters to a printable form.
              See also:
              <a href="../topics/special_variables.html#telopt">%telopt</a>.
      </dl>
      See also:
      <a href="../topics/special_variables.html#istrip">%istrip</a>,
      <a href="../topics/special_variables.html#meta_esc">%meta_esc</a>,
      <a href="../topics/special_variables.html#tabsize">%tabsize</a>,
      <a href="../topics/locale.html">locale</a>,
      <a href="../topics/attributes.html">attributes</a>

<p>
<a name="end_color"></a>
<a name="%end_color"></a>
  <dt><b>end_color</b>
      <dd>The code that should be sent to your terminal to return to
      normal <a href="../topics/colors.html">color</a> after a
      <a href="../topics/special_variables.html#start_color_name">%{start_color_<i>name</i>}</a>
      code.  See: <a href="../topics/colors.html">color</a>.

<p>
<a name="gag"></a>
<a name="%gag"></a>
  <dt><b>gag</b>=on
      <dd> (flag) Enable the <a href="../topics/attributes.html">gag</a>
      <a href="../topics/attributes.html">attribute</a>.
      (See: <a href="../commands/gag.html">/gag</a>,
      <a href="../commands/nogag.html">/nogag</a>)

<p>
<a name="gethostbyname"></a>
<a name="%gethostbyname"></a>
  <dt><b>gethostbyname</b>
      <dd> Set to "blocking" or "nonblocking" to determine how
      <a href="../commands/connect.html">/connect</a> does hostname
      resolution.  On OS/2, default is "nonblocking".  On UNIX,
      default is "blocking", because nonblocking is usually slower unless
      you have a fast machine and slow name service.
      See also <a href="#connect">%connect</a>.

<p>
<a name="gpri"></a>
<a name="%gpri"></a>
  <dt><b>gpri</b>=0
      <dd> Priority of subsequent
      <a href="../commands/gag.html">/gag</a>s.  (See:
      <a href="../commands/gag.html">/gag</a>)

<p>
<a name="hook"></a>
<a name="%hook"></a>
  <dt><b>hook</b>=on
      <dd> (flag) Enable <a href="../topics/hooks.html">hooks</a>.  (See:
      <a href="../topics/hooks.html">hooks</a>,
      <a href="../commands/hook.html">/hook</a>) Note that
      <a href="../topics/login.html">autologin</a> and
      automatic <a href="../topics/special_variables.html#lp">%{lp}</a>
      setting will not work if
      <a href="../topics/special_variables.html#hook">%{hook}</a>
      is 0.

<p>
<a name="hilite"></a>
<a name="%hilite"></a>
  <dt><b>hilite</b>=on
      <dd> (flag) Enable display
      <a href="../topics/attributes.html">attributes</a>,
      whether from a <a href="../topics/triggers.html">trigger</a>, the
      server, or whatever.
      (See: <a href="../commands/hilite.html">/hilite</a>,
      <a href="../commands/nohilite.html">/nohilite</a>)

<p>
<a name="hiliteattr"></a>
<a name="%hiliteattr"></a>
  <dt><b>hiliteattr</b>=B
      <dd> Defines the <a href="../topics/attributes.html">attributes</a>
      used by <a href="../topics/attributes.html">hilite</a>s.  Can be
      any combination of
      <a href="../topics/attributes.html">attributes</a>, including color
      names.  (See: <a href="../topics/attributes.html">attributes</a>,
      <a href="../commands/hilite.html">/hilite</a>)

<p>
<a name="histsize"></a>
<a name="%histsize"></a>
  <dt><b>histsize</b>=1000
      <dd>When a new world <a href="../topics/history.html">history</a>
      is created, it will have space for
      <a href="../topics/special_variables.html#histsize">%{histsize}</a>
      lines.  A world <a href="../topics/history.html">history</a> is
      created the first time text is sent to it.  (See also:
      <a href="../commands/histsize.html">/histsize</a>)

<p>
<a name="hpri"></a>
<a name="%hpri"></a>
  <dt><b>hpri</b>=0
      <dd> Priority of subsequent
      <a href="../commands/hilite.html">/hilite</a>s.

<p>
<a name="insert"></a>
<a name="typeover"></a>
<a name="%insert"></a>
  <dt><b>insert</b>=on
      <dd> (flag) If on, keyboard input is inserted; if off, input
      overstrikes existing text.

<p>
<a name="isize"></a>
<a name="%isize"></a>
  <dt><b>isize</b>=3
      <dd> Size of input window in
      <a href="../topics/mode.html">visual</a> mode.
      See also: <a href="../topics/functions.html#lines">lines()</a>.

<p>

<a name="istrip"></a>
<a name="%istrip"></a>
  <dt><b>istrip</b>=off
      <dd> (flag) If on, the high bit will be stripped from all input
      characters.  Note that this will prevent 
      <a href="../topics/special_variables.html#meta_esc">%meta_esc</a>
      and <a href="../topics/locale.html">locales</a> with 8-bit characters
      from working correctly.

<p>
<a name="kecho"></a>
<a name="%kecho"></a>
  <dt><b>kecho</b>=off
      <dd> (flag) Re-echoing of keyboard input, preceded by
      <a href="../topics/special_variables.html#kprefix">%{kprefix}</a>.
      See also: <a href="../commands/localecho.html">/localecho</a>.

<p>
<a name="kprefix"></a>
<a name="%kprefix"></a>
  <dt><b>kprefix</b>=
      <dd> Prefix for echoed keyboard text, if
      <a href="../topics/special_variables.html#kecho">%{kecho}</a> is
      on.

<p>
<-- "login" is a separate topic -->
<a name="%login"></a>
  <dt><b>login</b>=on
      <dd> (flag) Enable <a href="../topics/login.html">automatic login</a>
      <a href="../topics/hooks.html">hook</a>.  (See:
      <a href="../topics/login.html">automatic login</a>,
      <a href="../topics/hooks.html">hooks</a>,
      <a href="../commands/world.html">/world</a>)

<p>
<a name="lp"></a>
<a name="%lp"></a>
  <dt><b>lp</b>=off
      <dd> (flag) Displays partial lines as
      <a href="../topics/prompts.html">prompts</a>, after a short
      timeout.  Useful for LP and Diku MUDs.  (See:
      <a href="../topics/prompts.html">prompts</a>)

<p>
<a name="lpquote"></a>
<a name="%lpquote"></a>
  <dt><b>lpquote</b>=off
      <dd> (flag) If on, waits for LP
      <a href="../topics/prompts.html">prompt</a> for
      <a href="../commands/quote.html">/quote</a> and
      <a href="../commands/repeat.html">/repeat</a>, instead of operating
      on a timed basis.  (See:
      <a href="../topics/processes.html">processes</a>,
      <a href="../commands/quote.html">/quote</a>,
      <a href="../commands/repeat.html">/repeat</a>)

<p>
<a name="maildelay"></a>
<a name="%maildelay"></a>
  <dt><b>maildelay</b>=60
      <dd> Delay in seconds between mail checks.  Setting this to 0
      disables mail checking.  The file to be checked is named by the
      <a href="../topics/special_variables.html#MAIL">%{MAIL}</a>
      <a href="../topics/variables.html">variable</a>.

<p>
<a name="matching"></a>
<a name="%matching"></a>
  <dt><b>matching</b>=glob
      <dd>Determines the default
      <a href="../topics/patterns.html">pattern matching</a> style.
      <dl compact>
      <dt>"<a href="../topics/patterns.html#simple">simple</a>":
              <dd> straightforward string comparison.
      <dt>"<a href="../topics/patterns.html#glob">glob</a>":
              <dd> shell-like matching (as before version 3.2).
      <dt>"<a href="../topics/patterns.html#regexp">regexp</a>":
              <dd> regular expression.
      </dl>
      See also: <a href="../topics/patterns.html">patterns</a>,
      <a href="../topics/functions.html#regmatch">regmatch()</a>,
      <a href="../topics/substitution.html#%Pn">%Pn</a>.

<p>
<a name="max_iter"></a>
<a name="%max_iter"></a>
  <dt><b>max_iter</b>=1000
      <dd>Maximum number of iterations in a
      <a href="../commands/while.html">/while</a> loop.  A value of 0
      will allow unlimited iterations.

<p>
<a name="max_recur"></a>
<a name="%max_recur"></a>
  <dt><b>max_recur</b>=100
      <dd> Maximum depth of recursive
      <a href="../topics/macros.html">macro</a> calls or
      <a href="../topics/triggers.html">triggers</a>.  A value of 0 will
      allow unlimited recursion.

<p>
<a name="debug"></a>
<a name="debugging"></a>
<a name="mecho"></a>
<a name="%mecho"></a>
  <dt><b>mecho</b>=off
      <dd>
      <dl compact>
      <dt>"off" (0):
              <dd> do not echo <a href="../topics/macros.html">macro</a>
              <a href="../topics/evaluation.html">expansions</a>.
      <dt>"on" (1):
              <dd> echo
              <a href="../topics/evaluation.html">expansions</a> of
              non-invisible <a href="../topics/macros.html">macros</a>.
      <dt>"all" (2):
              <dd> echo
              <a href="../topics/evaluation.html">expansions</a> of all
              <a href="../topics/macros.html">macros</a>.
      </dl>
      <a href="../topics/special_variables.html#mprefix">%{mprefix}</a>
      will be prepended once for each recursion level when
      <a href="../topics/macros.html">macro</a>
      <a href="../topics/evaluation.html">expansion</a> echoing is
      enabled.

<p>
<a name="meta_esc"></a>
<a name="%meta_esc"></a>
  <dt><b>meta_esc</b>=on
      <dd> (flag) If
      <a href="../topics/special_variables.html#istrip">%istrip</a> is off
      and <a href="../topics/special_variables.html#meta_esc">%meta_esc</a>
      is on, any characters that are not printable in the current
      <a href="../topics/locale.html">locale</a> and have their high bit
      set will have their high bit striped, and will be
      prefixed with an ESC character.
      This allows M-x and ^[x to invoke the same keybinding.

<p>
<a name="more"></a>
<a name="%more"></a>
  <dt><b>more</b>=off
      <dd> (flag) Displays output one screenfull at a time.  (See:
      <a href="../commands/more.html">/more</a>)

<p>
<a name="mprefix"></a>
<a name="%mprefix"></a>
  <dt><b>mprefix</b>=+
      <dd> Prefix for <a href="../topics/macros.html">macro</a> echoing,
      if <a href="../topics/special_variables.html#mecho">%{mecho}</a> is
      not "off".

<p>
<a name="oldslash"></a>
<a name="%oldslash"></a>
  <dt><b>oldslash</b>=on
      <dd> (flag) If on, sequences of more than one '/' in a
      <a href="../topics/macros.html">macro</a> body will be compressed
      by one during <a href="../topics/macros.html">macro</a>
      <a href="../topics/evaluation.html">expansion</a>.  This allows
      <a href="../topics/macros.html">macros</a> written before version
      3.0 to work properly.
      With oldslash=off, only slashes at the beginning of a body are
      handled specially.
      You are encouraged to turn this off.  (See:
      <a href="../topics/evaluation.html">evaluation</a>)

<p>
<a name="%pi"></a>
  <dt><b>pi</b>=3.141592654
      <dd> The ratio of a circle's circumference to its diameter.

<p>
<a name="pedantic"></a>
<a name="%pedantic"></a>
  <dt><b>pedantic</b>=off
      <dd> (flag) If on, tf will generate warnings about some potential
      problems in your macro code.  Often the warnings indicate code that
      is technically valid but may not do what you intended.

<p>
<a name="prompt_sec"></a>
<a name="%prompt_sec"></a>
<a name="prompt_usec"></a>
  <dt><b>prompt_sec</b>=0
  <dt><b>prompt_usec</b>=250000
      <dd>These two <a href="../topics/variables.html">variables</a>
      control the delay used to recognize
      unterminated <a href="../topics/prompts.html">prompts</a>.  (See:
      <a href="../topics/prompts.html">prompts</a>).

<p>
<a name="proxy_host"></a>
<a name="%proxy_host"></a>
<a name="proxy_port"></a>
<a name="%proxy_port"></a>
  <dt><b>proxy_host</b>=
  <dt><b>proxy_port</b>=23
      <dd>These two <a href="../topics/variables.html">variables</a>
      describe the <a href="../topics/proxy.html">proxy</a>
      server used for opening connections.
      (See: <a href="../topics/proxy.html">proxy</a>).

<p>
<a name="ptime"></a>
<a name="%ptime"></a>
  <dt><b>ptime</b>=1
      <dd> Default delay (in seconds) between
      <a href="../commands/quote.html">/quote</a> and
      <a href="../commands/repeat.html">/repeat</a>
      <a href="../topics/processes.html">process</a> runs.

<p>
<a name="qecho"></a>
<a name="%qecho"></a>
  <dt><b>qecho</b>=off
      <dd> (flag) Echoing of <a href="../commands/quote.html">/quote</a>
      text, prefixed by
      <a href="../topics/special_variables.html#qprefix">%{qprefix}</a>.

<p>
<a name="qprefix"></a>
<a name="%qprefix"></a>
  <dt><b>qprefix</b>=
      <dd> Prefix for <a href="../commands/quote.html">/quote</a>
      echoing, if
      <a href="../topics/special_variables.html#qecho">%{qecho}</a> is
      on.

<p>
<a name="quiet login"></a>
<a name="quiet"></a>
<a name="%quiet"></a>
  <dt><b>quiet</b>=off
      <dd> (flag) <a href="../topics/attributes.html">Gag</a> text after
      <a href="../topics/login.html">login</a> until the mud sends
      "Use the WHO command", "### end of messages ###", or 25 lines.
      Note: This will not function correctly
      on MUDs which don't send those strings or 25 lines in the
      introductory text.

<p>
<a name="quitdone"></a>
<a name="%quitdone"></a>
  <dt><b>quitdone</b>=off
      <dd> (flag) Quit upon disconnection from last
      <a href="../topics/sockets.html">socket</a>.

<p>
<a name="redef"></a>
<a name="%redef"></a>
  <dt><b>redef</b>=on
      <dd> (flag) Allows redefinition of existing worlds, keybindings,
      and named <a href="../topics/macros.html">macros</a>.

<p>
<a name="refreshtime"></a>
<a name="%refreshtime"></a>
  <dt><b>refreshtime</b>=250000
      <dd>The delay (in microseconds) for redisplaying your keyboard
      input after it is overwritten by incoming text
      in <a href="../topics/mode.html">non-visual</a> mode.
      If you you are on a slow modem, you may wish to increase this delay.
      On a fast connection, you may wish to decrease it.
      The default is 250000 (1/4 second).

<p>
<a name="scroll"></a>
<a name="%scroll"></a>
  <dt><b>scroll</b>=on
      <dd> (flag) In <a href="../topics/mode.html">visual</a> mode,
      scroll output instead of wrapping from bottom to top.

<p>
<a name="shpause"></a>
<a name="%shpause"></a>
  <dt><b>shpause</b>=off
      <dd> (flag) Wait for a keypress after returning from
      <a href="../commands/sh.html">/sh</a>.

<p>
<a name="snarf"></a>
<a name="%snarf"></a>
  <dt><b>snarf</b>=off
      <dd> (flag) Don't send empty lines to the server.

<p>
<a name="sockmload"></a>
<a name="%sockmload"></a>
  <dt><b>sockmload</b>=off
      <dd> (flag) Load <a href="../topics/macros.html">macro</a> files
      when <a href="../topics/sockets.html#foreground">foregrounding</a> a world
      ("<a href="../commands/dokey.html">/dokey</a> socketf",
      "<a href="../commands/dokey.html">/dokey</a> socketb", or
      "<a href="../commands/fg.html">/fg</a>").  Normally, a world's
      <a href="../topics/macros.html">macro</a> file is loaded only when
      TF first connects to it.  (Note: the WORLD
      <a href="../topics/hooks.html">hook</a> is more useful than
      sockmload).

<p>
<a name="start_color"></a>
<a name="%start_color"></a>
<a name="start_color_name"></a>
<a name="%start_color_name"></a>
<a name="start_color_<name>"></a>
<a name="%start_color_<name>"></a>
  <dt><b>start_color_<i>name</i></b>
      <dd>The code that should be sent to your terminal to produce
      <a href="../topics/colors.html">color</a> <i>name</i>.  See:
      <a href="../topics/colors.html">color</a>.

<p>
<a name="status_attr"></a>
<a name="%status_attr"></a>
  <dt><b>status_attr</b>
      <dd>The 
      <a href="../topics/attributes.html">attributes</a> used to display
      the <a href="../topics/status_line.html">status line</a>
      in <a href="../topics/mode.html#visual">visual mode</a>.
      See: <a href="../topics/status_line.html">status line</a>.

<p>
<a name=""></a><!-- this has a separate help page -->
  <dt><b>status_fields</b>
      <dd>The list of fields displayed on
      the <a href="../topics/status_line.html">status line</a>
      in <a href="../topics/mode.html#visual">visual mode</a>.
      See: <a href="../topics/status_line.html">status line</a>.

<p>
<a name="status_pad"></a>
<a name="%status_pad"></a>
  <dt><b>status_pad</b>=_
      <dd>The padding character used in displaying
      the <a href="../topics/status_line.html">status line</a>
      in <a href="../topics/mode.html#visual">visual mode</a>.
      See: <a href="../topics/status_line.html">status line</a>.

<p>
<a name="tab"></a>
<a name="%tab"></a>
<a name="tabs"></a>
<a name="tabsize"></a>
<a name="%tabsize"></a>
  <dt><b>tabsize</b>=8
      <dd> Tabs will be replaced with spaces to pad to a multiple of
      <a href="../topics/special_variables.html#tabsize">%{tabsize}</a>.

<p>
<a name="telopt"></a>
<a name="%telopt"></a>
  <dt><b>telopt</b>=off
      <dd> (flag) Display <a href="../commands/telnet.html">telnet</a>
      option negotiations (for debugging purposes).  See also:
      <a href="../topics/special_variables.html#emulation">%emulation</a>=debug.

<p>
<a name="sub"></a>
<a name="%sub"></a>
  <dt><b>sub</b>=off
      <dd>
      <dl compact>
      <dt>"off" (0):
              <dd> input is not
              <a href="../topics/evaluation.html">expanded</a>.
      <dt>"on" (1):
              <dd> input "<a href="../topics/substitution.html#%;">%;</a>"
              is <a href="../topics/evaluation.html">expanded</a> to
              newlines.
      <dt>"full" (2):
              <dd> input undergoes full
              <a href="../topics/substitution.html">macro expansion</a>.
      </dl>

<p>
<a name="time_format"></a>
<a name="%time_format"></a>
  <dt><b>time_format</b>=%H:%M
      <dd> The format used to display times in
      <a href="../commands/recall.html">/recall</a> and
      <a href="../commands/time.html">/time</a>.  The default displays
      hours and minutes.  See
      <a href="../commands/ftime.html">ftime()</a> for a
      description of the format.

<p>
<a name="visual"></a>
<a name="%visual"></a>
  <dt><b>visual</b>=on
      <dd> (flag) Divides the screen into an input window and an output
      window.  (See: <a href="../topics/mode.html">mode</a>)

<p>
<a name="watchdog"></a>
<a name="%watchdog"></a>
  <dt><b>watchdog</b>=off
      <dd> (flag) <a href="../topics/attributes.html">Gag</a> repeated
      lines.  (See: <a href="../commands/watchdog.html">/watchdog</a>)

<p>
<a name="watchname"></a>
<a name="%watchname"></a>
  <dt><b>watchname</b>=off
      <dd> (flag) <a href="../topics/attributes.html">Gag</a> overactive
      players.  (See:
      <a href="../commands/watchname.html">/watchname</a>)

<p>
<a name="wordpunct"></a>
<a name="%wordpunct"></a>
  <dt><b>wordpunct</b>=_
      <dd> List of punctuation that will be considered to be part of a
      word instead of delimiting the ends of a word, by
      <a href="../topics/functions.html#kbwordleft">kbwordleft()</a> and
      <a href="../topics/functions.html#kbwordright">kbwordright()</a>
      (and therefore by <a href="../commands/dokey.html">/dokey</a>
      WLEFT, WRIGHT, etc).

<p>
<a name="wrap"></a>
<a name="%wrap"></a>
  <dt><b>wrap</b>=on
      <dd> (flag) Enable wordwrap on the screen.  TF will try to break
      lines between words to fit them within
      <a href="../topics/special_variables.html#wrapsize">%{wrapsize}</a>
      columns.
      <a href="../topics/special_variables.html#wrap">%{wrap}</a> is
      ignored if
      <a href="../topics/special_variables.html#emulation">%{emulation}</a>
      is "raw".

<p>
<a name="wraplog"></a>
<a name="%wraplog"></a>
  <dt><b>wraplog</b>=off
      <dd> (flag) Enable wordwrap in log files.  See also:
      <a href="../topics/special_variables.html#wrap">%wrap</a>.

<p>
<a name="wrapsize"></a>
<a name="%wrapsize"></a>
  <dt><b>wrapsize</b>=79
      <dd> Lines (input and output) extending past this column will be
      split.  Default value is one less than the number of columns on
      your terminal (typically 80).  Output is not wrapped if
      <a href="../topics/special_variables.html#emulation">%{emulation}</a>
      is "raw".  See also:
      <a href="../topics/special_variables.html#wrap">%wrap</a>,
      <a href="../topics/special_variables.html#wrapspace">%wrapspace</a>,
      <a href="../topics/functions.html#columns">columns()</a>.

<p>
<a name="indent"></a>
<a name="%indent"></a>
<a name="wrapspace"></a>
  <dt><b>wrapspace</b>=0
      <dd> Wrapped text is indented by this many spaces.  See also:
      <a href="../topics/special_variables.html#wrap">%wrap</a>,
      <a href="../topics/special_variables.html#wrapsize">%wrapsize</a>.
  </dl>

<p>
<a name=""></a> The builtin commands
  <a href="../commands/gag.html">/gag</a>,
  <a href="../commands/hilite.html">/hilite</a>,
  <a href="../commands/hook.html">/hook</a>,
  <a href="../commands/nogag.html">/nogag</a>,
  <a href="../commands/nohilite.html">/nohilite</a>,
  <a href="../commands/watchdog.html">/watchdog</a>, and
  <a href="../commands/watchname.html">/watchname</a> set the corresponding
  <a href="../topics/variables.html">variables</a>, and also perform additional
  functions.

<p>
  The standard library also defines
  <a href="../topics/library.html">/background</a>,
  <a href="../topics/library.html">/bamf</a>,
  <a href="../topics/library.html">/borg</a>,
  <a href="../topics/library.html">/clearfull</a>,
  <a href="../topics/library.html">/cleardone</a>,
  <a href="../topics/library.html">/gpri</a>,
  <a href="../topics/library.html">/hpri</a>,
  <a href="../topics/library.html">/insert</a>,
  <a href="../topics/library.html">/isize</a>,
  <a href="../topics/library.html">/login</a>,
  <a href="../topics/library.html">/lp</a>,
  <a href="../topics/library.html">/lpquote</a>,
  <a href="../topics/library.html">/kecho</a>,
  <a href="../topics/library.html">/mecho</a>,
  <a href="../topics/library.html">/more</a>,
  <a href="../topics/library.html">/ptime</a>,
  <a href="../topics/library.html">/qecho</a>,
  <a href="../topics/library.html">/quiet</a>,
  <a href="../topics/library.html">/quitdone</a>,
  <a href="../topics/library.html">/redef</a>,
  <a href="../topics/library.html">/shpause</a>,
  <a href="../topics/library.html">/sockmload</a>,
  <a href="../topics/library.html">/sub</a>,
  <a href="../topics/library.html">/visual</a> and
  <a href="../topics/library.html">/wrapspace</a>
  <a href="../topics/macros.html">macros</a> to set the values of the
  corresponding <a href="../topics/variables.html">variables</a>.

<p>
  Note: The <a href="../topics/variables.html">variables</a> 'L' and 'R' are
  reserved (see: <a href="../topics/variables.html">variables</a>).
  You should not assign values to them.

<p>
  See:
  <a href="../topics/variables.html">variables</a>,
  <a href="../commands/set.html">/set</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
