<title>TinyFugue: substitution</title>
<!--"@subs"-->
<!--"@substitution"-->
<h1>substitution</h1>
  Before a <a href="../topics/macros.html">macro</a> body or arguments to
  <a href="../commands/eval.html">/eval</a> are executed, special character
  sequences are replaced with new text as described below.

<p>
<a name="%;"></a>
<a name="newline"></a>
<a name="command separator"></a>
<h2> Command separation.<br>
%;<br>
</h2>

<p>
  Separates commands within a <a href="../topics/macros.html">macro</a> body.
  See <a href="../topics/evaluation.html">evaluation</a>.

<p>
<a name="%|"></a>
<h2> Pipe.<br>
%|<br>
</h2>

<p>
  Separates commands within a <a href="../topics/macros.html">macro</a> body,
  and connects the output of the first to the input of the second.
  See <a href="../topics/evaluation.html">evaluation</a>.

<p>
<a name="character substitution"></a>
<a name="\n"></a>
<a name="\\"></a>
<a name="ascii"></a>
<h2> Character substitution.<br>
\<var>n</var><br>
\<var>c</var><br>
</h2>

<p>
  In the first form, the character whose ASCII code is <i>n</i> is
  substituted.  If <i>n</i> starts with "0x", it is interpreted as a
  hexadecimal number; otherwise, if <i>n</i> starts with "0", it is
  interpreted as octal; otherwise, it is interpreted as decimal.  In the
  second form, the character <i>c</i> is substituted.  This is useful for
  escaping any special meaning <i>c</i> has; in particular, "\\" is
  substituted with "\".
  If the <a href="../topics/variables.html">variable</a>
  <a href="../topics/special_variables.html#backslash">%{backslash}</a> is
  off, the \<var>c</var> form does not have this special interpretation.

<p>
<a name="//"></a>
<h2> Slash compression.<br>
//...<br>
</h2>

<p>
  If <a href="../topics/special_variables.html#oldslash">%{oldslash}</a> is
  on, sequences of slashes are replaced with a sequence of one fewer slashes.
  A single slash, however, is left alone.  This feature remains for backward
  compatibility only; you are encouraged to turn
  <a href="../topics/special_variables.html#oldslash">%{oldslash}</a> off to
  disable this.

<p>
<a name="$["></a>
<a name="$[]"></a>
<h2> <a href="../topics/expressions.html">Expression</a> evaluation.<br>
$[<var><a href="../topics/expressions.html">expression</a></var>]<br>
</h2>

<p>
  The <i><a href="../topics/expressions.html">expression</a></i> is evaluated
  and its string value is substituted in its place.  See
  "<a href="../topics/expressions.html">expressions</a>".

<p>
<a name="$("></a>
<a name="$()"></a>
<a name="command subs"></a>
<a name="command substitution"></a>
<h2> Command substitution.<br>
$(<var>command</var>)<br>
</h2>

<p>
  <i>Command</i> is <a href="../topics/evaluation.html">evaluated</a>
  as if it were the body of a <a href="../topics/macros.html">macro</a>:
  it goes through <a href="../topics/substitution.html">substitution</a>,
  and is executed in a new <a href="../topics/scope.html">scope</a>.
  If <i>command</i> contains any ')' characters, they must be escaped by
  preceding them with '\' so they are not interpreted as the end of the
  substitution.
  The echoed output of <i>command</i> is substituted in place of the $(...)
  construct (much like `...` in most shells).  If <i>command</i>
  produces more than one line of output, they will be concatenated, with
  a space between each, to form one line.

<p>
  Example:
<pre>
	<a href="../commands/def.html">/def</a> showver = :is using tf version $(<a href="../commands/version.html">/ver</a>)
</pre>
  could be used to tell other mudders what version of tf you're using.

<p>
<a name="$"></a>
<a name="${"></a>
<a name="${}"></a>
<a name="macro subs"></a>
<a name="macro substitution"></a>
<h2> <a href="../topics/macros.html">Macro</a> substitution.<br>
${<var>name</var>}<br>
$<var>name</var>$<br>
</h2>

<p>
  The body of the <a href="../topics/macros.html">macro</a> <i>name</i> is
  substituted.  The second form is supported only for backward compatibility,
  and its use is discouraged.  In the first form, the brackets may be
  omitted if the subsequent text could not be confused as part of the name.

<p>
  Example: The text "<code>${foo}</code>" would be replaced with the body of
  the <a href="../topics/macros.html">macro</a> named "foo".

<p>
<a name="$$"></a>
<h2> Dollar compression.<br>
$$...<br>
</h2>

<p>
  Sequences of '$'s are replaced by a sequence of one fewer '$'s.  A single
  '$', however, is left alone, unless it introduces one of the substitutions
  described above.  This is used to put a literal '$' in text that goes
  through macro substitution.

<p>
<a name="%"></a>
<a name="%{"></a>
<a name="%{}"></a>
<a name="%n"></a>
<a name="%0"></a>
<a name="%1"></a>
<a name="%R"></a>
<a name="%L"></a>
<a name="%*"></a>
<a name="%#"></a>
<a name="%?"></a>
<a name="variable subs"></a>
<a name="variable substitution"></a>
<a name="positional parameters"></a>
<a name="arguments"></a>
<a name="parameters"></a>
<a name="variables and parameters"></a>
<h2> Variable and Argument substitution.<br>
%<var>selector</var><br>
%{<var>selector</var>}<br>
%{<var>selector</var>-<var>default</var>}<br>
</h2>

<p>
  The value of a <a href="../topics/variables.html">variable</a> or an
  argument to the
  <a href="../topics/macros.html">macro</a> is substituted, as determined by
  <i>selector</i>.  The brackets are recommended for clarity, but may be
  omitted if there is no default and the text following it can not be
  misinterpreted as part of the selector.  The selector can be any of:
  <dl>

<p>
  <dt> <i>name</i>
          <dd>The value of the <a href="../topics/variables.html">variable</a>
          <i>name</i> is substituted.  Names are case sensitive.

<p>
  <dt> 0
          <dd>selects the name of the executing macro.
          (Before version 4.0, "0" was equivalent to "*").

<p>
  <dt> #
          <dd>selects the count of positional parameters.

<p>
  <dt> *
          <dd>selects all positional parameters.

<p>
  <dt> ?
          <dd>selects the return value of the most recently executed command
          (builtin or macro).

<p>
  <dt> 1, 2, 3, etc.
          <dd>selects the corresponding positional parameter.
          There is no maximum parameter number; any number greater than
          <a href="../topics/substitution.html#%#">%{#}</a>
          will simply produce an empty substitution.

<p>
  <dt> -1, -2, -3, etc.
          <dd>selects all positional parameters except
          the first, all except the first two, all except the first three, etc.

<p>
  <dt> L1, L2, etc.
          <dd>selects the last positional parameter, second-to-last, etc.
          "L" is the same as "L1".

<p>
  <dt> -L1, -L2, etc.
          <dd>selects all positional parameters 
          except the last, all except the last two, etc.
          "-L" is the same as "-L1".

<p>
  <dt> P<var>n</var>
          <dd>selects the text matching the <i>n</i>th parenthesized
          subexpression from the last
          <a href="../topics/patterns.html#regexp">regular expression</a>
          match.  See
          <a href="../topics/substitution.html#%Pn">%P<var>n</var></a>.

<p>
  <dt> R
          <dd>selects a positional parameter at random.  (see also:
          <a href="../topics/functions.html#rand">rand()</a>)
  </dl>

<p>
  <a href="../topics/variables.html">Variable</a> names are case sensitive;
  "L", "R", and "P" selectors are not.  No substitutions are performed on
  <i>selector</i>.

<p>
  If the substitution determined by the <i>selector</i> would be empty, and a
  <i>default</i> value is given, the default will be substituted instead.
  Thus "<a href="../topics/substitution.html#%n">%{1</a>-foofle}" is
  replaced with the first word if there is one, or "foofle" if not.
  The <i>default</i> value may contain
  <a href="../topics/substitution.html#%">variable</a>,
  <a href="../topics/substitution.html#$">macro</a>,
  <a href="../topics/substitution.html#$[">expression</a>, and
  <a href="../topics/substitution.html#$(">command</a>
  <a href="../topics/substitution.html">substitutions</a>.

<p>
  The meaning of "positional parameters" depends on how the
  <a href="../topics/macros.html">macro</a> was called.
  If called with the traditional "<code>/<var>name</var> ...</code>" command
  syntax, each space-separated word is a positional parameter.
  If called with the "<code><var>name</var>(...)</code>"
  <a href="../topics/functions.html#macro">function syntax</a>,
  each function argument is a positional parameter; if more than one is
  selected, they are concatenated, with a space between each.
  If called as a <a href="../topics/triggers.html">trigger</a>, the positional
  parameters are the words in the text that
  <a href="../topics/triggers.html">trigger</a>ed the
  <a href="../topics/macros.html">macro</a>.
  In a <a href="../topics/hook.html">hook</a> call, the positional parameters
  are the hook arguments.
  In an <a href="../commands/eval.html">/eval</a> statement,
  they are inherited from the caller.

<p>
  Note that in <a href="../topics/expressions.html">expressions</a>, it
  is easiest to omit the % and just use the
  {<var>selector</var>[-<var>default</var>]} part.  If the
  selector is a variable name and no default is desired, the name may be used
  directly in an <a href="../topics/expressions.html">expressions</a>
  without % or {...}.

<p>
<a name="%{PL}"></a>
<a name="%PL"></a>
<a name="%{PR}"></a>
<a name="%PR"></a>
<a name="%{Pn}"></a>
<a name="%Pn"></a>
<a name="%P"></a>
<a name="subexpressions"></a>
<a name="regexp subexpressions"></a>
<h2> Regexp subexpressions.<br>
%{P<var>n</var>}<br>
%{PL}<br>
%{PR}<br>
</h2>

<p>
  This is actually a special case of
  <a href="../topics/substitution.html#%">variable substitution</a>.
  The <a href="../topics/substitution.html#%Pn">%P</a> variables get
  their values from the last successful regexp match in scope.
  <a href="../topics/substitution.html#%Pn">%P0</a>
  expands to the text matched by the
  entire <a href="../topics/patterns.html#regexp">regexp</a>.
  <a href="../topics/substitution.html#%Pn">%P<var>n</var></a>
  expands to the text matched by the
  <i>n</i>th parenthesised subexpression of the
  <a href="../topics/patterns.html#regexp">regexp</a>.
  <a href="../topics/substitution.html#%Pn">%PL</a> and
  <a href="../topics/substitution.html#%Pn">%PR</a>
  expand to the text to the left and right, respectively, of the text
  matched by the entire <a href="../topics/patterns.html#regexp">regexp</a>.
  The "scope" of a
  <a href="../topics/patterns.html#regexp">regexp</a>
  match is the lifetime of the
  <a href="../topics/macros.html">macro</a> expansion it
  <a href="../topics/triggers.html">trigger</a>ed,
  <a href="../topics/hooks.html">hook</a>ed, or in which it occurred (i.e.,
  with <a href="../topics/functions.html#regmatch">regmatch()</a>).

<p>
  For example, after the text "Jabba the Hutt goes east." matches the
  <a href="../topics/patterns.html#regexp">regexp</a>
<pre>
  "<code> goes ([^ ]*)\.$</code>"
</pre>
  then the following expansions will be
  available until the <a href="../topics/macros.html">macro</a> exits:
  PL = "Jabba the Hutt"; P0 = " goes east."; P1 = "east".

<p>
  The number <i>n</i> can be anything from 0 to 9; other values will be
  silently ignored.  If there is no subexpression corresponding to <i>n</i>,
  the substitution will be ignored.  When parentheses are nested, <i>n</i>
  refers to the order of the opening parentheses.

<p>
  The <a href="../topics/substitution.html#%Pn">%P<var>n</var></a> subs will
  always refer to the first
  <a href="../topics/patterns.html#regexp">regexp</a>
  match on the line, even if a partial
  <a href="../topics/attributes.html">hilite</a>
  (<a href="../commands/def.html">/def</a> -P) causes the
  <a href="../topics/patterns.html#regexp">regexp</a>
  to be applied more than once.

<p>
<a name="%%"></a>
<a name="percent compression"></a>
<h2> Percent compression.<br>
%%...<br>
</h2>

<p>
  Sequences of '%'s are replaced by a sequence of one fewer '%'s.  A single
  '%', however, is left alone unless it introduces one of the substitutions
  described above.  This is used to put a literal '%' in text that goes
  through macro substitution.

<p>
<a name=""></a>
<h2> Examples </h2>
  Here are a couple of simple examples.

<p>
  Definition: <code><a href="../commands/def.html">/def</a> advice = whisper
  <a href="../topics/substitution.html#%n">%1</a> = Let the wookie
  win.</code><br>
  Command: <code>/advice R2D2</code><br>
  Sends: <code>whisper R2D2 = Let the wookie win.</code><br>

<p>
  Definition: <code><a href="../commands/set.html">/set</a>
  ending=meister</code><br>
  Definition: <code><a href="../commands/def.html">/def</a> greet = :waves to
  <a href="../topics/substitution.html#%n">%{1</a>-Jack}%{ending}.</code><br>
  Command: <code>/greet</code><br>
  Sends: <code>:waves to Jackmeister.</code><br>
  Command: <code>/greet Dave</code><br>
  Sends: <code>:waves to Davemeister.</code><br>

<p>
  For some more complex examples, look at the files in TFLIBDIR.

<p>
  See: <a href="../topics/evaluation.html">evaluation</a>,
  <a href="../topics/expressions.html">expressions</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
