<title>TinyFugue: summary</title>
<!--"@summary"-->
<h1>summary</h1>

<p>
  See "<a href="../topics/intro.html">intro</a>" for basic information on
  using TF.  See "<a href="../topics/topics.html">topics</a>" for a list of
  other help topics.  See "<a href="../commands/">commands</a>" for a
  complete list of TF builtin commands.  See
  "<a href="../commands/help.html">/help</a>" for instructions on using
  <a href="../commands/help.html">/help</a>.

<p>
  If you are having problems with TF and wish to contact the author, see
  "<a href="../topics/problems.html">problems</a>".

<p>
  If you are having trouble reading the help sections because text is
  scrolling off the screen, try typing
  "<code><a href="../commands/more.html">/more</a> on</code>" before
  <a href="../commands/help.html">/help</a>, and then press
  <a href="../topics/keybindings.html">TAB</a> at a
  "<a href="../commands/more.html">--More--</a>" prompt when you're ready to
  continue.

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
