<title>TinyFugue: timing</title>
<!--"@timer"-->
<!--"@timing"-->
<h1>timing</h1>
  See: <a href="../topics/processes.html">processes</a>,
  <a href="../commands/repeat.html">/repeat</a>,
  <a href="../commands/quote.html">/quote</a>, utilities
  (<a href="../commands/at.html">/at</a>,
  <a href="../commands/tick.html">/tick</a>),
  <a href="../topics/special_variables.html#clock">%clock</a>,
  <a href="../commands/time.html">/time</a>.
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
