<title>TinyFugue: tools.tf</title>
<!--"@tools"-->
<!--"@/reedit"-->
<!--"@/edmac"-->
<!--"@/edvar"-->
<!--"@/edworld"-->
<!--"@/name"-->
<!--"@/getline"-->
<!--"@/xtitle"-->
<!--"@xterm"-->
<!--"@tools.tf"-->
<h1>tools.tf</h1>

<p>
  Usage:

<p>
  <a href="../commands/load.html">/REQUIRE</a> tools.tf<br>
<hr>

<p>
<dl>
  <dt><a href="../commands/tools.html">/EDMAC</a> <i>macroname</i>
  <dt><a href="../commands/tools.html">/EDVAR</a> <i>variablename</i>
  <dt><a href="../commands/tools.html">/EDWORLD</a> <i>worldname</i>
  <dd>Stick an existing <a href="../topics/macros.html">macro</a>,
  <a href="../topics/variables.html">variable</a>, or
  <a href="../topics/worlds.html">world</a> definition
  in the input window for editing.

<p>
  <dt><a href="../commands/tools.html">/NAME</a> [<i>name</i>]
  <dd>Change your character name (on a TinyMUD style mud).

<p>
  <dt><a href="../commands/tools.html">/GETLINE</a> <i>n</i>
  <dd>Grab the <i>n</i>th line from <a href="../topics/history.html">history</a>
  and stick it in the input buffer.

<p>
  <dt><a href="../commands/tools.html">/XTITLE</a> <i>text</i>
  <dd>Put <i>text</i> on the titlebar of an xterm.
</dl>

<p>
  See: <a href="../commands/sh.html">/sh</a>,
  <a href="../commands/edit.html">/edit</a>,
  <a href="../commands/recall.html">/recall</a>,
  <a href="../topics/tfrc.html">tfrc</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
