<title>TinyFugue: triggers</title>
<!--"@triggers"-->
<h1>triggers</h1>

<p>
  Before we get into the gory details, here's a simple example of a trigger:
<pre>
  <a href="../commands/def.html">/def</a> <a href="../commands/def.html#-t">-t</a>"{*} has arrived." greet = :waves to <a href="../topics/substitution.html#%n">%1</a>.
</pre>
  This command defines a macro called "greet".  Whenever text like "Bob has
  arrived." is received, /greet will be executed automatically,
  sending the text ":waves to Bob." to the server.

<p>
  Associated commands:
  <dl>
  <dt><a href="../commands/def.html">/def</a>
          <dd>define a <a href="../topics/macros.html">macro</a> with any
          fields
  <dt><a href="../commands/trig.html">/trig</a>
          <dd>define a <a href="../topics/triggers.html">trigger</a>
          <a href="../topics/macros.html">macro</a>
  <dt><a href="../commands/trig.html">/trigp</a>
          <dd>define a <a href="../topics/triggers.html">trigger</a>
          <a href="../topics/macros.html">macro</a> with
          <a href="../topics/priority.html">priority</a>
  <dt><a href="../commands/trig.html">/trigc</a>
          <dd>define a <a href="../topics/triggers.html">trigger</a>
          <a href="../topics/macros.html">macro</a> with probability
  <dt><a href="../commands/trig.html">/trigpc</a>
          <dd>define a <a href="../topics/triggers.html">trigger</a>
          <a href="../topics/macros.html">macro</a> with probability and
          <a href="../topics/priority.html">priority</a>
  <dt><a href="../commands/gag.html">/gag</a>
          <dd>define a <a href="../topics/triggers.html">trigger</a>
          <a href="../topics/macros.html">macro</a> to
          <a href="../topics/attributes.html">gag</a> text
  <dt><a href="../commands/hilite.html">/hilite</a>
          <dd>define a <a href="../topics/triggers.html">trigger</a>
          <a href="../topics/macros.html">macro</a> to
          <a href="../topics/attributes.html">hilite</a> text
  <dt><a href="../commands/trigger.html">/trigger</a>
          <dd>call a <a href="../topics/triggers.html">trigger</a>
          <a href="../topics/macros.html">macro</a> manually
  <dt><a href="../commands/substitute.html">/substitute</a>
          <dd>modify the text that invoked the
          <a href="../topics/triggers.html">trigger</a>
  </dl>

<p>
  <a href="../topics/triggers.html">Triggers</a> are a method of calling a
  <a href="../topics/macros.html">macro</a> based on incoming text.  When a
  line of text from a <a href="../topics/sockets.html">socket</a> matches the
  <a href="../topics/triggers.html">trigger</a>
  <a href="../topics/patterns.html">pattern</a> of a
  <a href="../topics/macros.html">macro</a>, that
  <a href="../topics/macros.html">macro</a> becomes a candidate for automatic
  execution.

<p>
  If multiple <a href="../topics/macros.html">macros</a> have
  <a href="../topics/triggers.html">triggers</a> which match the same text,
  one or more are chosen for execution as described under
  "<a href="../topics/priority.html">priority</a>".

<p>
  The <i>text</i> which <a href="../topics/triggers.html">triggers</a> a
  <a href="../topics/macros.html">macro</a> is given to the
  <a href="../topics/macros.html">macro</a> as arguments, as if it had been
  called with ``/<i>macro</i> <i>text</i>''.  Positional parameters refer
  the the corresponding word in the
  <a href="../topics/triggers.html">trigger</a>ing text (see also:
  <a href="../topics/substitution.html">%n</a>).  If the
  <a href="../topics/triggers.html">trigger</a> is a
  <a href="../topics/patterns.html#regexp">regexp</a>, subexpression
  parameters refer to the text matched by the corresponding parenthesised
  subexpression (see also:
  <a href="../topics/substitution.html#%Pn">%Pn</a>).

<p>
  If the selected <a href="../topics/macros.html">macro</a>(s) have display
  <a href="../topics/attributes.html">attributes</a>, the
  <a href="../topics/attributes.html">attributes</a> are used to display the
  text which <a href="../topics/triggers.html">trigger</a>ed the
  <a href="../topics/macros.html">macro</a>.

<p>
  If a <a href="../topics/macros.html">macro</a> has the world field set, it
  can only be <a href="../topics/triggers.html">trigger</a>ed by text from
  that world.

<p>
  If a <a href="../topics/macros.html">macro</a> has a probability less than
  100%, it might not be executed even if it is
  <a href="../topics/triggers.html">trigger</a>ed.

<p>
  <a href="../topics/triggers.html">Triggers</a> can be disabled by turning
  the <a href="../topics/special_variables.html#borg">%{borg}</a> flag off.

<p>
  If the
  <a href="../topics/special_variables.html#background">%{background}</a>
  flag is turned off, text from
  <a href="../topics/sockets.html#background">background</a>
  <a href="../topics/sockets.html">sockets</a> will not cause
  <a href="../topics/triggers.html">trigger</a>ing until that
  <a href="../topics/sockets.html">socket</a> is brought into the <a href="../topics/sockets.html#foreground">foreground</a>.

<p>
  <a href="../topics/triggers.html">Triggers</a> can also be invoked manually
  with the command <a href="../commands/trigger.html">/trigger</a>.

<p>
  The <a href="../commands/def.html">/def</a> command is the only way to
  define a multi-shot <a href="../topics/triggers.html">trigger</a>.  All
  other commands which define <a href="../topics/triggers.html">triggers</a>
  will create permanent <a href="../topics/triggers.html">triggers</a>.

<p>
  Note that tf may run slowly if there are many
  <a href="../topics/triggers.html">triggers</a> defined, since every
  <a href="../topics/triggers.html">trigger</a> must be compared against
  every received line of text.  Choose your
  <a href="../topics/triggers.html">triggers</a> carefully.
  See also "<a href="../topics/patterns.html">patterns</a>".

<p>
  <a href="../topics/triggers.html">Triggers</a>
  are only matched against normal lines.  To have a macro invoked by a
  <a href="../topics/prompt.html">prompt</a>, use the
  <a href="../topics/prompt.html">prompt</a>
  <a href="../topics/hooks.html">hook</a>.

<p>
  Triggers are not expanded for variable substitutions or anything else.
  To make a variable trigger, write a macro that redefines the trigger.
  For example,

  <pre>
    /def set_victim = \
        /def -t"%{1} has arrived." kill_victim = \
            kill %%{1}
  </pre>

  Then, to change the victim to "Bill", execute "/set_victim Bill".

<p>
  See also: <a href="../topics/patterns.html">patterns</a>,
  <a href="../topics/macros.html">macros</a>,
  <a href="../topics/gags.html">gags</a>,
  <a href="../topics/hilites.html">hilites</a>,
  <a href="../topics/hooks.html">hooks</a>,
  <a href="../topics/priority.html">priority</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
