<title>TinyFugue Documentation</title>
<h1>TinyFugue Documentation</h1>
This documentation is also available while running tf by using the
<a href="commands/help.html">/help</a> command.
The html form can be downloaded from
<a href="ftp://tf.tcp.com/pub/tinyfugue/">ftp://tf.tcp.com/pub/tinyfugue/</a>
<ul>
<li><a href="commands/index.html">Command reference</a><br>
<li><a href="topics/index.html">Users's guide</a><br>
<li><a href="../CHANGES">Changes</a><br>
</ul>

<!-- END -->
<hr>
<a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr><a href="topics/copyright.html">Copyright</a> &copy; 1995 - 1999
<a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
