<title>TinyFugue: /addworld</title>
<!--"@/addworld"--> 
<!--"@addworld()"--> 
<h1>addworld()</h1>

<p>
  <a href="../topics/functions.html">Function</a> usage:

<p>
  <a href="../commands/addworld.html">ADDWORLD</a>(<i>name</i>, <i>type</i>,
  <i>host</i>, <i>port</i>
  [, <i>char</i>, <i>pass</i> [, <i>file</i> [, <i>use_proxy</i>]]])<br>

<p>
  Command usage: 

<p>
  <a href="../commands/addworld.html">/ADDWORLD</a> [-p] [-T<i>type</i>] 
  <i>name</i> [<i>char</i> <i>pass</i>] <i>host</i> <i>port</i> 
  [<i>file</i>]<br>
  <a href="../commands/addworld.html">/ADDWORLD</a> [-T<i>type</i>] 
  <i>name</i><br>
  <a href="../commands/addworld.html">/ADDWORLD</a> [-T<i>type</i>] DEFAULT 
  [<i>char</i> <i>pass</i> [<i>file</i>]]<br>
<hr>

<p>
  Defines a new <a href="../topics/worlds.html">world</a> or redefines an
  existing <a href="../topics/worlds.html">world</a> with the name <i>name</i>.

<p>
  There may be a special <a href="../topics/worlds.html">world</a>
  named "default" which does not have a <i>host</i> or <i>port</i>.  If a
  normal <a href="../topics/worlds.html">world</a> is defined without a
  <i>character</i>, <i>pass</i>, <i>type</i>, or <i>mfile</i>, then that
  <a href="../topics/worlds.html">world</a> will use the corresponding field
  of the "default" <a href="../topics/worlds.html">world</a> if there is one.
  If the "default" <a href="../topics/worlds.html">world</a> is redefined,
  <a href="../topics/worlds.html">worlds</a> with omitted fields will use
  the new default values.

<p>
  <i>Use_proxy</i> may be 0, "off", 1, or "on".
  If <i>use_proxy</i> is 0 or "off" in the function form, or 
  -p is given in the command form,
  <a href="../topics/special_variables.html#proxy_host">%{proxy_host}</a>
  will be ignored, and all connections to the world will be direct.
  By default, worlds use
  <a href="../topics/special_variables.html#proxy_host">%{proxy_host}</a>
  if it is set.

<p>
  The optional <i>type</i> is used in hooks and triggers, and for automatic 
  <a href="../topics/login.html">login</a> and flag setting.  The library
  pre-defines WORLD and LOGIN hooks for 
  types that match these
  <a href="../topics/patterns.html#glob">glob patterns</a>:

  <dl>
  <dt>(none) 
          <dd>TinyMud <a href="../topics/login.html">login</a> format
          ("connect <i>char</i> <i>pass</i>"), the value of
          <a href="../topics/special_variables.html#lp">lp</a> is not changed.

<p>
  <dt>tiny, tiny.* 
          <dd>TinyMud <a href="../topics/login.html">login</a> format
          ("connect <i>char</i> <i>pass</i>"),
          <a href="../topics/special_variables.html#lp">lp</a>=off.

<p>
  <dt>lp, lp.* 
  <dt>diku, diku.* 
  <dt>aber, aber.* 
          <dd>LP/Diku <a href="../topics/login.html">login</a> format
          (sends <i>char</i> and <i>pass</i> on separate lines),
          <a href="../topics/special_variables.html#lp">lp</a>=on.
          For servers that send unterminated prompts.  

<p>
  <dt>lpp, lpp.* 
          <dd>LP/Diku <a href="../topics/login.html">login</a> format, 
          <a href="../topics/special_variables.html#lp">lp</a>=off.
          For muds that use GOAHEAD or EOR
          <a href="../topics/prompt_protocol.html">prompt protocol</a>.

<p>
  <dt>telnet, telnet.* 
          <dd>Telnet <a href="../topics/login.html">login</a> format
          (sends <i>char</i> and <i>pass</i> when "login:" and "password:"
          prompts are received),
          <a href="../topics/special_variables.html#lp">lp</a>=on, 
          <a href="../commands/localecho.html">/localecho</a> on.  
          For any line-by-line telnet service.  
  </dl>
  You can define your own world types for use in other triggers or hooks.  If 
  you use names that match the
  <a href="../topics/patterns.html#glob">glob</a>
  patterns above, the standard library 
  hooks will still work.  For example, if you did: 

<pre>
  <a href="../commands/test.html">/test</a> <a href="../commands/addworld.html">addworld</a>("Cave",  "tiny.muck", "cave.tcp.com", 2283, <i>char</i>, <i>pass</i>)
  <a href="../commands/test.html">/test</a> <a href="../commands/addworld.html">addworld</a>("QWest", "tiny.muck", "glia",         9999, <i>char</i>, <i>pass</i>)
  <a href="../commands/test.html">/test</a> <a href="../commands/addworld.html">addworld</a>("DS",    "tiny.mush", "foo.bar.com",  6250, <i>char</i>, <i>pass</i>)
</pre>

  then tiny-style <a href="../topics/login.html">autologin</a> would still
  work (using the library hooks), and 
  you could also define your own triggers and hooks specific to TinyMUCKs or 
  TinyMUSHes.  

<p>
  Any <i>type</i> is valid, but is only useful if it is matched by a
  "<a href="../commands/def.html#-T">-T<i>type</i></a>" option of a
  <a href="../topics/hooks.html">hook</a> or
  <a href="../topics/triggers.html">trigger</a>.  

<p>
  If <a href="../commands/addworld.html">addworld()</a> with a password is
  executed from a file that has permissions making it readable by others,
  it will produce a warning.  You should change the file 
  permissions to prevent other people from reading your password.  

<p>
  See: <a href="../topics/worlds.html">worlds</a>, 
  <a href="../commands/connect.html">/connect</a>, 
  <a href="../commands/fg.html">/fg</a>, 
  <a href="../commands/telnet.html">/telnet</a>,
  <a href="../topics/tools.html">/edworld</a> 

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
