<title>TinyFugue: /addtelnet</title>
<!--"@/addtiny"--> 
<!--"@/addlp"--> 
<!--"@/addlpp"--> 
<!--"@/adddiku"--> 
<!--"@/addtelnet"--> 
<h1>/add<i>worldtype</i></h1>

<p>
  The comamnds <a href="../commands/addworldtype.html">/addtiny</a>, 
  <a href="../commands/addworldtype.html">/addlp</a>, 
  <a href="../commands/addworldtype.html">/addlpp</a>, 
  <a href="../commands/addworldtype.html">/adddiku</a>, and 
  <a href="../commands/addworldtype.html">/addtelnet</a> take the same
  arguments as <a href="../commands/addworld.html">/addworld</a>, and also
  give that world a type.  A world's type determines the format for automatic
  login and flag settings.  

<p>
  See: <a href="../commands/addworld.html">/addworld</a> 

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
