<title>TinyFugue: /at</title>
<!--"@/at"--> 
<h1>/at</h1>

<p>
  Usage: 

<p>
  <a href="../commands/load.html">/REQUIRE</a> at.tf<br>

<p>
  <a href="../commands/at.html">/AT</a> <i>when</i> <i>commands</i><br>
<hr>

<p>
  <i>Commands</i> will be executed at time-of-day <i>when</i>,
  which must be of the form "<i>hours</i>:<i>minutes</i>" or
  "<i>hours</i>:<i>minutes</i>:<i>seconds</i>"
  (<i>hours</i> is between 0 and 23).
  If <i>when</i> is less than equal to the current time of day, it is
  interpreted as that time tomorrow.
  The "equal" condition makes it possible for /at to call /at again with
  the same <i>when</i> argument, and have it execute tomorrow instead of
  immediately.

<p>
  Example: <code><a href="../commands/at.html">/at</a> 23:30 
  <a href="../commands/echo.html">/echo</a> Stop mudding, it's time for 
  Letterman!</code>

<p>
  See: <a href="../topics/processes.html">processes</a>, 
  <a href="../commands/repeat.html">/repeat</a>, 
  <a href="../commands/quote.html">/quote</a> 

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
