<title>TinyFugue: /break</title>
<!--"@/break"--> 
<h1>/break</h1>

<p>
  Usage: 

<p>
  <a href="../commands/break.html">/BREAK</a> [<i>n</i>]<br>
<hr>

<p>
  During <a href="../topics/macros.html">macro</a> evaluation, 
  <a href="../commands/break.html">/BREAK</a> unconditionally terminates the 
  nearest enclosing <a href="../commands/while.html">/WHILE</a> loop.  If 
  <i>n</i> is specified, it will break out of <i>n</i> enclosing 
  <a href="../commands/while.html">/WHILE</a> loops.  If used outside a 
  <a href="../commands/while.html">/WHILE</a> loop, the 
  <a href="../topics/macros.html">macro</a> evaluation is terminated.  

<p>
  See: <a href="../commands/while.html">/while</a>, 
  <a href="../commands/return.html">/return</a>, 
  <a href="../commands/exit.html">/exit</a>, 
  <a href="../topics/evaluation.html">evaluation</a> 

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
