<title>TinyFugue: /cat</title>
<!--"@/cat"--> 
<h1>/cat</h1>

<p>
  Usage: 

<p>
  <a href="../commands/cat.html">/CAT</a> [%]<br>
<hr>

<p>
  Concatenates (puts together) all subsequent lines until a line containing a 
  single "." is typed.  If the argument "%" is given, a "%;" sequence is 
  appended to each intermediate line.  The concatenated result is then 
  executed as a single line.  

<p>
  The concatenated result is stored in the input 
  <a href="../topics/history.html">history</a> as a single line, so 
  intermediate lines can not be recalled separately.  

<p>
  Example: 
<pre>
  <a href="../commands/cat.html">/cat</a> %
  :foo
  :bar
  :baz
  . 
</pre>

<p>
  This produces: 
<pre>
  :foo%;:bar%;:baz
</pre>

<p>
  If the <a href="../topics/special_variables.html#sub">%{sub}</a> flag is 
  set on, this will <a href="../topics/evaluation.html">expand</a> to three 
  lines ":foo", ":bar" and ":baz" and be sent to the 
  <a href="../topics/sockets.html">socket</a>.  

<p>
  See:
  <a href="../commands/paste.html">/paste</a>,
  <a href="../commands/sub.html">/sub</a>,
  <a href="../topics/general.html">general</a>,
  <a href="../topics/history.html">history</a>

<p>
<!-- END --> 
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
