<title>TinyFugue: /changes</title>
<!--"@/changes"-->
<h1>/changes</h1>

<p>
  Usage:

<p>
  <a href="../commands/changes.html">/CHANGES</a> [<i>version</i>]<br>
<hr>

<p>
  List the changes in a <i>version</i> of TinyFugue; if omitted,
  <i>version</i> defaults to the current version.  <i>Version</i> can be a
  full version name (e.g., "3.5 beta 1") or just the major and minor numbers
  (e.g., "3.5").  The information is kept in the file
  <a href="../topics/special_variables.html#TFLIBDIR">%TFLIBDIR</a>/CHANGES.

<p>
  A list of changes in the latest version of tf can be found at
  <a href="../../CHANGES">http://tf.tcp.com/~hawkeye/tf/CHANGES</a>.

<p>
  See: <a href="../commands/version.html">/version</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
