<title>TinyFugue: /dc</title>
<!--"@disconnect"-->
<!--"@close"-->
<!--"@/dc"-->
<h1>/dc</h1>

<p>
  Usage:

<p>
  <a href="../commands/dc.html">/DC</a> [<i>world</i>|-ALL]<br>
<hr>

<p>
  Disconnects from the named world, or the
  <a href="../topics/sockets.html#current">current</a> world if no world is
  given, or all worlds if "-all" is given.  If the flag
  <a href="../topics/special_variables.html#quitdone">%{quitdone}</a> is on,
  and <a href="../commands/dc.html">/dc</a> disconnects the last
  <a href="../topics/sockets.html">socket</a>, TF will exit.

<p>
  Disconnecting with <a href="../commands/dc.html">/dc</a> does not invoke the
  <a href="../topics/hooks.html#DISCONNECT">DISCONNECT</a>
  <a href="../topics/hooks.html">hook</a>.

<p>
  See: <a href="../topics/sockets.html">sockets</a>,
  <a href="../topics/special_variables.html#quitdone">%quitdone</a>,
  <a href="../commands/quit.html">/quit</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
