<title>TinyFugue: /def</title>
<!--"@/def"-->
<h1>/def</h1>

<p>
  Usage:

<p>
  <a href="../commands/def.html">/DEF</a> [<i>options</i>] [<i>name</i>] [=
  <i>body</i>]<br>
<hr>

<p>
  Defines a <a href="../topics/macros.html">macro</a> with an optional
  <a href="../topics/keybindings.html">keybinding</a>,
  <a href="../topics/triggers.html">trigger</a> and/or
  <a href="../topics/hooks.html">hook</a> associated with it.  The
  <a href="../topics/options.html">options</a> and their meanings are:
  <dl>

<p>
<a name="-msimple"></a>
<a name="-mglob"></a>
<a name="-mregexp"></a>
<a name="/def -m"></a>
<a name="-m"></a>
  <dt>-m<i>matching</i>
          <dd> Determines which matching style should be used for
          <a href="../commands/def.html#-t">-t</a>,
          <a href="../commands/def.html#-h">-h</a>, or
          <a href="../commands/def.html#-T">-T</a> options.
          Valid values are
          "<a href="../topics/patterns.html#simple">simple</a>",
          "<a href="../topics/patterns.html#glob">glob</a>", and
          "<a href="../topics/patterns.html#regexp">regexp</a>"
          (see also: <a href="../topics/patterns.html">patterns</a>).  If
          omitted, the value of
          <a href="../topics/special_variables.html#matching">%{matching}</a>
          ("<a href="../topics/patterns.html#glob">glob</a>"
          by default) is used, unless <a href="../commands/def.html#-P">-P</a>
          is also given, in which case
          "<a href="../topics/patterns.html#regexp">regexp</a>" is used.

<p>
<a name="/def -n"></a>
<a name="-n"></a>
  <dt>-n<i>shots</i>
          <dd> The <a href="../topics/macros.html">macro</a> is a multi-shot,
          that is, it will be deleted after it is
          <a href="../topics/triggers.html">trigger</a>ed or
          <a href="../topics/hooks.html">hook</a>ed <i>shots</i> times.  A
          value of 0 makes the <a href="../topics/macros.html">macro</a>
          permanent.  Default: 0.

<p>
<a name="/def -E"></a>
<a name="-E"></a>
  <dt>-E<i>expression</i>
          <dd> Before this <a href="../topics/macros.html">macro</a> is
          tested for a <a href="../topics/triggers.html">trigger</a>
          (<a href="../commands/def.html#-t">-t</a>)
          or <a href="../topics/hooks.html">hook</a>
          (<a href="../commands/def.html#-h">-h</a>) match,
          <i>expression</i> is evaluated; if its value is 0,
          the macro will not be considered a match, so no
          <a href="../topics/attributes.html">attributes</a> (-a)
          will be applied, and this macro will not prevent matches
          of lower <a href="../topics/priority.html">priority</a> (-p),
          and its body will not be executed.
          If the value of <i>expression</i> is non-zero, the comparison
          proceedes as usual.
          Note that
          <a href="../topics/substitution.html#%n">positional parameters</a>
          (<a href="../topics/substitution.html#%n">%n</a>) and
          <a href="../topics/substitution.html#%Pn">subexpression matches</a>
          (<a href="../topics/substitution.html#%Pn">%Pn</a>)
          are not available in <i>expression</i>.
          Default: no <a href="../topics/expressions.html">expression</a>
          (i.e., always match if the trigger or hook matches).

<p>
<a name="/def -t"></a>
<a name="-t"></a>
  <dt>-t<i>pattern</i>
          <dd> Defines a <a href="../topics/triggers.html">trigger</a>
          pattern which will cause the
          <a href="../topics/macros.html">macro</a> to be called when
          it is matched by a line of text from a socket.
          <i>Pattern</i> may be enclosed in quotes (", ', or `); if so,
          all occurances of quotes and '\' within the pattern must be
          preceded with a '\'.
          The <a href="../topics/patterns.html">pattern</a> matching style
          is determined by the <a href="../commands/def.html#-m">-m</a> option,
          or defaults to the value of
          <a href="../topics/special_variables.html#matching">%{matching}</a>.
          Default: no <a href="../topics/triggers.html">trigger</a>.

<p>
<a name="/def -h"></a>
<a name="-h"></a>
  <dt>-h"<i>event</i>[ <i>pattern</i>]"
          <dd> Specifies that the <a href="../topics/macros.html">macro</a>
          will be called automatically whenever <i>event</i> occurs and its
          arguments match <i>pattern</i>.  <i>Event</i> may be a single event
          name or a list separated by '|'.  If <i>pattern</i> is omitted, it
          will match any arguments, and the quotes may also be omitted.
          If quotes are used, then
          all occurances of quotes and '\' within the option argument must be
          preceded with a '\'.
          The <a href="../topics/patterns.html">pattern</a> matching style
          is determined by the <a href="../commands/def.html#-m">-m</a> option,
          or defaults to the value of
          <a href="../topics/special_variables.html#matching">%{matching}</a>.
          Default: no <a href="../topics/hooks.html">hook</a>.

<p>
<a name="/def -b"></a>
<a name="-b"></a>
  <dt>-b<i>bind</i>
          <dd> The <a href="../topics/macros.html">macro</a> will be called
          when the string <i>bind</i> is typed at the keyboard.  Default:
          no binding.  The <i>bind</i> string may contain the special codes
          described under "<a href="../commands/bind.html">bind</a>".

<p>
<a name="/def -B"></a>
<a name="-B"></a>
  <dt>-B<i>keyname</i>
          <dd> The <a href="../topics/macros.html">macro</a> will be called
          when the key named <i>keyname</i> is typed at the keyboard.  Default:
          no key.  The list of recognized <i>keyname</i>s and other details
          are described under
          "<a href="../topics/keybindings.html">keybindings</a>".

<p>
<a name="/def -p"></a>
<a name="-p"></a>
  <dt>-p<i>pri</i>
          <dd> Sets the <a href="../topics/priority.html">priority</a> of the
          <a href="../topics/macros.html">macro</a>'s
          <a href="../topics/triggers.html">trigger</a> or
          <a href="../topics/hooks.html">hook</a> to <i>pri</i>.  Default: 1.
          See also: <a href="../topics/priority.html">fall-thru</a>.

<p>
<a name="/def -c"></a>
<a name="-c"></a>
  <dt>-c<i>chance</i>
          <dd> Sets the percent probability of executing the body of a matched
          <a href="../topics/triggers.html">trigger</a> or
          <a href="../topics/hooks.html">hook</a>.  (The macro still counts
          as a match for attributes and priority even if it does not execute.)
          Default: 100%.

<p>
<a name="/def -w"></a>
<a name="-w"></a>
  <dt>-w<i>world</i>
          <dd> If the <a href="../topics/macros.html">macro</a> has a
          <a href="../topics/triggers.html">trigger</a> or
          <a href="../topics/hooks.html">hook</a>, it can be matched only by
          text or events from <i>world</i>.  Default: any world.

<p>
<a name="/def -T"></a>
<a name="-T"></a>
  <dt>-T<i>type</i>
          <dd> If the <a href="../topics/macros.html">macro</a> has a
          <a href="../topics/triggers.html">trigger</a> or
          <a href="../topics/hooks.html">hook</a>, it can be matched only by
          text or events from worlds of type <i>type</i>.
          (See: <a href="../commands/addworld.html">/addworld</a>).
          The <a href="../topics/patterns.html">pattern</a> matching style
          is determined by the <a href="../commands/def.html#-m">-m</a> option,
          or defaults to the value of
          <a href="../topics/special_variables.html#matching">%{matching}</a>.
          Default: any type.

<p>
<a name="/def -F"></a>
<a name="-F"></a>
  <dt>-F
          <dd> <a href="../topics/priority.html">Fall-thru</a>: on a
          <a href="../topics/triggers.html">trigger</a> or
          <a href="../topics/hooks.html">hook</a>, allows additional matches
          of lower <a href="../topics/priority.html">priority</a> to be run.
          Default: not <a href="../topics/priority.html">fall-thru</a>.  See:
          <a href="../topics/priority.html">priority</a>

<p>
<a name="/def -a"></a>
<a name="-a"></a>
  <dt>-a[ngGurfdBbhC]
          <dd> Set <a href="../topics/attributes.html">attribute</a>(s)
          (normal, <a href="../topics/attributes.html">gag</a>, norecord,
          underline, reverse, flash, dim, bold, bell,
          <a href="../topics/attributes.html">hilite</a>, Color) used to
          display text matched by the
          <a href="../topics/triggers.html">trigger</a> or to display the
          default message of a <a href="../topics/hooks.html">hook</a>.
          Default: normal.
          See "<a href="../topics/attributes.html">attributes</a>".

<p>
<a name="/def -P"></a>
<a name="-P"></a>
  <dt>-P[<i>n</i>][nurfdBhC]
          <dd> "Partial <a href="../topics/attributes.html">hilite</a>": Set
          <a href="../topics/attributes.html">attribute</a>(s) used to
          display text matched by the <i>n</i>th parenthesized subexpression
          in a <a href="../topics/patterns.html#regexp">regexp</a>
          <a href="../topics/triggers.html">trigger</a>.  If
          <i>n</i> is omitted it defaults to 0, i.e. the text matched by the
          entire <a href="../topics/patterns.html#regexp">regexp</a>.
          If there are multiple matches in the text, the
          <a href="../topics/attributes.html">attributes</a> will be applied
          to all of them.
          Implies <a href="../commands/def.html#-m">-m</a>regexp.
          Only one <a href="../commands/def.html#-P">-P</a> option is allowed.
          See "<a href="../topics/attributes.html">attributes</a>".

<p>
<a name="/def -f"></a>
<a name="-f"></a>
  <dt>-f
          <dd> Same as <a href="../commands/def.html#-a">-a</a>,
          for backward compatibility.

<p>
<a name="/def -I"></a>
<a name="-I"></a>
<a name="/def -i"></a>
<a name="-i"></a>
  <dt>-i
  <dt>-I
          <dd>Makes the <a href="../topics/macros.html">macro</a> "invisible".
          Invisible <a href="../topics/macros.html">macros</a>
          are not processed by <a href="../commands/list.html">/list</a>,
          <a href="../commands/save.html">/save</a>, or
          <a href="../commands/purge.html">/purge</a> unless forced.
          Default: not invisible.

<p>
<a name="/def -q"></a>
<a name="-q"></a>
  <dt>-q
          <dd>Makes the <a href="../topics/macros.html">macro</a> "quiet".
          If called as a <a href="../topics/triggers.html">trigger</a>,
          the <a href="../topics/macros.html">macro</a>
          will not count toward the
          <a href="../topics/hooks.html#BACKGROUND">BACKGROUND</a>
          <a href="../topics/hooks.html">hook</a> or the return value of
          <a href="../commands/trigger.html">/trigger</a>.  If called as
          a <a href="../topics/hooks.html#SEND">SEND</a>
          <a href="../topics/hooks.html">hook</a>, the
          <a href="../topics/macros.html">macro</a>
          will not prevent the sending of the
          original input.  If called as a
          <a href="../topics/hooks.html#PROMPT">PROMPT</a>
          <a href="../topics/hooks.html">hook</a>, the
          <a href="../topics/macros.html">macro</a>
          will not remove the text from the data stream.

<p>
<a name="-1"></a>
  <dt>-1
          <dd> Defines a one-shot.  Equivalent to
          "<a href="../commands/def.html#-n">-n</a>1".

<p>
<a name=""></a>
  <dt><i>name</i>
          <dd> The name of the <a href="../topics/macros.html">macro</a>.
          Default: no name.  Names should begin with a letter, and contain
          letters, numbers, or '_' characters.  This is not enforced, but
          other characters (especially '$', '/', and '%') may cause unwanted
          interpretations during
          <a href="../topics/evaluation.html">expansion</a>.

<p>
  <dt>= <i>body</i>
          <dd> Text to be executed when
          <a href="../topics/macros.html">macro</a> is called.  Default: no
          body.
  </dl>

<p>
  If <a href="../commands/def.html">/def</a> could not create a new
  <a href="../topics/macros.html">macro</a>, it returns 0.  Otherwise, it
  returns the number of the new <a href="../topics/macros.html">macro</a>
  (useful with <a href="../commands/undefn.html">/undefn</a> and
  <a href="../commands/edit.html">/edit</a>).

<hr>

<p>
<a name="#follow"></a>
  Example:
<pre>
  <a href="../commands/def.html">/def</a> follow = \
      <a href="../commands/def.html">/def</a><!--
--> <a href="../commands/def.html#-T">-T^tiny</a><!--
--> <a href="../commands/def.html#-m">-mregexp</a><!--
--> <a href="../commands/def.html#-p">-p2</a><!--
--> <a href="../commands/def.html#-t">-t</a>"<!--
-->^<a href="../topics/substitution.html#%n">%{1}</a> goes ([a-z]*)\\\\.$$"<!--
--> do_follow = \
          go %%P1
</pre>

<p>
  This will create a <a href="../topics/macros.html">macro</a> named
  "follow".  When it is called like "<code>/follow Joe</code>", it will
  execute the command
<pre>
  <a href="../commands/def.html">/def</a><!--
--> <a href="../commands/def.html#-T">-T^tiny</a><!--
--> <a href="../commands/def.html#-m">-mregexp</a><!--
--> <a href="../commands/def.html#-p">-p2</a><!--
--> <a href="../commands/def.html#-t">-t</a>"^Joe goes ([a-z]*)\\.$"<!--
--> do_follow = go <a href="../topics/substitution.html#%Pn">%P1</a>
</pre>
  Note the <a href="../topics/substitution.html">substitutions</a> that
  occurred:  
  "<a href="../topics/substitution.html#%n">%{1}</a>" was replaced with the
  first (and only) argument;
  each "<a href="../topics/substitution.html#\">\\</a>" was replaced with "\";
  "<a href="../topics/substitution.html#$$">$$</a>" was replaced with "$";
  and "<a href="../topics/substitution.html#%%">%%</a>" was replaced with "%".

<p>
  That command, in turn, defines another
  <a href="../topics/macros.html">macro</a>
  called "do_follow",
  with a <a href="../topics/patterns.html#regexp">regexp</a>
  <a href="../topics/triggers.html">trigger</a>
<pre>
  ^Joe goes ([a-z]*)\.$
</pre>
  which will only match on worlds whose type matches the 
  <a href="../topics/patterns.html#regexp">regexp pattern</a> "^tiny".

<p>
  Thereafter, when a line like "Joe goes north." is received, it will match
  the <a href="../topics/triggers.html">trigger</a>, and cause this command
  to be executed:
<pre>
  go north
</pre>
  Note how 
  "<a href="../topics/substitution.html#%Pn">%P1</a>" was substituted
  with the text matched by the first set of parentheses (in this case,
  "north").

<p>
  When writing nested <a href="../topics/macros.html">macros</a> like this,
  it is usually easiest to think backwards.  In this example, you would first
  figure out how /do_follow should be defined, and then figure out how to
  define /follow in such a way that it will define /do_follow.
<a name=""></a>
<hr>

<p>
  <a href="../commands/def.html">/def</a> is sufficient to perform all the
  functions of the <a href="../commands/trig.html">/trig</a>,
  <a href="../commands/trig.html">/trigp</a>,
  <a href="../commands/trig.html">/trigc</a>,
  <a href="../commands/trig.html">/trigpc</a>,
  <a href="../commands/gag.html">/gag</a>,
  <a href="../commands/hilite.html">/hilite</a>,
  <a href="../commands/partial.html">/partial</a>,
  <a href="../commands/hook.html">/hook</a>, and
  <a href="../commands/bind.html">/bind</a> commands.

<p>
  See: <a href="../topics/macros.html">macros</a>,
  <a href="../topics/triggers.html">triggers</a>,
  <a href="../topics/patterns.html">patterns</a>,
  <a href="../topics/hooks.html">hooks</a>,
  <a href="../topics/priority.html">priority</a>,
  <a href="../topics/evaluation.html">evaluation</a>,
  <a href="../topics/attributes.html">attributes</a>,
  <a href="../commands/undef.html">/undef</a>,
  <a href="../commands/undefn.html">/undefn</a>,
  <a href="../commands/purge.html">/purge</a>,
  <a href="../commands/list.html">/list</a>,
  <a href="../commands/save.html">/save</a>,
  <a href="../commands/load.html">/load</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
