<title>TinyFugue: /dokey</title>
<!--"@/dokey"-->
<h1>/dokey</h1>

<p>
  Usage:

<p>
  <a href="../commands/dokey.html">/DOKEY</a> <i>name</i><br>
<hr>

<p>
  Executes the function of the edit key <i>name</i>.  Most of the edit key
  functions are not meaningful when the
  <a href="../commands/dokey.html">/dokey</a> command is executed from the
  regular command line, but are intended to be called from a keybinding
  created with <a href="../commands/bind.html">/bind</a> or
  <a href="../commands/def.html">/def</a>
  <a href="../commands/def.html#-b">-b</a>.

<p>

<!-- In the preformatted table below, newlines after anchors are eliminated
  -- by commenting them out.  The comment close is exactly 8 characters,
  -- to keep tab columns correct. -->

<pre>
<!-- -->  Name		Default binding	  Function
<!-- -->  ----		---------------	  --------
<a name="bs"></a><a name="backspace"></a><a name="bspc"></a><!--
---- -->  BSPC		(stty), ^H, ^?	  Backspace
<a name="bword"></a><!--
---- -->  BWORD		(stty), ^W	  Delete previous word
<a name="dline"></a><!--
---- -->  DLINE		(stty), ^U	  Delete entire line
<a name="refresh"></a><!--
---- -->  REFRESH	(stty), ^R	  Refresh line
<a name="lnext"></a><!--
---- -->  LNEXT		(stty), ^V	  Ignore any binding next key might have
<a name=""></a>
<a name="up"></a><!--
---- -->  UP		(termcap), ^[[A	  Cursor up
<a name="down"></a><!--
---- -->  DOWN		(termcap), ^[[B	  Cursor down
<a name="right"></a><!--
---- -->  RIGHT		(termcap), ^[[C	  Cursor right
<a name="left"></a><!--
---- -->  LEFT		(termcap), ^[[D	  Cursor left
<a name=""></a>
<a name="newline"></a><!--
---- -->  NEWLINE	^J, ^M		  Execute current line
<a name="recallb"</a><!--
---- -->  RECALLB	^P		  Recall previous input line
<a name="recallf"></a><!--
---- -->  RECALLF	^N		  Recall next input line
<a name="recallbeg"></a><!--
---- -->  RECALLBEG	^[&lt;		  Recall first input line
<a name="recallend"></a><!--
---- -->  RECALLEND	^[>		  Recall last input line
<a name="searchb"></a><!--
---- -->  SEARCHB	^[p		  Search backward in input history
<a name="searchf"></a><!--
---- -->  SEARCHF	^[n		  Search forward in input history
<a name="socketb"></a><!--
---- -->  SOCKETB	^[b		  Switch to previous <a href="../topics/sockets.html">socket</a>
<a name="socketf"></a><!--
---- -->  SOCKETF	^[f		  Switch to next <a href="../topics/sockets.html">socket</a>
<a name="dword"></a><!--
---- -->  DWORD		^[d		  Delete word
<a name="del"></a><a name="delete"></a><a name="dch"></a><!--
---- -->  DCH		^D		  Delete character under cursor
<a name="redraw"></a><!--
---- -->  REDRAW	^L		  Clear/redraw screen
<a name="home"></a><!--
---- -->  HOME		^A		  Go to beginning of line
<a name="end"></a><!--
---- -->  END		^E		  Go to end of line
<a name="wleft"></a><!--
---- -->  WLEFT		^B		  Go left, to beginning of word
<a name="wright"></a><!--
---- -->  WRIGHT	^F		  Go right, to end of word
<a name="deol"></a><!--
---- -->  DEOL		^K		  Delete from cursor to end of line
<a name="page"></a><!--
---- -->  PAGE		^I		  Scroll 1 page ("<a href="../commands/more.html">more</a>")
<a name="hpage"></a><!--
---- -->  HPAGE		^[h		  Scroll half page ("<a href="../commands/more.html">more</a>")
<a name="line"></a><!--
---- -->  LINE		^[L		  Scroll 1 line ("<a href="../commands/more.html">more</a>")
<a name="flush"></a><!--
---- -->  FLUSH		^[j		  Discard all queued lines.
<a name="selflush"></a><!--
---- -->  SELFLUSH	^[J		  Discard queued lines without <a href="../topics/attributes.html">attributes</a>.
</pre>
<a name=""></a>

<p>
  A default of "(stty)" means the key sequence is that used by your terminal
  driver.  A default of "(termcap)" means the key sequence is that given in
  the termcap entry for
  <a href="../topics/special_variables.html#TERM">%TERM</a>.

<p>
  The return value of <a href="../commands/dokey.html">/dokey</a> depends on
  the function.  The movement and deletion functions return the new position
  of the cursor.  The return values of other functions aren't very useful.

<p>
  See "<a href="../topics/keybindings.html">keybindings</a>" for a complete
  list of keybindings.

<p>
  Example:
<pre>
  <a href="../commands/bind.html">/bind</a> ^? = <a href="../commands/dokey.html">/dokey</a> BSPC
  <a href="../commands/bind.html">/bind</a> ^H = <a href="../commands/dokey.html">/dokey</a> BSPC
</pre>
  Both ^H and DEL could then be used to do backspacing (this is already done
  by default).

<p>
  See: <a href="../topics/keybindings.html">keybindings</a>,
  <a href="../topics/general.html">general</a>,
  <a href="../topics/sockets.html">sockets</a>,
  <a href="../topics/history.html">history</a>,
  <a href="../commands/bind.html">/bind</a>,
  <a href="../commands/more.html">/more</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
