<title>TinyFugue: echo()</title>
<!--"@/echo"-->
<!--"@/_echo"-->
<!--"@echo()"-->
<h1>echo()</h1>

<p>
  <a href="../topics/functions.html">Function</a> usage:

<p>
  <a href="../commands/echo.html">ECHO</a>(<i>text</i> [, <i>attrs</i>
  [, <i>inline</i> [, <i>dest</i>]]])<br>

<p>
  Command usage:

<p>
  <a href="../commands/echo.html">/ECHO</a> [-p] [-a<i>attrs</i>]
  [-e] [-w[<i>world</i>]] <i>text</i><br>
  <a href="../commands/echo.html">/_ECHO</a> <i>text</i><br>
<hr>

<p>
  Displays <i>text</i> on the <a href="../topics/tfio.html">tfout stream</a>
  (i.e., the screen, usually), unless otherwise redirected by options.

<p>
  <a href="../topics/options.html">Options</a> and arguments:
  <dl>
  <dt>command: <code>-a<i>attrs</i></code>
  <dt>function: <code><i>attrs</i></code>
	<dd>Echo <i>text</i> with the
	<a href="../topics/attributes.html">attributes</a> given by
	<i>attrs</i>.
  <dt>command: <code>-p</code>
  <dt>function: <i>inline</i> = <code>"on"</code> or <code>1</code>
	<dd>Interpet <code>@{<i>attr</i>}</code> strings as commands to
        set <a href="../topics/attributes.html">attributes</a> inline.
        "@@" strings are interpreted as "@".  "@{n}" or "@{x}" will
        turn attributes off.
  <dt>command: <code>-w<i>world</i></code>
  <dt>function: <i>dest</i> = <code>"w<i>world</i>"</code>
	<dd>Echo <i>text</i> to the <i>world</i>
	<a href="../topics/tfio.html">stream</a> instead of the default
	<a href="../topics/tfio.html">tfout stream</a>
	(see <a href="../topics/tfio.html">tfio</a>).
	If <i>world</i> is blank, the
	<a href="../topics/sockets.html#current">current</a> world is assumed.
  <dt>command: <code>-e</code>
  <dt>function: <i>dest</i> = <code>"e"</code>
	<dd>Echo <i>text</i> to the
	<a href="../topics/tfio.html">tferr stream</a>, instead of the default
	<a href="../topics/tfio.html">tfout stream</a>
	(see <a href="../topics/tfio.html">tfio</a>).
  <dt>function: <i>dest</i> = <code>"o"</code>
	<dd>Echo <i>text</i> to the
	<a href="../topics/tfio.html">tfout stream</a> (the default).
  </dl>

<p>
  The command form is usually more convenient, but the function form is the
  only way to echo text with leading or trailing spaces.
  Remember that "-" by itself can be used to mark the end of command
  <a href="../topics/options.html">options</a>,
  in case <i>text</i> begins with "-".

<p>
  <a href="../commands/echo.html">/_echo</a> is more efficient than
  <a href="../commands/echo.html">/echo</a>, so it is better for use in
  heavily used macros that don't need all the options of
  <a href="../commands/echo.html">/echo</a>.

<p>
  Example:
  Both of these commands
<pre>
  <a href="../commands/test.html">/test</a> <a href="../commands/echo.html">echo</a>("@{u}Hello@{n}, world!", "B", 1)
  <a href="../commands/echo.html">/echo</a> -aB -p @{u}Hello@{n}, world!
</pre>
  echo the following line, with "Hello" underlined, and the whole line bold:
<pre>
  <b><u>Hello</u>, world!</b>
</pre>

<p>
  Echoed text is not matched against
  <a href="../topics/triggers.html">triggers</a>.
  To do that, use <a href="../commands/trigger.html">/trigger</a>.

<p>
  See: <a href="../topics/attributes.html">attributes</a>,
  <a href="../topics/worlds.html">worlds</a>,
  <a href="../topics/functions.html#fwrite">fwrite()</a>,
  <a href="../topics/functions.html#pad">pad()</a>,
  <a href="../topics/tfio.html">tfio</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
