<title>TinyFugue: /edit</title>
<!--"@/edit"-->
<h1>/edit</h1>

<p>
  Usage:

<p>
  <a href="../commands/edit.html">/EDIT</a> [<i>options</i>] [<i>name</i>] [=
  <i>body</i>]<br>
<hr>

<p>
  Edits a currently existing <a href="../topics/macros.html">macro</a> or the
  <a href="../topics/triggers.html">trigger</a> associated with a
  <a href="../topics/macros.html">macro</a>.  Options are described under
  "<a href="../commands/def.html">def</a>".  The name of the
  <a href="../topics/macros.html">macro</a> must be specified and cannot be
  changed, with the following two exceptions:

<p>
  1.  The <a href="../topics/macros.html">macro</a> name can be specified as
  "#<i>num</i>" where <i>num</i> is the number of the
  <a href="../topics/macros.html">macro</a> instead of the name.  A
  <a href="../topics/macros.html">macro</a> number can be determined by
  listing the <a href="../topics/macros.html">macro</a> with
  <a href="../commands/list.html">/list</a>, or from the return value of
  <a href="../commands/def.html">/def</a> or
  <a href="../commands/edit.html">/edit</a>.

<p>
  2.  The <a href="../topics/macros.html">macro</a> name can be specified as
  "$<i>pattern</i>" where <i>pattern</i> is the
  <a href="../topics/triggers.html">trigger</a> pattern.  You may still
  change the pattern if this is used to locate the
  <a href="../topics/macros.html">macro</a>.

<p>
  In either case, the name cannot be changed.  It is possible to create a
  <a href="../topics/macros.html">macro</a> which changes the name of a
  <a href="../topics/macros.html">macro</a>, if it does not have any options
  other than a name and a body:

<p><code>
  <a href="../commands/def.html">/def</a> rename =
  <a href="../commands/def.html">/def</a>
  <a href="../topics/substitution.html#%n">%2</a> =
  $<a href="../topics/substitution.html#%n">%1</a>%;
  <a href="../commands/undef.html">/undef</a>
  <a href="../topics/substitution.html#%n">%1</a>
  </code>

<p>
  How this works is discussed in the help section
  "<a href="../topics/evaluation.html">expansion</a>".

<p>
  Also, the <a href="../topics/tools.html">/edmac</a> command will allow
  you to edit an existing macro definition on the command line.

<p>
  The <a href="../commands/def.html#-i">-i</a> flag will be cleared
  automatically from the <a href="../topics/macros.html">macro</a> if it is
  not explicitly given to <a href="../commands/edit.html">/edit</a>.
  The body may be cleared by specifiying "=" with nothing after it; if "=" is
  not present at all, the macro's body will be unchanged.
  It is not possible to clear the <a href="../commands/def.html#-F">-F</a>
  option.
  The <a href="../commands/def.html#-w">-w</a>,
  <a href="../commands/def.html#-T">-T</a>
  <a href="../commands/def.html#-t">-t</a>, and
  <a href="../commands/def.html#-h">-h</a>
  options also can not be cleared, but their arguments can be changed.
  The <a href="../commands/def.html#-T">-T</a>,
  <a href="../commands/def.html#-t">-t</a>, and
  <a href="../commands/def.html#-h">-h</a> options
  will use the <a href="../topics/patterns.html">pattern matching style</a>
  specified by the <a href="../commands/def.html#-m">-m</a>
  option to the <a href="../commands/edit.html">/edit</a> command; they
  will <em>not</em> inherit <a href="../commands/def.html#-m">-m</a> from
  the original definition.
  Any other options that are not specified with
  <a href="../commands/edit.html">/edit</a> will remain unchanged
  from the original definition.

<p>
  Example:

<p>
<code>
  <a href="../commands/def.html">/def</a>
  <a href="../commands/def.html#-p">-p2</a>
  <a href="../commands/def.html#-t">-t</a>"* has arrived."
  <a href="../commands/def.html#-a">-ah</a>
  greet = :greets <a href="../topics/substitution.html#%n">%1</a><br>
  <a href="../commands/edit.html">/edit</a> -c0 greet
</code>

<p>
  The second command will change the probability of /greet's
  <a href="../topics/triggers.html">trigger</a> from 100% to 0%, effectively
  turning it off without actually
  <a href="../commands/undef.html">undefining</a> it.

<p>
  See: <a href="../topics/macros.html">macros</a>,
  <a href="../topics/triggers.html">triggers</a>,
  <a href="../topics/patterns.html">patterns</a>,
  <a href="../topics/evaluation.html">evaluation</a>,
  <a href="../topics/attributes.html">attributes</a>,
  <a href="../commands/def.html">/def</a>,
  <a href="../commands/list.html">/list</a>,
  <a href="../topics/tools.html">/edmac</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
