<title>TinyFugue: /export</title>
<!--"@/export"-->
<h1>/export</h1>

<p>
  Usage:

<p>
  <a href="../commands/export.html">/EXPORT</a> <i>variable</i><br>
<hr>

<p>
  If <i>variable</i> is a global
  <a href="../topics/variables.html">variable</a>, it becomes an environment
  <a href="../topics/variables.html">variable</a>.  This makes <i>variable</i>
  available to the environment for "<a href="../commands/sh.html">/sh</a>" and
  "<a href="../commands/quote.html">/quote</a> !".

<p>
  Local <a href="../topics/variables.html">variables</a> may not be exported.

<p>
  See: <a href="../topics/special_variables.html">environment</a>,
  <a href="../topics/variables.html">variables</a>,
  <a href="../commands/setenv.html">/setenv</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
