<title>TinyFugue: /expr</title>
<!--"@/expr"-->
<h1>/expr</h1>

<p>
  Usage:

<p>
  <a href="../commands/expr.html">/EXPR</a>
  <i><a href="../topics/expressions.html">expression</a></i><br>
<hr>

<p>
  Evaluates <i><a href="../topics/expressions.html">expression</a></i> and
  prints its value.  This is a shorthand for
  "<code><a href="../commands/eval.html">/eval</a>
  <a href="../commands/echo.html">/echo</a> --
  $$[<i><a href="../topics/expressions.html">expression</a></i>]</code>".

<p>
  Example:

<p>
  command: <code><a href="../commands/set.html">/set</a> x=4</code><br>
  command: <code><a href="../commands/expr.html">/expr</a> x * 2</code><br>
  output: <code>8</code><br>

<p>
  See: <a href="../topics/expressions.html">expressions</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
