<title>TinyFugue: /fg</title>
<!--"@/bg"-->
<!--"@/fg"-->
<h1>/fg</h1>

<p>
  Usage:

<p>
  <a href="../commands/fg.html">/FG</a> [-nsq&lt;&gt;] [<i>world</i>]<br>
  <a href="../commands/fg.html">/BG</a><br>
<hr>

<p>
  Bring the <a href="../topics/sockets.html">socket</a> associated with
  <i>world</i> into the <a href="../topics/sockets.html#foreground">foreground</a>.  The <i>world</i> must already be
  connected with the <a href="../commands/connect.html">/connect</a> command.
  Any lines that arrived while the <a href="../topics/sockets.html">socket</a>
  was in the background will be displayed, unless the -q option is given.

<p>
  /fg <a href="../topics/options.html">Options:</a>
  <dl compact>
  <dt>-n
          <dd>no <a href="../topics/sockets.html">socket</a>: put all
          <a href="../topics/sockets.html">sockets</a> in the
          <a href="../topics/sockets.html#background">background</a>.
  <dt>-s
          <dd>suppress error messages.
  <dt>-&lt;
          <dd>previous <a href="../topics/sockets.html">socket</a> in cycle.
  <dt>-&gt;
          <dd>next <a href="../topics/sockets.html">socket</a> in cycle.
  <dt>-l
          <dd>ignored.
  <dt>-q
          <dd>quiet: don't display lines that were buffered while the
          socket was in the background.
  </dl>

<p>
  <a href="../commands/fg.html">/fg</a> returns 0 on failure, nonzero
  otherwise.

<p>
  If successful, <a href="../commands/fg.html">/fg</a> invokes the WORLD
  <a href="../topics/hooks.html">hook</a>, which by default echoes "----
  World <i>world</i> ----" or "---- No world ----".

<p>
  <a href="../commands/fg.html">/bg</a> puts all
  <a href="../topics/sockets.html">sockets</a> in the
  <a href="../topics/sockets.html#background">background</a>, and is
  equivalent to <a href="../commands/fg.html">/fg</a> -n.

<p>
  See: <a href="../commands/connect.html">/connect</a>,
  <a href="../topics/worlds.html">worlds</a>,
  <a href="../topics/sockets.html">sockets</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
