<title>TinyFugue: /finger</title>
<!--"@finger.tf"-->
<!--"@/finger"-->
<h1>/finger</h1>

<p>
  Usage:

<p>
  <a href="../commands/require.html">/REQUIRE</a> finger.tf<br>

<p>
  <a href="../commands/finger.html">/FINGER</a>
  [<i>user</i>][@<i>host</i>]<br>
<hr>

<p>
  Like unix finger, <a href="../commands/finger.html">/finger</a>
  reports information about <i>user</i> (default: all users)
  on <i>host</i> (default: localhost), assuming that <i>host</i>
  is running a standard finger daemon.

<p>
  See: <a href="../commands/require.html">/require</a>,
  <a href="../topics/worlds.html">worlds</a>,
  <a href="../topics/sockets.html">sockets</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1996 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
