<title>TinyFugue: /hilite</title>
<!--"@/highlight"-->
<!--"@/hilite"-->
<h1>/hilite</h1>

<p>
  Usage:

<p>
  <a href="../commands/hilite.html">/HILITE</a> [<i>pattern</i> [=
  <i>response</i>]]<br>
<hr>

<p>
  Creates a <a href="../topics/macros.html">macro</a> which will
  <a href="../topics/triggers.html">trigger</a> on text matching
  <i><a href="../topics/patterns.html">pattern</a></i> and display it with the
  <a href="../topics/attributes.html">hilite</a>
  <a href="../topics/attributes.html">attribute</a>, optionally executing
  <i>response</i>.

<p>
  With no arguments, <a href="../commands/hilite.html">/hilite</a> sets the
  flag <a href="../topics/special_variables.html#hilite">%{hilite}</a> to 1
  (on).  This flag enables <a href="../topics/attributes.html">hilite</a> and
  other <a href="../topics/attributes.html">attributes</a> on
  <a href="../topics/triggers.html">triggers</a>.  It is on by default.

<p>
  The <a href="../topics/attributes.html">attribute</a>(s) for
  <a href="../topics/attributes.html">hilite</a>d text are determined by the
  <a href="../topics/special_variables.html#hiliteattr">%{hiliteattr}</a>
  <a href="../topics/variables.html">variable</a>.  The default is bold
  (<a href="../topics/special_variables.html#hiliteattr">hiliteattr</a>=B).
  Colors are also available (e.g.,
  <a href="../topics/special_variables.html#hiliteattr">hiliteattr</a>=Cgreen);
  see "<a href="../topics/attributes.html">attributes</a>" and
  "<a href="../topics/colors.html">color</a>" for more information.

<p>
  The matching style of the <a href="../topics/attributes.html">hilite</a>
  <a href="../topics/patterns.html">pattern</a> is determined by
  <a href="../topics/special_variables.html#matching">%{matching}</a>.  The
  <a href="../topics/priority.html">priority</a> of the
  <a href="../topics/attributes.html">hilite</a> is
  determined by <a href="../topics/special_variables.html#hpri">%{hpri}</a>.
  These <a href="../topics/variables.html">variables</a> are examined when the
  <a href="../topics/attributes.html">hilite</a> is defined, not when it is
  executed.

<p>
  If <a href="../commands/hilite.html">/hilite</a> does not create a new
  <a href="../topics/macros.html">macro</a>, it returns 0.  Otherwise, it
  returns the number of the new <a href="../topics/macros.html">macro</a>
  (useful in <a href="../commands/undefn.html">/undefn</a> and
  <a href="../commands/edit.html">/edit</a>).

<p>
  The <a href="../topics/library.html">standard library</a> also defines
  <a href="../topics/library.html">/hilite_page</a> and
  <a href="../topics/library.html">/hilite_whisper</a> which
  <a href="../topics/attributes.html">hilite</a> several different commonly
  used page and whisper formats.

<p>
  <code><a href="../commands/hilite.html">/hilite</a> <i>pattern</i>
  [=<i>response</i>]</code><br>
  is equivalent to<br>
  <code><a href="../commands/def.html">/def</a> <a href="../commands/def.html#-a">-ah</a> <a href="../commands/def.html#-t">-t</a>"<i>pattern</i>"
  [=<i>response</i>]</code>.<br>

<p>
  Example:
<pre>
  <a href="../commands/hilite.html">/hilite</a> {*} tried to kill you!
</pre>
  With the default settings, any line matching that pattern will appear bold.

<p>
  To hilite messages generated by tf, see
  <a href="../topics/hooks.html">hooks</a>.

<p>
  See: <a href="../topics/triggers.html">triggers</a>,
  <a href="../topics/patterns.html">patterns</a>,
  <a href="../topics/attributes.html">attributes</a>,
  <a href="../commands/def.html">/def</a>,
  <a href="../commands/nohilite.html">/nohilite</a>,
  <a href="../commands/partial.html">/partial</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
