<title>TinyFugue: index</title>
<!--"@builtins"-->
<!--"@commands"-->
<!--"@index"-->
<h1>index</h1>

<p>
  Commands marked with '+' are new in the current version.  Commands marked
  with '*' have changed in the current version.
  <dir>
  <table>
  <tr>
  <td>
  <li>&#160;<a href="../commands/addworld.html">ADDWORLD</a>
  <li>&#160;<a href="../commands/bamf.html">BAMF</a>
  <li>&#160;<a href="../commands/beep.html">BEEP</a>
  <li>&#160;<a href="../commands/bind.html">BIND</a>
  <li>&#160;<a href="../commands/break.html">BREAK</a>
  <li>&#160;<a href="../commands/cat.html">CAT</a>
  <li>&#160;<a href="../commands/changes.html">CHANGES</a>
  <li>&#160;<a href="../commands/connect.html">CONNECT</a>
  <li>&#160;<a href="../commands/dc.html">DC</a>
  <li>*<a href="../commands/def.html">DEF</a>
  <li>&#160;<a href="../commands/dokey.html">DOKEY</a>
  <li>*<a href="../commands/echo.html">ECHO</a>
  <li>&#160;<a href="../commands/edit.html">EDIT</a>
  <li>&#160;<a href="../commands/escape.html">ESCAPE</a>
  <li>&#160;<a href="../commands/eval.html">EVAL/NOT</a>
  <li>+<a href="../commands/exit.html">EXIT</a>
  <li>&#160;<a href="../commands/export.html">EXPORT</a>
  <li>&#160;<a href="../commands/expr.html">EXPR</a>
  <td>
  <li>&#160;<a href="../commands/fg.html">FG</a>
  <li>&#160;<a href="../commands/finger.html">FINGER</a>
  <li>&#160;<a href="../commands/for.html">FOR</a>
  <li>&#160;<a href="../commands/gag.html">GAG</a>
  <li>&#160;<a href="../commands/getfile.html">GETFILE</a>
  <li>&#160;<a href="../commands/grab.html">GRAB</a>
  <li>&#160;<a href="../commands/help.html">HELP</a>
  <li>&#160;<a href="../commands/hilite.html">HILITE</a>
  <li>&#160;<a href="../commands/histsize.html">HISTSIZE</a>
  <li>&#160;<a href="../commands/hook.html">HOOK</a>
  <li>&#160;<a href="../commands/if.html">IF</a>
  <li>&#160;<a href="../commands/input.html">INPUT</a>
  <li>&#160;<a href="../commands/kill.html">KILL</a>
  <li>&#160;<a href="../commands/lcd.html">LCD</a>
  <li>&#160;<a href="../commands/let.html">LET</a>
  <li>&#160;<a href="../commands/list_commands.html">list commands</a>
  <li>&#160;<a href="../commands/list.html">LIST</a>
  <li>*<a href="../commands/listsockets.html">LISTSOCKETS</a>
  <td>
  <li>+<a href="../commands/liststreams.html">LISTSTREAMS</a>
  <li>+<a href="../commands/listvar.html">LISTVAR</a>
  <li>*<a href="../commands/listworlds.html">LISTWORLDS</a>
  <li>*<a href="../commands/load.html">LOAD</a>
  <li>&#160;<a href="../commands/localecho.html">LOCALECHO</a>
  <li>&#160;<a href="../commands/log.html">LOG</a>
  <li>&#160;<a href="../commands/map.html">mapping</a>
  <li>&#160;<a href="../commands/nohilite.html">NOHILITE</a>
  <li>&#160;<a href="../commands/partial.html">PARTIAL</a>
  <li>*<a href="../commands/paste.html">PASTE</a>
  <li>&#160;<a href="../commands/ps.html">PS</a>
  <li>&#160;<a href="../commands/purge.html">PURGE</a>
  <li>*<a href="../commands/purgeworld.html">PURGEWORLD</a>
  <li>&#160;<a href="../commands/putfile.html">PUTFILE</a>
  <li>&#160;<a href="../commands/quit.html">QUIT</a>
  <li>&#160;<a href="../commands/quote.html">QUOTE</a>
  <li>&#160;<a href="../commands/quoter.html">quoter.tf</a>
  <li>*<a href="../commands/recall.html">RECALL</a>
  <td>
  <li>&#160;<a href="../commands/recordline.html">RECORDLINE</a>
  <li><a href="../commands/repeat.html">REPEAT</a>
  <li>+<a href="../commands/replace.html">REPLACE</a>
  <li>+<a href="../commands/return.html">RETURN</a>
  <li>&#160;<a href="../commands/save.html">SAVE</a>
  <li>&#160;<a href="../commands/saveworld.html">SAVEWORLD</a>
  <li>*<a href="../commands/send.html">SEND</a>
  <li>&#160;<a href="../commands/set.html">SET</a>
  <li>&#160;<a href="../commands/setenv.html">SETENV</a>
  <li>&#160;<a href="../commands/sh.html">SH</a>
  <li>&#160;<a href="../commands/shift.html">SHIFT</a>
  <li>&#160;<a href="../commands/spell.html">spelling</a>
  <li>&#160;<a href="../commands/sub.html">SUB</a>
  <li>&#160;<a href="../commands/substitute.html">SUBSTITUTE</a>
  <li>&#160;<a href="../commands/suspend.html">SUSPEND</a>
  <li>&#160;<a href="../commands/telnet.html">TELNET</a>
  <li>&#160;<a href="../commands/test.html">TEST</a>
  <li>+<a href="../commands/textutil.html">textutil.tf</a>
  <li>&#160;<a href="../commands/tick.html">TICK</a>
  <td>
  <li>&#160;<a href="../commands/time.html">TIME</a>
  <li>&#160;<a href="../commands/toggle.html">TOGGLE</a>
  <li>&#160;<a href="../commands/tr.html">TR</a>
  <li>&#160;<a href="../commands/trig.html">TRIG</a>
  <li>&#160;<a href="../commands/trigger.html">TRIGGER</a>
  <li>&#160;<a href="../commands/unbind.html">UNBIND</a>
  <li>*<a href="../commands/undef.html">UNDEF</a>
  <li>&#160;<a href="../commands/undefn.html">UNDEFN</a>
  <li>&#160;<a href="../commands/undeft.html">UNDEFT</a>
  <li>&#160;<a href="../commands/unhook.html">UNHOOK</a>
  <li>&#160;<a href="../commands/unset.html">UNSET</a>
  <li>&#160;<a href="../commands/untrig.html">UNTRIG</a>
  <li>*<a href="../commands/unworld.html">UNWORLD</a>
  <li>&#160;<a href="../commands/version.html">VERSION</a>
  <li>&#160;<a href="../commands/watchdog.html">WATCHDOG</a>
  <li>&#160;<a href="../commands/watchname.html">WATCHNAME</a>
  <li>&#160;<a href="../commands/while.html">WHILE</a>
  <li>&#160;<a href="../commands/world.html">WORLD</a>
  </tr>
  </table>
  </dir>
  See also: <a href="../topics/intro.html">intro</a>,
  <a href="../topics/">topics</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
