<title>TinyFugue: /lcd</title>
<!--"@/cd"-->
<!--"@/pwd"-->
<!--"@/lcd"-->
<h1>/lcd</h1>

<p>
  Usage:

<p>
  <a href="../commands/lcd.html">/LCD</a> [<i>dir</i>]<br>
  <a href="../commands/lcd.html">/CD</a> [<i>dir</i>]<br>
  <a href="../commands/lcd.html">/PWD</a><br>
<hr>

<p>
  <a href="../commands/lcd.html">/lcd</a> and
  <a href="../commands/lcd.html">/cd</a> change to a new working directory.
  If <i>dir</i> is omitted with <a href="../commands/lcd.html">/lcd</a>, the
  current directory is displayed (if supported on your system).  If
  <i>dir</i> is omitted with <a href="../commands/lcd.html">/cd</a>,
  <a href="../topics/special_variables.html#HOME">%{HOME}</a> is assumed.

<p>
  The <i>dir</i> name is expanded as described under
  "<a href="../topics/filenames.html">filenames</a>".

<p>
  <a href="../commands/lcd.html">/pwd</a> displays the current working
  directory (if supported on your system).

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
