<title>TinyFugue: /let</title>
<!--"@/let"-->
<h1>/let</h1>

<p>
  Usage:

<p>
  <a href="../commands/let.html">/LET</a> <i>name</i>=<i>value</i><br>
  <a href="../commands/let.html">/LET</a> <i>name</i> <i>value</i><br>
<hr>

<p>
  Assigns <i>value</i> to <a href="../topics/variables.html">variable</a>
  <i>name</i> in the current local <a href="../topics/scope.html">scope</a>.
  Can only be used during <a href="../topics/macros.html">macro</a>
  <a href="../topics/evaluation.html">expansion</a>.  The
  <a href="../topics/variables.html">variable</a> will be
  destroyed when the <a href="../topics/scope.html">scope</a>.
  in which it was created exits.

<p>
  Note to lisp users: this is nothing like lisp's let.

<p>
  See: <a href="../commands/set.html">/set</a>,
  <a href="../topics/variables.html">variables</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
