<title>TinyFugue: /listsockets</title>
<!--"@/listsockets"-->
<h1>/listsockets</h1>

<p>
  Usage:

<p>
  <a href="../commands/listsockets.html">/LISTSOCKETS</a>
  [-s] [-m<i>style</i>] [-T<i>type</i>] [<i>name</i>]<br>
<hr>

  Lists the <a href="../topics/sockets.html">sockets</a> to which TinyFugue
  is connected.

<p>
  <a href="../topics/options.html">Options</a> and arguments:
  <dl compact>
  <dt>-s		<dd>short form, list only world names
  <dt>-m<i>style</i>	<dd>Use <i>style</i> for
			<a href="../topics/patterns.html">pattern matching</a>
			in other options
			(default: <a href="../topics/special_variables.html#matching">%{matching}</a>).

  <dt>-T<i>type</i>	<dd>list only worlds with a type matching the
			<a href="../topics/patterns.html">pattern</a>
			<i>type</i>.
  <dt><i>name</i>	<dd>list only worlds with a name matching the
			<a href="../topics/patterns.html">pattern</a>
			<i>name</i>.
  </dl>

<p>
  The output will look something like this (unless the -s option is given):
<pre>
     LINES IDLE TYPE      NAME            HOST                       PORT
        48  13h tiny.muck Cave            tcp.com                    2283
*  foregnd   1m tiny.mush DeepSeas        muds.okstate.edu           6250
      none   7s telnet    whitehouse.gov, whitehouse.gov             smtp
 ?    none  15s tiny      SlowMUD         slow.machine.com           4201
</pre>
  The columns and their meanings are:
  <dl>
  <dt>unlabeled first column
          <dd>"*" marks the
          <a href="../topics/sockets.html#current">current</a> socket.
  <dt>unlabeled second column
          <dd>the state of the <a href="../topics/sockets.html">socket</a> is
          "!" for dead, "?" for pending, "@" for an established
          <a href="../topics/proxy.html">proxy</a> connection,
          or blank for a normal established connection.
  <dt>LINES
          <dd>for a <a href="../topics/sockets.html#background">background</a>
          <a href="../topics/sockets.html">socket</a>,
          the number of unseen lines; for a
          <a href="../topics/sockets.html#foreground">foreground</a>
          <a href="../topics/sockets.html">socket</a>, "foregnd".
  <dt>IDLE
          <dd>how long since the last text was received on the
          <a href="../topics/sockets.html">socket</a>.
  <dt>TYPE
          <dd>the type of the world (set with
          <a href="../commands/addworld.html">/addworld</a> -T).
  <dt>NAME
          <dd>the name of the world associated with the
          <a href="../topics/sockets.html">socket</a>.
  <dt>HOST
          <dd>the host to which the
          <a href="../topics/sockets.html">socket</a> is connected.
  <dt>PORT
          <dd>the port to which the
          <a href="../topics/sockets.html">socket</a> is connected.
  </dl>

<p>
  The return value of 
  <a href="../commands/listsockets.html">/listsockets</a>
  is the number of open sockets listed.

<p>
  See: <a href="../topics/sockets.html">sockets</a>,
  <a href="../topics/special_variables.html#background">%background</a>,
  <a href="../commands/connect.html">/connect</a>,
  <a href="../commands/fg.html">/fg</a>,
  <a href="../topics/functions.html#nactive">nactive()</a>,
  <a href="../topics/functions.html#idle">idle()</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
