<title>TinyFugue: /logme</title>
<!--"@/logme"-->
<h1>/logme</h1>

<p>
  Obsolete.  See "<a href="../topics/log.html">log</a>".

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
