<title>TinyFugue: /nogag</title>
<!--"@/nogag"-->
<h1>/nogag</h1>

<p>
  Usage:

<p>
  <a href="../commands/nogag.html">/NOGAG</a> [<i>pattern</i>]<br>
<hr>

<p>
  Eliminates a <a href="../topics/macros.html">macro</a> that is
  <a href="../topics/triggers.html">trigger</a>ed by <i>pattern</i> and has
  the <a href="../topics/attributes.html">gag</a>
  <a href="../topics/attributes.html">attribute</a>.
  <a href="../commands/nogag.html">/nogag</a> with no arguments turns off the
  flag <a href="../topics/special_variables.html#gag">%{gag}</a>, disabling
  all <a href="../topics/attributes.html">gag</a>
  <a href="../topics/attributes.html">attributes</a>.  <i>Pattern</i> is
  matched against existing patterns using simple comparison.

<p>
  The flag <a href="../topics/special_variables.html#gag">%{gag}</a> defaults
  to 1 (on).

<p>
  See: <a href="../topics/triggers.html">triggers</a>,
  <a href="../commands/gag.html">/gag</a>,
  <a href="../topics/special_variables.html#gag">%gag</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
