<title>TinyFugue: /nohilite</title>
<!--"@/nohilite"-->
<h1>/nohilite</h1>

<p>
  Usage:

<p>
  <a href="../commands/nohilite.html">/NOHILITE</a> [<i>pattern</i>]<br>
<hr>

<p>
  With a <i>pattern<i> argument,
  <a href="../commands/nohilite.html">/nohilite</a>
  undefines a <a href="../topics/macros.html">macro</a> that is
  <a href="../topics/triggers.html">trigger</a>ed by <i>pattern</i> and has
  the <a href="../topics/attributes.html">hilite</a>
  <a href="../topics/attributes.html">attribute</a>.
  <i>Pattern</i> is
  matched against existing patterns using simple comparison.

<p>
  With no argument,
  <a href="../commands/nohilite.html">/nohilite</a> turns off the flag
  <a href="../topics/special_variables.html#hilite">%{hilite}</a>, disabling
  all display <a href="../topics/attributes.html">attributes</a>.

<p>
  The flag <a href="../topics/special_variables.html#hilite">%{hilite}</a>
  defaults to 1 (on).

<p>
  See: <a href="../topics/triggers.html">triggers</a>,
  <a href="../commands/hilite.html">/hilite</a>,
  <a href="../topics/special_variables.html#hilite">%hilite</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
