<title>TinyFugue: /prompt</title>
<!--"@/prompt"-->
<h1>/prompt</h1>

<p>
  Usage:

<p>
  <a href="../commands/prompt.html">/PROMPT</a> <i>text</i><br>
<hr>

<p>
  Sets the <a href="../topics/prompts.html">prompt</a> for the
  <a href="../topics/sockets.html#current">current</a>
  <a href="../topics/sockets.html">socket</a> to <i>text</i>,
  replacing any existing <a href="../topics/prompts.html">prompt</a>.
  <a href="../commands/prompt.html">/prompt</a> is most useful when called
  from a PROMPT <a href="../topics/hooks.html">hook</a>, like this:
<pre>
    <a href="../commands/def.html">/def</a> <a href="../commands/def.html#-h">-h</a>"PROMPT *&gt; " catch_prompt = <a href="../commands/test.html">/test</a> <a href="../commands/prompt.html">prompt</a>(<a href="../topics/substitution.html#%*">{*}</a>)
</pre>
  Then, any text that ends in "&gt;" without a newline will be made the prompt.

<p>
  For a more sophisticated example, see
  "<a href="../topics/status_line.html#prompt example">status line</a>".

<p>
  See: <a href="../topics/prompts.html">prompts</a>,
  <a href="../topics/hooks.html">hooks</a> (PROMPT)

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
