<title>TinyFugue: /purgeworld</title>
<!--"@/purgeworld"-->
<h1>/purgeworld</h1>

<p>
  Usage:

<p>
  <a href="../commands/purgeworld.html">/PURGEWORLD</a>
  [-m<i>style</i>] [-T<i>type</i>] [<i>name</i>]<br>
<hr>

<p>
  Removes <a href="../topics/worlds.html">world</a> definitions.

<p>
  <a href="../topics/options.html">Options</a> and arguments:
  <dl>
  <dt>-m<i>style</i>	<dd>Use <i>style</i> for
			<a href="../topics/patterns.html">pattern matching</a>
			of <i>type</i> and <i>name</i> patterns.
			(default: <a href="../topics/special_variables.html#matching">%{matching}</a>).
  <dt>-T<i>type</i>	<dd>Remove only worlds with a type matching the
  			<a href="../topics/patterns.html">pattern</a>
  			<i>type</i>.
  <dt><i>name</i>	<dd>Remove only worlds with a name matching the
  			<a href="../topics/patterns.html">pattern</a>
  			<i>name</i>.
  </dl>

<p>
  The return value of <a href="../commands/purgeworld.html">/purgeworld</a>
  is the number of world definitions that were removed.

<p>
  See: <a href="../topics/worlds.html">worlds</a>,
  <a href="../commands/listworlds.html">/listworlds</a>,
  <a href="../topics/patterns.html">patterns</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
