<title>TinyFugue: /purge</title>
<!--"@/purgebind"-->
<!--"@/purgedef"-->
<!--"@/purgedeft"-->
<!--"@/purgegag"-->
<!--"@/purgehilite"-->
<!--"@/purgehook"-->
<!--"@/purgetrig"-->
<!--"@/purge"-->
<h1>/purge</h1>

<p>
  Usage:

<p>
  <a href="../commands/purge.html">/PURGE</a> [<i>macro-options</i>]
  [<i>name</i>] [= <i>body</i>]<br>
<hr>

<p>
  Removes all <a href="../topics/macros.html">macros</a> matching the
  specified restrictions.  The
  <a href="../commands/list.html#list options"><i>macro-options</i></a>
  are the same as those in
  the <a href="../commands/list.html">/list</a> command; see
  "<a href="../commands/list.html">/list</a>" for details.  Invisible
  <a href="../topics/macros.html">macros</a> will not be purged unless "-i"
  is specified.  Remember that "macros" includes keybindings,
  <a href="../topics/attributes.html">hilite</a>s,
  <a href="../topics/attributes.html">gag</a>s,
  <a href="../topics/triggers.html">triggers</a>, and
  <a href="../topics/hooks.html">hooks</a>.

<p>
  The standard <a href="../topics/macros.html">macro</a> library also defines
  the commands <a href="../commands/purge.html">/purgedef</a>,
  <a href="../commands/purge.html">/purgebind</a>,
  <a href="../commands/purge.html">/purgehilite</a>,
  <a href="../commands/purge.html">/purgegag</a>,
  <a href="../commands/purge.html">/purgetrig</a>,
  <a href="../commands/purge.html">/purgedeft</a>, and
  <a href="../commands/purge.html">/purgehook</a>, which purge
  <a href="../topics/macros.html">macros</a> of the appropriate type.  These
  always use <a href="../topics/patterns.html#glob">glob</a> matching.

<p>
  See: <a href="../topics/macros.html">macros</a>,
  <a href="../topics/triggers.html">triggers</a>,
  <a href="../topics/patterns.html">patterns</a>,
  <a href="../topics/attributes.html">attributes</a>,
  <a href="../topics/library.html">library</a>,
  <a href="../commands/def.html">/def</a>,
  <a href="../commands/list.html">/list</a>,
  <a href="../commands/purgeworld.html">/purgeworld</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
