<title>TinyFugue: /putfile</title>
<!--"@upload"-->
<!--"@/putfile_MUCK"-->
<!--"@/putfile_UNIX"-->
<!--"@/putfile_LP"-->
<!--"@/putfile"-->
<h1>/putfile</h1>

<p>
  Usage:

<p>
  <a href="../commands/load.html">/REQUIRE</a> filexfer.tf<br>

<p>
  <a href="../commands/putfile.html">/PUTFILE_MUCK</a> <i>file</i>
  [<i>remote-file</i>]<br>
  <a href="../commands/putfile.html">/PUTFILE_LP</a> <i>file</i>
  [<i>remote-file</i>]<br>
  <a href="../commands/putfile.html">/PUTFILE_UNIX</a> <i>file</i>
  [<i>remote-file</i>]<br>
<hr>

<p>
  Uploads text <i>file</i> from the local system to <i>remote-file</i> on a
  MUCK, LP, or UNIX server, using an editor on the remote system.  If
  <i>remote-file</i> is omitted, <i>file</i> is used as the name of the
  remote file.

<p>
  <a href="../commands/putfile.html">/Putfile_LP</a> assumes the LPmud has
  an "ed" editor similar to that in UNIX.

<p>
  For backward compatibility, <a href="../commands/putfile.html">/putfile</a>
  is the same as <a href="../commands/putfile.html">/putfile_MUCK</a>.

<p>
  See: <a href="../commands/getfile.html">/getfile</a>,
  <a href="../commands/quote.html">/quote</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
