<title>TinyFugue: /quit</title>
<!--"@/quit"-->
<h1>/quit</h1>

<p>
  Usage:

<p>
  <a href="../commands/quit.html">/QUIT</a><br>
<hr>

<p>
  Exits from TinyFugue.  All <a href="../topics/sockets.html">socket</a>
  connections will be disconnected; all logfiles will be closed;
  <a href="../commands/quote.html">/quote</a>s and
  <a href="../commands/repeat.html">/repeat</a>s will be killed; and all
  <a href="../topics/history.html">history</a>, unsaved
  <a href="../topics/macros.html">macros</a>, and 
  <a href="../topics/variables.html">variables</a> will be lost.

<p>
  See: <a href="../commands/dc.html">/dc</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
