<title>TinyFugue: /recall</title>
<!--"@/recall"-->
<h1>/recall</h1>

<p>
  Usage:

<p>
  <a href="../commands/recall.html">/RECALL</a> [-w<i>world</i>] [-ligv]
  [-t[<i>format</i>]] [-a<i>attrs</i>] [-m<i>style</i>]
  [#]<i>range</i> [<i>pattern</i>]<br>
<hr>

<p>
  Recalls lines from a <a href="../topics/history.html">history</a> buffer.

<p>
  <a href="../topics/options.html">Options:</a>
  <dl>
  <dt>-w
          <dd> recall from <a href="../topics/sockets.html#current">current</a>
          world's <a href="../topics/history.html">history</a> (default)
  <dt>-w<i>world</i>
          <dd>recall from <i>world</i>'s
          <a href="../topics/history.html">history</a>
  <dt>-l
          <dd> recall from local <a href="../topics/history.html">history</a>
          (i.e., TF output)
  <dt>-g
          <dd> recall from global
          <a href="../topics/history.html">history</a> (all worlds, and
          local)
  <dt>-i
          <dd> recall from input history
  <dt>-t[<i>format</i>]
          <dd> display timestamps on each line, using <i>format</i>.  If
          <i>format</i> is omitted,
          "<code>[<a href="../topics/special_variables.html#time_format">%{time_format}</a>]</code>"
          will be used.
  <dt>-v
          <dd> recall lines that <em>don't</em> match the pattern
  <dt>-q
          <dd> quiet:  suppress the header and footer lines
  <dt>-a<i>attr</i>
          <dd>suppress specified
          <a href="../topics/attributes.html">attributes</a> (e.g., -ag shows
          <a href="../topics/attributes.html">gag</a>ged lines)
  <dt>-m<i>style</i>
          <dd>matching style
          (<a href="../topics/patterns.html#simple">simple</a>,
          <a href="../topics/patterns.html#glob">glob</a>, or
          <a href="../topics/patterns.html#regexp">regexp</a>).
  <dt>#
          <dd> display line numbers (must be last option, before
          <i>range</i>)
  </dl>

<p>
  <i>range</i> can have one of the formats below.  If <i>x</i> and <i>y</i>
  are plain integers, they are interpreted as line numbers or counts.  If
  they have the form "<i>hours</i>:<i>minutes</i>" or
  "<i>hours</i>:<i>minutes</i>:<i>seconds</i>", they are interpreted as time
  values (either a period of time, or a clock time within the last 24 hours).
  <dl>
  <dt>/<var>x</var>
          <dd> Recall the last <i>x</i> matching lines.
  <dt><var>x</var>
          <dd> Recall from the last <i>x</i> lines, or lines within the last
          time period <i>x</i>.
  <dt><var>x</var>-<var>y</var>
          <dd> Recall lines starting with <i>x</i> and ending with <i>y</i>.
  <dt>-<var>y</var>
          <dd> If <i>y</i> is a line number, recall the <i>y</i>th previous
          line; if <i>y</i> is a time, recall lines earlier than <i>y</i>.
          Remember to use "<a href="../topics/options.html">-</a>"
          before "-<var>y</var>" so it isn't interpreted as an
          <a href="../topics/options.html">option</a>.
  <dt><var>x</var>-
          <dd> Recall lines after <i>x</i>.
  </dl>

<p>
  If <i>range</i> is prefixed with "#", line numbers will be displayed.

<p>
  If <i>pattern</i> is given, only lines in the given range that match
  <i>pattern</i> will be recalled.  The matching style is determined by the
  -m option if given,
  <a href="../topics/special_variables.html#matching">%{matching}</a>
  otherwise.

<p>
  If the output of
  <a href="../commands/recall.html">/recall</a>
  is being sent to the screen, it will be preceded
  with "---- Recall start ----" and followed by "---- Recall end ----",
  unless -q is used.
  These lines will not be produced if the output is redirected, for
  example with 
  <a href="../topics/substitution.html#$(">$(...)</a>
  <a href="../topics/substitution.html#$(">command substitution</a> or
  "<a href="../commands/quote.html">/quote `</a><a href="../commands/recall.html">/recall</a>".

<p>
  If lines are received while tf is suspended (by ^Z or
  <a href="../commands/suspend.html">/suspend</a>) or in a subshell (by
  <a href="../commands/sh.html">/sh</a>), the timestamps on the lines will
  correspond to the time tf resumed control, not the time they actually
  arrived.

<p>
  The return value of <a href="../commands/recall.html">/recall</a> is the
  number of lines that were actually recalled.

<p>
  See: <a href="../topics/history.html">history</a>,
  <a href="../topics/attributes.html">attributes</a>,
  <a href="../commands/quote.html">/quote</a>,
  <a href="../topics/special_variables.html#time_format">%time_format</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
