<title>TinyFugue: /rwho</title>
<!--"@mudwho"-->
<!--"@rwho.tf"-->
<!--"@/rwho"-->
<h1>/rwho</h1>

<p>
  Usage:

<p>
  <a href="../commands/load.html">/REQUIRE</a> rwho.tf<br>

<p>
  <a href="../commands/rwho.html">/RWHO</a><br>
  <a href="../commands/rwho.html">/RWHO</a> name=<i>player</i><br>
  <a href="../commands/rwho.html">/RWHO</a> mud=<i>mud</i><br>
<hr>

<p>
  Gets a remote WHO list from a mudwho server.  The first form gives a
  complete list, the other forms give partial lists.  Due to the short
  timeout of the mudwho server, sometimes the complete list is sent even if
  the second or third format is used (send complaints to the author or
  maintainer of the mudwho server, not to me).

<p>
  Make sure you <a href="../commands/load.html">/load</a> rwho.tf _after_ you
  define your worlds, or rwho will be the default world.

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
