<title>TinyFugue: /saveworld</title>
<!--"@/saveworld"-->
<h1>/saveworld</h1>

<p>
  Usage:

<p>
  <a href="../commands/saveworld.html">/SAVEWORLD</a> [-a] [<i>file</i>]<br>
<hr>

<p>
  Saves world definitions to <i>file</i> if specified, otherwise from the
  file named in the body of the
  <a href="../topics/library.html#filename macros">WORLDFILE</a> macro.

<p>
  If "-a" is given, world definitions will be appended to <i>file</i>;
  otherwise, the world definitions will replace any original contents of
  <i>file</i>.

<p>
  Note that when tf starts, it does not automatically read files created with
  <a href="../commands/saveworld.html">/saveworld</a>.  To make it do so, add
  the <a href="../commands/load.html">/loadworld</a> command to your
  <a href="../topics/tfrc.html">.tfrc</a> file.

<p>
  See: <a href="../topics/worlds.html">worlds</a>,
  <a href="../topics/library.html">library</a>,
  <a href="../commands/addworld.html">/addworld</a>,
  <a href="../commands/load.html">/load</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
