<title>TinyFugue: /setenv</title>
<!--"@/setenv"-->
<h1>/setenv</h1>

<p>
  Usage:

<p>
  <a href="../commands/setenv.html">/SETENV</a> [<i>name</i>
  [<i>value</i>]]<br>
  <a href="../commands/setenv.html">/SETENV</a> <i>name</i>=<i>value</i><br>

<p>
  With two arguments, <a href="../commands/setenv.html">/setenv</a> will set
  the value of <i>name</i> to <i>value</i> in the environment.  With one
  argument, <a href="../commands/setenv.html">/setenv</a> will display the
  value of <i>name</i>.  With no arguments,
  <a href="../commands/setenv.html">/setenv</a> will display the value of all
  environment <a href="../topics/variables.html">variables</a>.
  If the second form is used, spaces around the '=' will not be stripped.

<p>
  If <i>name</i> was already defined as an internal
  <a href="../topics/variables.html">variable</a>, it will become
  an environment <a href="../topics/variables.html">variable</a>.

<p>
  See: <a href="../topics/variables.html">variables</a>,
  <a href="../commands/listvar.html">/listvar</a>,
  <a href="../commands/set.html">/set</a>,
  <a href="../commands/export.html">/export</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
