<title>TinyFugue: /signal</title>
<!--"@/signal"-->
<h1>/signal</h1>

<p>
  Usage:

<p>
  <a href="../commands/signal.html">/SIGNAL</a> [<i>sig</i>]<br>
<hr>

<p>
  Sends signal <i>sig</i> to the tf process, or with no arguments,
  <a href="../commands/signal.html">/signal</a> lists all valid signal names.
  Valid signals usually include: HUP, INT, QUIT, KILL, SEGV, TERM, USR1,
  USR2, and TSTP.  The complete list varies from system to system.

<p>
  See:
  <a href="../topics/signals.html">signals</a>,
  <a href="../commands/suspend.html">/suspend</a>,
  <a href="../topics/functions.html#getpid">getpid()</a>,
  <a href="../topics/hooks.html">hooks</a> (SIGHUP, SIGTERM, SIGUSR1,
  SIGUSR2)

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
