<title>TinyFugue: /spell_line</title>
<!--"@spell"--> 
<!--"@spelling"--> 
<!--"@/spell_line"--> 
<h1>spelling checker</h1>

<p>
  Usage: 

<p>
  <a href="../commands/load.html">/REQUIRE</a> spell.tf<br>

<p>
  <a href="../commands/spell.html">/SPELL_LINE</a><br>
  Keybinding: ^[s<br>
<hr>

<p>
  After executing "<a href="../commands/load.html">/require</a> spell.tf",
  typing "^[s" will call
  <a href="../commands/spell.html">/spell_line</a>
  to report any misspellings in the current input line.
  <a href="../commands/spell.html">/Spell_line</a> can of course be bound
  to other keys with
  "<a href="../commands/def.html">/def</a>
  <a href="../commands/def.html#-b">-b</a>".

<p>
  <a href="../commands/spell.html">/Spell_line</a>
  assumes your system has a program called "spell" that reports
  misspellings in its standard input.
  
<p>
  See:
  <a href="../topics/interface.html">interface</a>, 
  <a href="../topics/keys.html">keys</a> 

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1996 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
