<title>TinyFugue: /split</title>
<!--"@/split"-->
<h1>/split</h1>

<p>
  Usage:

<p>
  <a href="../commands/split.html">/split</a> <i>args</i><br>
<hr>

<p>
  Sets <a href="../topics/special_variables.html#P1">%{P1}</a> to the
  substring of <i>args</i> before the first '=', and sets
  <a href="../topics/special_variables.html#P2">%{P2}</a> to the substring of
  <i>args</i> after the first '='.  If there is no '=' in <i>args</i>,
  <a href="../topics/special_variables.html#P1">%{P1}</a> will contain the
  entire string and <a href="../topics/special_variables.html#P2">%{P2}</a>
  will be empty.  <a href="../topics/special_variables.html#P0">%{P0}</a>
  will contain the entire string.

<p>
  Spaces surrounding the '=' are stripped.

<p>
  See: <a href="../topics/getopts.html">getopts()</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
