<title>TinyFugue: /suspend</title>
<!--"@/suspend"-->
<h1>/suspend</h1>

<p>
  Usage:

<p>
  <a href="../commands/suspend.html">/SUSPEND</a><br>
<hr>

<p>
  Suspends the TF process, if your system and shell support job control.
  This has the same effect as typing ^Z on most UNIX systems.

<p>
  See: <a href="../topics/signals.html">signals</a>,
  <a href="../commands/signal.html">/signal</a>.

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
