<title>TinyFugue: /telnet</title>
<!--"@/telnet"-->
<h1>/telnet</h1>

<p>
  Usage:

<p>
  <a href="../commands/telnet.html">/TELNET</a> <i>host</i> [<i>port</i>]<br>
<hr>

<p>
  Connect to a line-based telnet host.  The telnet login port is used if
  <i>port</i> is omitted.

<p>
  Note that TF operates strictly in line-by-line mode, but telnetd (the
  server running on the telnet login port) expects character-by- character
  mode.  So, simple shell operations and anything else which is basically
  line-by-line should work without much difficulty, but anything that tries
  to control the screen or expects single keystroke input will <em>not</em>
  work.  <a href="../commands/telnet.html">/Telnet</a> is somewhat useful,
  but not useful enough to alter the fundamental line-by-line nature of TF.
  If you want a general telnet client, you know where to find it.

<p>
  TF supports most of the TELNET protocol and the options
  ECHO (lets server control echoing of input),
  SGA (suppress GOAHEAD),
  EOR (allows use of END-OF-RECORD in
  <a href="../topics/prompt_protocol.html">prompts</a>),
  NAWS (allows TF to send window size information to the server),
  and BINARY (allows transmission of 8-bit characters).
  For information on TELNET protocol, see RFC 854 and 1123.
  See also: <a href="../topics/prompts.html">prompts</a>.

<p>
  See: <a href="../commands/addworldtype.html">/addtelnet</a>,
  <a href="../commands/connect.html">/connect</a>,
  <a href="../topics/special_variables.html#telopt">%telopt</a>,
  <a href="../topics/special_variables.html#binary_eol">%binary_eol</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
