<title>TinyFugue: /time</title>
<!--"@/time"-->
<h1>/time</h1>

<p>
  Usage:

<p>
  <a href="../commands/time.html">/TIME</a> [<i>format</i>]<br>
<hr>

<p>
  Displays the current time.  <i>Format</i> is described under
  "<a href="../commands/ftime.html">ftime()</a>".  If <i>format</i>
  is omitted,
  <a href="../topics/special_variables.html#time_format">%{time_format}</a>
  is used.

<p>
  See: <a href="../topics/functions.html#time">time()</a>,
  <a href="../commands/ftime.html">ftime()</a>,
  <a href="../topics/special_variables.html#TZ">%TZ</a>,
  <a href="../topics/special_variables.html#time_format">%time_format</a>,
  <a href="../topics/special_variables.html#clock">%clock</a>,
  <a href="../topics/functions.html#idle">idle()</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
