<title>TinyFugue: /toggle</title>
<!--"@/toggle"-->
<h1>/toggle</h1>

<p>
  Usage:

<p>
  <a href="../commands/toggle.html">/TOGGLE</a> <i>variable</i><br>
<hr>

<p>
  If <i>variable</i> has a value of 0, its value will be set to "1".  If
  <i>variable</i> has a non-zero value, its value will be set to "0".

<p>
  See: <a href="../topics/variables.html">variables</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
