<title>TinyFugue: /true</title>
<!--"@/false"-->
<!--"@/:"-->
<!--"@/true"-->
<h1>/true</h1>

<p>
  Usage:

<p>
  <a href="../commands/true.html">/TRUE</a><br>
  <a href="../commands/false.html">/FALSE</a><br>
<hr>

<p>
  <a href="../commands/true.html">/True</a> does nothing, and returns
  nonzero.

<p>
  <a href="../commands/false.html">/False</a> does nothing, and returns zero.

<p>
  /: is the same as <a href="../commands/true.html">/true</a>.

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
