<title>TinyFugue: /unbind</title>
<!--"@/unbind"-->
<h1>/unbind</h1>

<p>
  Usage:

<p>
  <a href="../commands/unbind.html">/UNBIND</a> <i>sequence</i><br>
<hr>

<p>
  Removes a <a href="../topics/macros.html">macro</a> with the keybinding
  <i>sequence</i>.

<p>
  See: <a href="../topics/general.html">general</a>,
  <a href="../commands/bind.html">/bind</a>,
  <a href="../commands/purge.html">/purge</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
