<title>TinyFugue: /undef</title>
<!--"@/undef"-->
<h1>/undef</h1>

<p>
  Usage:

<p>
  <a href="../commands/undef.html">/UNDEF</a> <i>name</i>...<br>
<hr>

<p>
  For each <i>name</i> given, <a href="../commands/undef.html">/undef</a>
  removes the definition of the <a href="../topics/macros.html">macro</a>
  with that name.

<p>
  The return value of <a href="../commands/undef.html">/undef</a> is the
  number of macros that were removed.

<p>
  See: <a href="../topics/macros.html">macros</a>,
  <a href="../commands/def.html">/def</a>,
  <a href="../commands/purge.html">/purge</a>,
  <a href="../commands/undefn.html">/undefn</a>,
  <a href="../commands/undeft.html">/undeft</a>,
  <a href="../commands/untrig.html">/untrig</a>,
  <a href="../commands/unhook.html">/unhook</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
