<title>TinyFugue: /undeft</title>
<!--"@/undeft"-->
<h1>/undeft</h1>

<p>
  Usage:

<p>
  <a href="../commands/undeft.html">/UNDEFT</a> <i>trigger</i><br>
<hr>

<p>
  Removes a <a href="../topics/macros.html">macro</a> with a
  <a href="../topics/triggers.html">trigger</a> associated with it that is
  <a href="../topics/triggers.html">trigger</a>ed by the pattern
  <i>trigger</i>.  <i>Trigger</i> is matched against existing
  <a href="../topics/triggers.html">triggers</a> using simple comparison.

<p>
  See: <a href="../topics/macros.html">macros</a>,
  <a href="../topics/triggers.html">triggers</a>,
  <a href="../commands/def.html">/def</a>,
  <a href="../commands/purge.html">/purge</a>,
  <a href="../commands/undef.html">/undef</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
