<title>TinyFugue: /undefn</title>
<!--"@/undefn"-->
<h1>/undefn</h1>

<p>
  Usage:

<p>
  <a href="../commands/undefn.html">/UNDEFN</a> <i>number</i> ...<br>
<hr>

<p>
  Removes <a href="../topics/macros.html">macros</a> with the numbers
  specified in the arguments.  <a href="../topics/macros.html">Macro</a>
  numbers can be determined with <a href="../commands/list.html">/list</a>,
  or from the return value of the command used to create the
  <a href="../topics/macros.html">macro</a>.

<p>
  See: <a href="../topics/macros.html">macros</a>,
  <a href="../commands/def.html">/def</a>,
  <a href="../commands/list.html">/list</a>,
  <a href="../commands/purge.html">/purge</a>,
  <a href="../commands/undef.html">/undef</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
