<title>TinyFugue: /unhook</title>
<!--"@/unhook"-->
<h1>/unhook</h1>

<p>
  Usage:

<p>
  <a href="../commands/unhook.html">/UNHOOK</a> <i>event</i>
  [<i>pattern</i>]<br>
<hr>

<p>
  Removes a <a href="../topics/macros.html">macro</a> with an associated
  <a href="../topics/hooks.html">hook</a> on <i>event</i> <i>pattern</i>.

<p>
  See: <a href="../topics/hooks.html">hooks</a>,
  <a href="../commands/hook.html">/hook</a>,
  <a href="../commands/purge.html">/purge</a>,
  <a href="../commands/undef.html">/undef</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
