<title>TinyFugue: /unset</title>
<!--"@/unset"-->
<h1>/unset</h1>

<p>
  Usage:

<p>
  <a href="../commands/unset.html">/UNSET</a> <i>name</i><br>
<hr>

<p>
  <a href="../commands/unset.html">/Unset</a> removes the value of
  <a href="../topics/variables.html">variable</a> <i>name</i>.

<p>
  <a href="../commands/unset.html">/Unset</a> returns 0 if an error
  occurred, nonzero otherwise.

<p>
  See: <a href="../topics/variables.html">variables</a>,
  <a href="../commands/set.html">/set</a>,
  <a href="../commands/setenv.html">/setenv</a>,
  <a href="../commands/let.html">/let</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
