<title>TinyFugue: /untrig</title>
<!--"@/untrig"-->
<h1>/untrig</h1>

<p>
  Usage:

<p>
  <a href="../commands/untrig.html">/UNTRIG</a> [-a<i>attrs</i>]
  <i>trigger</i><br>
<hr>

<p>
  Removes a <a href="../topics/macros.html">macro</a> with an associated
  <a href="../topics/triggers.html">trigger</a> that is
  <a href="../topics/triggers.html">trigger</a>ed by the pattern
  <i>trigger</i> and has <a href="../topics/attributes.html">attributes</a>
  <i>attrs</i>.  If -a<i>attrs</i> is omitted, -an is assumed.
  <i>Trigger</i> is matched against existing
  <a href="../topics/triggers.html">triggers</a> using simple comparison.

<p>
  See: <a href="../topics/triggers.html">triggers</a>,
  <a href="../commands/trig.html">/trig</a>,
  <a href="../commands/purge.html">/purge</a>,
  <a href="../commands/undef.html">/undef</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
