<title>TinyFugue: /unworld</title>
<!--"@/unworld"-->
<h1>/unworld</h1>

<p>
  Usage:

<p>
  <a href="../commands/unworld.html">/UNWORLD</a> <i>name</i>...<br>
<hr>

<p>
  For each <i>name</i> given, <a href="../commands/unworld.html">/unworld</a>
  removes the definition of the world with that name.
  The <a href="../topics/history.html">history</a> for removed worlds will be
  deleted, but some or all of the lines may still exist in the global
  <a href="../topics/history.html">history</a>.

<p>
  The return value of <a href="../commands/unworld.html">/unworld</a>
  is the number of worlds that were removed.

<p>
  See: <a href="../topics/worlds.html">worlds</a>,
  <a href="../commands/addworld.html">/addworld</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
