<title>TinyFugue: /version</title>
<!--"@/ver"-->
<!--"@/version"-->
<h1>/version</h1>

<p>
  Usage:

<p>
  <a href="../commands/version.html">/VERSION</a><br>
  <a href="../commands/version.html">/VER</a><br>
<hr>

<p>
  <a href="../commands/version.html">/Version</a> displays the TinyFugue
  version you're running and the operating system for which it was compiled
  (if known).

<p>
  <a href="../commands/version.html">/Ver</a> displays an abbreviated version
  number.

<p>
  The latest version of TF should be available for anonymous ftp from
  <a href="ftp://ftp.tcp.com/pub/mud/Clients/tf"> ftp.tcp.com in
  pub/mud/Clients/tf</a>.

<p>
  Also see
  <a href="http://tf.tcp.com/~hawkeye/tf/">http://tf.tcp.com/~hawkeye/tf/</a>
  for the latest info on TF.

<p>
  See: <a href="../commands/changes.html">/changes</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
