<title>TinyFugue: /world</title>
<!--"@/world"-->
<h1>/world</h1>

<p>
  Usage:

<p>
  <a href="../commands/world.html">/WORLD</a> [-lqn] [<i>world</i>]<br>
  <a href="../commands/world.html">/WORLD</a> <i>host</i> <i>port</i><br>
<hr>

<p>
  If <i>world</i> is already connected,
  "<a href="../commands/world.html">/world</a> <i>world</i>" is equivalent to
  "<a href="../commands/fg.html">/fg</a> <i>world</i>", and brings
  <i>world</i> into the <a href="../topics/sockets.html#foreground">foreground</a>.  If <i>world</i> is not connected,
  "<a href="../commands/world.html">/world</a> <i>world</i>" is equivalent to
  "<a href="../commands/connect.html">/connect</a> <i>world</i>", and
  attempts to open a connection to that world.

<p>
  The second form is equivalent to
  "<a href="../commands/connect.html">/connect</a> <i>host</i> <i>port</i>".

<p>
  The -lqn options are the same as those for
  <a href="../commands/fg.html">/fg</a> and
  <a href="../commands/connect.html">/connect</a>.

<p>
  See: <a href="../commands/connect.html">/connect</a>,
  <a href="../commands/fg.html">/fg</a>

<p>
<!-- END -->
<hr>
  <a href="./">Back to index</a><br>
  <a href="http://tf.tcp.com/~hawkeye/tf/">Back to tf home page</a>
<hr>
  <a href="../topics/copyright.html">Copyright</a> &copy; 1995 - 1999 <a href="http://tf.tcp.com/~hawkeye/">Ken Keys</a>
